<style>
.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow: auto;
}

.menu-highlighted {
    font-weight: bold;
}
</style>
<ul class="dropdown-menu scrollable-menu" style="display:block">
    <li mentio-menu-item="item" ng-repeat="item in items track by $index">
<!--    <g-profile-img type="user" path="{{item.Tags.vga}}" name="{{item.Tags.name}}">
    </g-profile-img>-->
        <a class="text-primary" ng-bind-html="item.Tags.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></a>
    </li>
</ul>