<div class="container-fluid task-comments-box">
    <div class="row">
        <!--show previous section--> 
        <div class='col-sm-12 text-center padding-top-10 padding-left-0' ng-if="limitcount && comments.length > 2">
            <div class='' style='margin:0 auto;'>
                <p ng-show="comments.length>limitcount">
                    <span class="icon icon-basic-message-multiple margin-right-5 " style=""></span>
                    <span class="font-small-2 cursor-pointer color-black-alpha-low " ng-click="changelimitcountto(comments.length)" >
                        Show previous {{comments.length - limitcount}}</span>    
                </p>
            </div>

        </div>
        <!--Load more section-->
        <div class="col-sm-4 col-sm-offset-5 text-center padding-top-10 padding-left-0" ng-hide="limitcount" ng-if="comments.length < commentcount && comments.length > 0"> 
            <p class="icon icon-basic-message-multiple pull-left margin-right-5" style="padding-top:3px;"></p>
            <p class="font-small-2 pull-left cursor-pointer color-black-alpha-low " ng-click="load({id: id, lastId: comments[comments.length - 1].id})">Load older</p>
        </div>
    </div>
    <!--comment listing-->
    <div class="row task-comment" ng-repeat="comment in comments |limitTo:limitcount | orderBy : 'created' ">
        <div class="col-sm-11 comment-jugad">
            <!--comment creator--> 
            <div class="comment-creator">
                <g-profile-img path="comment.user_info.vga" width="20px" height="20px" type="user" name="comment.user_info.name" myclass="g-img-25 font-small-2 pull-left" ></g-profile-img>
            </div>
            <!--comment body--> 
            <div class="comment-body">
                <p class="">
                    <!--name--> 
                    <span class="font-small-2 text-bold color-black-alpha" ng-bind="comment.user_info.name"></span>,&nbsp;
                    <span class="font-small-2 color-black-alpha-low " ng-bind="$root.timeagoMoment(comment.created)"></span>
                </p>
                <p class="p-margin-0 font-small-1 line-height-20" > 
                    <span ng-bind="comment.body" ></span>
                </p>
            </div>    
        </div>
        <div class="col-sm-1 padding-left-0 padding-tb-10">
            <span ng-if="comment.user_id == $root.loggeduser" class="pull-right fa fa-trash-o" ng-click="delete({id: id, commentId: comment.id})" style="cursor: pointer"></span>

        </div>
    </div>

                   <!--comment input--> 
    <div class="row comment-input-box padding-top-10" ng-init="commentFocus = false;">
        <div class="col-sm-12">
            <div class='pull-left padding-top-5 comment-user' ng-class="{'opacity-1':commentFocus == true}">
                <g-profile-img path="$root.user_networks.UserInfo.vga" width="20px" height="20px" type="user" name="$root.loggeduser_name" myclass="g-img-25 font-small-2" ></g-profile-img>    
            </div>
            <div class='pull-left col-sm-10'>
                <form ng-submit="add({id: id, body: Comment.body}); resetForm();" name="commentAddForm" id="commentAddForm">
                    <div class="form-group" >
                        <input class="g-input g-input-sm" ng-model="Comment.body" placeholder="Write a comment and press enter to add." ng-focus="commentFocus = true;" ng-blur="commentFocus = false;" />
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>