.modal-graphic{
    width:150px;
    height:150px;
    border-radius: 100px;
    line-height: 150px;
    background-color: white;
}
.modal-body-top-0{
    padding-top: 0;
}

.modal-cta{
    width:30px;
    height:30px;
    border-radius: 30px;
}

.modal-loading{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    padding-top:50px;
}



/*INVITE TO NETWORK*/
.inviteNetworkHead{

}

.userProfileImg{
    background-color: $RED-PRIMARY;
    background-size: cover;

    & img{
        border-radius:150px;
    }
}

/*MAKE A NEW TASK*/ 
.task-important-mark{
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    padding: 5px 15px 0px 15px;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    } 
}

/*TASK FULL SCREEN*/ 
.task-full-modal{

    /*position:relative;*/

    & .modal-dialog{
        width:100%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    & .modal-body{
        position: relative;
        min-height: 700px;
    }
    & .task-full-box{
        padding: 0 25%;
    }
    & textarea,& textarea:focus , & textarea:active{
        border-bottom-color: #dcedc9;
    }

    .deadline-date{

        &:hover .deadline-label{
            color: $RED-PRIMARY;
        }

        & .deadline-input{

            border-bottom: 1px dotted $black-alpha-low;

            &:active, &:focus{
                border-bottom:1px dotted $RED-PRIMARY !important;
            }
        }

    }
    .deadline-time{

        &:hover .deadline-label{
            color: $YELLOW-PRIMARY;
        }
        & .deadline-input{

            border-bottom: 1px dotted $black-alpha-low;

            &:active, &:focus{
                border-bottom:1px dotted $YELLOW-PRIMARY !important;
            }
        }

    }


    & .deadline-label{
        line-height: 34px;
        vertical-align: bottom;
    }



    & textarea::-webkit-input-placeholder {
        color: #c6e2a6;
        font-style: italic;
    }

    & textarea:-moz-placeholder { /* Firefox 18- */
        color: #c6e2a6;
        font-style: italic;
    }

    & textarea::-moz-placeholder {  /* Firefox 19+ */
        color: #c6e2a6;
        font-style: italic;
    }

    & textarea:-ms-input-placeholder {  
        color: #c6e2a6;
        font-style: italic;
    }
}

.task-full-share{

    & .share-with-icon{
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        border : 1px solid $BLUE-PRIMARY;
        color: $BLUE-PRIMARY;
        &:hover{
            background: $BLUE-PRIMARY;
            color: white;
            cursor: pointer;
        }
    }
}
.task-full-cta{
    position: absolute;
    bottom: 30px;
    right:15px;
}

/*TEAM SETTIGNS*/ 
.teamMembersList{
    min-height: 250px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    /*height: 400px;*/
}
.teamMember{

    border-bottom:1px solid $black-alpha-lower;

    .teamImg{

    }
    .memberName{

    }
}
.btn-add-member{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 20px;
    color: $BLUE-PRIMARY;
    border: 1px solid $BLUE-PRIMARY;

    &:hover{
        background: $BLUE-PRIMARY;
        color: white;
    }
}
.team-add-member-input{
    position: relative;

    & .icon-plus{
        position: absolute;
        top: 5px;
        left : 5px;
    }
    & input{
        padding-left:20px;
    }

}
.team-search-box{
    position: relative;

    & p{
        position: absolute;
        top: 5px;
        right : 5px;
    }
    & input{
        padding-right:20px;
    }

}
.team-modal-footer{
    padding-top:15px;
    border-top: 1px solid $black-alpha-lower;
}
.btn-team-rename{

    position: absolute;

    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;

    &:hover{

        text-decoration: underline;    

    }

    &.ng-hide-remove.ng-hide-remove-active {
        -webkit-animation : tourFadeIn 0.5s ease-in-out forwards;  
        -moz-animation:  tourFadeIn 0.5s ease-in-out forwards;
        animation: tourFadeIn 0.5s ease-in-out forwards; 
    }

    &.ng-hide-add.ng-hide-add-active{
        -webkit-animation : tourFadeOut 0.5s ease-in-out forwards;  
        -moz-animation:  tourFadeOut 0.5s ease-in-out forwards;
        animation: tourFadeOut 0.5s ease-in-out forwards;
    }

}
.teamRenameInput{

    position: absolute;

    &.ng-hide-remove.ng-hide-remove-active {
        -webkit-animation : tourFadeIn 0.5s linear forwards;  
        -moz-animation:  tourFadeIn 0.5s linear forwards;
        animation: tourFadeIn 0.5s linear forwards; 
    }

    &.ng-hide-add.ng-hide-add-active{
        -webkit-animation : tourFadeOut 0.5s linear forwards;  
        -moz-animation:  tourFadeOut 0.5s linear forwards;
        animation: tourFadeOut 0.5s linear forwards;
    }
}


/*UPLOAD FILE*/ 
.upload-full-modal{

    /*position:relative;*/

    & .modal-dialog{
        width:100%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    & .modal-body{
        position: relative;
        min-height: 700px;
    }

    & .upload-modal-box{
        padding: 0 20%;
    }
}
.single-upload-file{
    border-bottom: 1px solid $black-alpha-lower;

    & .share-with.disable{
        cursor: default;
        opacity: 0.3;
        &:hover{
            text-decoration: none;
        }
    }
}
.uploading-file-share{
    border-top: 1px solid $black-alpha-lower;
}

.upload-file-name{
    color:$black-alpha;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 20px;        /* fallback */
    max-height: 20*1px;
}
.fileScroll{
    max-height: 350px;
    overflow-y: auto;
}
.taskScroll{

}

/*TASK FULL SCREEN*/ 
.framebench-full-modal{

    /*position:relative;*/

    & .modal-dialog{
        width:100%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    & .modal-content{
        height: 100%;
    }
/*    & .modal-body{
        position: relative;
        min-height: 700px;
    }*/
}