.productivityTip{

    border:1px dashed #F3A4AB;
    border-radius: 10px;
    padding:10px;

}
.notificationInfo{

    & .notificationCounter{
        background-color: #F5D52E;
        color:white;
        padding-top:15px;
        padding-bottom:15px;
    }

    & .notificationIcon{
        /*padding-top:5px;*/
        /*padding-bottom:15px;*/
        /*padding-right: 0;*/
    }

    & .notificationDesc p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-height: 24px;        /* fallback */
        max-height: 24px;
    }

}
.notificationDetail{
    height: 300px;
    overflow-y: auto;
}
