/*
Syntax error: File to import not found or unreadable: bootstrap-variables.
              Load paths:
                /var/www/gridle_master/app/webroot/sass
                /var/lib/gems/1.8/gems/compass-0.12.6/frameworks/blueprint/stylesheets
                /var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 2 of /var/www/gridle_master/app/webroot/sass/style.scss

1: /var/www/gridle_master/app/webroot/sass/style.scss

Backtrace:
/var/www/gridle_master/app/webroot/sass/style.scss:2
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/import_node.rb:67:in `import'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:217:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.19/lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `run'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `run'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/commands/update_project.rb:45:in `perform'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.8/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.8/gems/compass-0.12.6/bin/compass:30
/var/lib/gems/1.8/gems/compass-0.12.6/bin/compass:44:in `call'
/var/lib/gems/1.8/gems/compass-0.12.6/bin/compass:44
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap-variables.\A               Load paths:\A                 /var/www/gridle_master/app/webroot/sass\A                 /var/lib/gems/1.8/gems/compass-0.12.6/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 2 of /var/www/gridle_master/app/webroot/sass/style.scss\A \A 1: /var/www/gridle_master/app/webroot/sass/style.scss"; }
