@import 'variables/_variables.scss';

.g-forgot-pass-wrap{
padding: 8% 10% 10% 10%;	
}

.forgot-pass-main-img{
	padding-top:5%;
}

.form-forgot-pass{
    margin-top:20px;
}
.g-forgot-pass-return{
	margin-top:50px;
}