/* 
    Created on : 10th May, 2014
    Author : Anupama Panchal
    email  : anupama@blogtard.com
    modified :nitish_mittal@gridle.in
*/
/*this css file is for loged out user*/

.homepage_counter{
    background:rgba(0,0,0,0.8);
    color:white;
    padding:5px 10px;
    border-radius:2px;
}

/*---------      general page css     ----------------*/
.colorwhiteshade1{
    color: #F7F5EB;  /*whitish*/
}
.colorgreen{
    color: #2E9984 /*greenish*/
}
.btn_yellow{
    background: #EFC263;
    color: #FFFFFF;
}
.btn_yellow:hover,.btn_yellow:active,.btn_yellow:focus{
    background: #FCCC68;
    color: #FFF;
}
.coloryellow{
    color: #EFC263;
}
.colorred{
    color: #FA8072;
}
.colorgreyish{
    color: #656565;
}
.smalltext{
    font-size: 10px;
}
.mediumtext{
    font-size: 12px;
}
.btn-green{
    background: #5DC295;
    color: #fff;
}
.btn-large{
    padding: 20px 0;
}
.btn-green:hover,.btn-green:focus{
    background: #76d6a8;
    color: #fff;
}
.btn-green-addon{
    padding: 7px 20px;
}
.input_form{
    background: #f7f5eb;
    border-radius: 2px;
    line-height: 1.5em;
}
.input_form:focus{
    background: white;
}

.home_container_wrap{
    margin-top: 5%;
    margin-bottom: 6%;
}
.home_container{
    border: 1px solid #e5e3d3;
    border-radius: 2px;
    max-width: 500px;
    margin: 0 auto;
}
.container_head{
    background: #E5E3D3;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
.container-head-p{
    margin:0;
    font-size: 2em;
    line-height: 2.2em;
    font-weight: 100;
    padding-left: 20px;
}
.container-body{
}

.home_section_old{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    margin-bottom:8%;
}
.home_section_p{
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 10px
}
.home_section_p_sub{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: 100;
    color:#656565;
}
.floatparent{
    overflow: auto; /* wherever we are using float element doesn't want it to collapse'*/
}

.home_container_wrap{
    margin-top: 5%;
    margin-bottom: 6%;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 4px 5px -6px #7f7f7f;
    -moz-box-shadow: 0 4px 5px -6px #7f7f7f;
    box-shadow: 0 4px 5px -6px #7f7f7f;
}


/* anchor tag for homepage*/
.home_anchor{
    text-decoration: underline;
}
label.error{
    display: none;
    font-weight: normal;
}
label.error_enterprise{
    display: none;
    font-weight: normal;
}
.home_wrap{
    padding-top: 50px;
}
.colored_line_pattern_home{
    height: 2px;
    width: 50%;
    margin: 0 auto;
}
.pattern_yellow_sec{
    background: #EFC263;
    width: 20%;
    height: 100%;
    float: left;
}
.pattern_red_sec{
    background: #FA8072;
    width: 10%;
    height: 100%;
    float: left;
}
.pattern_green_sec{
    background: #2E9984;
    width: 70%;
    height: 100%;
    float: left;
}

/****** for page breaks ******/
.line_break{
    background: none repeat scroll 0 0 #EFEFEF;
    display: inline-block;
    height: 2px;
    margin: 0 20px;
    width: 100px;
}
.section_break{
    clear: both;
    margin: 30px 0
}
/* parent of each secton */
.home_section{
    padding:5% 0;
    margin-bottom: 0;
    margin-top: 0;
}
.section_subsection{
    padding-top:5%;
}

/* for content written beside images in homepage */
.section_column_description{
    font-size: 1.1em;
    text-align: left;

    line-height: 1.6em;
    padding: 2% 20px 10px 20px;
}
.section_column_description h2{
    font-size: 1.4em;
    line-height: 2em;
}
.section_column_description p{
    text-align:justify;
}
/*for images/svg right side of section*/
/*.section_right_img{
    text-align:left;
    display: inline-block;
    width: 550px;
}
.section_left_img{
    text-align: center;
    max-width: 300px;
}*/
/***** for header with colored strip ***************/
.section_heading    
{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 50px;
    margin:5px;
}

.section_subheading{ 
    color: #333333;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    margin:5px;
}

/************************** general over ******************************/
/***************** for testimonial design present in each page********************/
.section_column_testimonial{
    margin : 2% 14% 0 14%;
    padding:10px 10px;
}
.testimonial_user_img_div{
    /*overflow: hidden;*/
    display: inline-block;
    text-align: right;
}
.testimonial_user_img{
    width:100%;
    max-width: 70px;
    border-radius: 40px;
}
.testimonial_text{
}
.testimonial_user_line{
    color:#656565;
    font-size: 1.3em;
    font-family: 'Delius', cursive;
    margin: 0;
}
.testimonial_user_line .fa{
    color: #D0CFD0;
}
.testimonial_username{
    font-size: 1em;
    color: #2a6496;;
    text-align: right;
    margin-top:10px;
}

/*--------------------------------------------------------------------------*/
/********************* home_header ***************************************/
#gridle_header{
    text-align: center;
    height:50px;
    position: fixed;
    background: #ffffff;
    width: 100%;
    top:0;
    z-index: 10000;
}
.header_nav{
    height: 50px;
    line-height: 50px;
}
#gridle_header p{
    margin-bottom: 0px;
}
#gridle_logo_p{
    display: inline-block;
    margin-bottom: 0px;
}
#login_signup{
    display: inline-block;
    font-size: 1em;
}
#login_signup a{
}
.header_nav_dropdown{
    text-align: left;
}
.header_nav_dropdown_btn{
    /*line-height: 50px;*/
    display: inline-block;
    padding:0 10px;
}
.header_nav_dropdown_btn:hover,.header_nav_dropdown_btn:active,.header_nav_dropdown_btn:focus{
    background: #FFFFFF;
}
.header_nav_dropdown_menu{
    background-color: #FFFFFF;
    margin-top: -1px;
    border-top: none;
    border:none;
}
.header_nav_dropdown_menu > li > .header_nav_dropdown_link{
    color: #428bca;
    font-size: 1em;
    line-height: 30px;
    font-weight: 300;
}
.header_nav_dropdown_menu > li > .header_nav_dropdown_link:hover{
    color: #2a6496;
    background: #f7f5eb;
    text-decoration: underline;
}

/********************* home_header ends***************************************/


/********************* home page ********************************************/

/***************************************section1*************************/
#section1{
    padding-bottom: 5%;
    position: relative;
}
.section_main_image{
    padding: 0 20%;
}
.section1_text{
    color: #333;
    padding: 0%;
    text-align: center;
    font-size: 2em;
    //font-family: 'Roboto',sans-serif;
    font-family: 'proxima-nova-light';
    font-weight: 100;
}
.section1_subtext{
    font-size: 1.2em;
    text-align: center;
}
#section1_bottom{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#homesvgtext{
    letter-spacing: 0.05em;
}
/***************************section 1 over*****************/
/************************** section2 **********************/
#section2{
    /*min-height: 600px;*/
}
#section2_left{
    /*    margin-top: 55px;*/
}
#section2_right{

}
/***********************section2 over***********************/
/* ******************* section3 start**********************/
#section3{
    /*    min-height: 600px;*/
}

#section3_right{
    /*margin-top:100px;*/
}
/* ******************* section3 over**********************/
/* ******************* section4 start**********************/
#section4{
    /*min-height: 600px;*/
}
#section4_left{
    /*margin-top: 100px;*/
}
/* ******************* section4 over**********************/
/****************************home page over **************************/


.vertical_colored_pattern
{
    width: 2px;
    height: 5.5em;
    margin: 0 auto;
}
.vertical_yellow
{
    background: #EAC55A;
    width: 2px;
    height: 20%;
    margin:0;
}
.vertical_red{
    background: #F87E6F;
    width: 2px;
    height: 10%;
    margin:0;
}
.vertical_green
{
    background: #2e9984;
    width: 2px;
    height: 70%;
    margin:0;
}




.section-white{
    background: #fff;
}
.section-offwhite{

}

.section_content{
    text-align: center;
    font-size: 1.2em;
    margin: 2% 15%;
}

.section_column_heading{
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.section_image_heading
{
    text-align: center;
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 300;
}


.section_main_image_mask{
    position: absolute;
    top: 0;
    height: 67%;
    background: rgba(0,0,0,0.3);
    width: 100%;
}

#pattern_section{
    bottom: 50%;
    left: 43%;
    position: absolute;
    width: 24%;
}
.image_top_heading{
    font-size: 1.4em;
    color: #f7f5eb;
}
.image_top_description{
    color: white;
}
.image_top_heading, .image_top_description{
    background: rgba(255,255,255,0.7);
    color: #333;
    margin: 0 20% 0 20%;
    padding:10px;
    font-weight: 300;
}
.signup_section{
    /*background: #BDE3DF;*/
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.home_signup_btn{
    padding: 20px 70px;
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signup_section_links{
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 300;
}

#home_press{
    text-align: center;
}
.home_press_icon{
    margin: 20px;
    height: 50px;
}


/*********************** SIGNUP PAGE *****************************************************/
#signup_wrap
{
    padding-top: 10px;
}
.signup_rightsection{
    margin-top: 50px;
}
.signup_rightsection h2{
    font-size: 2em;
}
#signup_section
{
    padding: 10% 0;
}
#signup_enterprise{
    background: #505050;
    padding: 40px 0;
}
#signup_enterprise h2{
    color: #fff;
    font-size: 2em;
}
#signup_enterprise h4{
    color:#00dbff;
}

/*********************** SIGNUP PAGE ENDING****************************************/



/*********************** Pricing Page ********************************************/

#pricing_plan_div{
    padding:20px 0;
}
#pricing_faq_div{
    padding:50px 10px;    
}
#faq_wrap{

}
.faq_div{
    padding:20px;
    /*border-bottom: 1px solid #ccc;*/
}
.faq_question{
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em;
    color: #000;
    font-weight: 400;
    /*color: #FA8072;*/
}
.faq_highlight{
    color: #FA8072;
}
.faq_question .fa {
    color: #FA8072;
}
.faq_answer{
    text-align: justify;
    font-size: 1.1em;
    /*letter-spacing: 0.1em;*/
    font-family: 'Open Sans',sans-serif;
}
#gridle_pricing-table {
    margin-top: 50px;
    text-align: center;
    zoom: 1;
}

#gridle_pricing-table:before, #gridle_pricing-table:after {
    content: "";
    display: table
}

#gridle_pricing-table:after {
    clear: both
}

/* --------------- */	

#gridle_pricing-table .plan {
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    /*width: 23%;*/
    /*float: left;*/
    /*_display: inline;  IE6 double margin fix */
    // position: relative;
    margin: 20px 0px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
}

#gridle_pricing-taeble .plan:after {
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 10px;
    right: 4px;
    width: 80%; 
    top: 80%; 
    -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
    -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    -webkit-transform: rotate(3deg);    
    -moz-transform: rotate(3deg);   
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);	
}	

#gridle_pricing-table .popular-plan {
    top: -20px;
    padding: 40px 20px;   
}

/* --------------- */	

#gridle_pricing-table .header {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background-color: #eee;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
}


#gridle_pricing-table .popular-plan .header {
    margin-top: -40px;
    padding-top: 60px;		
}

#gridle_pricing-table .plan1 .header{
    border-bottom-color: #B3E03F;
}

#gridle_pricing-table .plan2 .header{
    border-bottom-color: #7BD553;
}

#gridle_pricing-table .plan3 .header{
    border-bottom-color: #3AD5A0;
}

#gridle_pricing-table .plan4 .header{
    border-bottom-color: #45D0DA;
}			

/* --------------- */

#gridle_pricing-table .price{
    font-size: 45px;
}

#gridle_pricing-table .monthly{
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
}

/* --------------- */

#gridle_pricing-table ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

#gridle_pricing-table li {
    padding: 10px 0;
}

/* --------------- */

#gridle_pricing-table .signup {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;     
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: .9;       
}

#gridle_pricing-table .signup:hover {
    opacity: 1;       
}

#gridle_pricing-table .signup:active {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
}			

#gridle_pricing-table .plan1 .signup{
    background: #B3E03F;
}

#gridle_pricing-table .plan2 .signup{
    background: #7BD553;
}

#gridle_pricing-table .plan3 .signup{
    background: #3AD5A0;
}

#gridle_pricing-table .plan4 .signup{
    background: #45D0DA;
}	

table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
.clr{
    clear: both;
}
.header .sub_header{
    font-size: 0.6em;
    text-transform: none;
    color: #a0a0a0;
}
/*********************** Pricing Page ends******************************************/

/*********************** CHECK EMAIL PAGE ******************************************/
#check_email_wrap{
    padding: 0;
    padding-top: 50px;
    /*background: #FFE9BC;*/
}
#check_email_section{
    padding-top:20px;
    padding-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.check_mail_svg{
    margin: 0 15%;
}
#check_email_bottom{
    margin:0% 15%;
    margin-top: 10%;
}
.check_email_bottom_svg{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.check_email_bottom_link{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
    top: 0;
}
.check_email_bottom_column{

}
.check_mail_msg{
    color: #2e9984;
    font-weight: 100;
    font-size: 2em;
    /*letter-spacing: 0.1em;*/
}
.check_mail_bottom_txt{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 2em;
}
#check_email_bottom_left{
    border-right: 1px solid #7f7f7f;
}
#check_email_bottom_right{

}
/*********************** CHECK EMAIL END PAGE****************************************/

/*----------------------------  FEATURES PAGE ----------------------------------*/

#features_wrap
{
    /*background: brown;*/
    margin-top: 20px;
}
.feature_div
{
    padding: 50px 20px;
    margin: 10px;
}
.feature_div_top{
    /*padding: 15px 0 0 40px;*/
}
.feature_heading h2
{
    font-family: 'Roboto',sans-serif;
    padding: 5px 0px;
    /*background: springgreen;*/
    font-size: 2em;
    font-weight: 300;
    margin: 0;
}
.feature_subheading h4
{
    /*font-family: 'Roboto',sans-serif;*/
    font-size: 1.2em;
    /*letter-spacing: 0.1em;*/
    padding: 10px 0px;
    margin:0;
    line-height: 1.5em;
}
.feature_explained
{
    /*padding:0px;*/
    margin-top: 3%;
}
.feature_description
{
    /*font-family: "Open Sans",sans-serif;*/
    padding:50px 0;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    /*letter-spacing: 0.1em;*/
}
.feature_media
{

}
.feature_svg
{
    padding: 0 10%;
    text-align: center;
}
.features_footer
{
    text-align: center;
    line-height: 50px;
    display: none;
}
.feature-icon_holder{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #f7f5eb;
    display: inline-block;
    margin:5px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.feature-icon_holder:hover
{
    background-color: #2e9984;
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

}
.feature-icon
{


}
/*------------------------------------------------------------------------------*/
/******************  about us page    ******************************************/


#aboutus_wrap{
    margin: 0 auto;
    /*padding: 20px 50px;*/
    text-align: center;
}

.our_story_para{
    padding:10px;
    padding-bottom: 20px;
    font-size: 1em;
    /*letter-spacing: 0.08em;*/
    line-height: 1.8em;
    text-align: justify;
    margin: 2% 15%;

}

img.desaturate{
    -webkit-filter: grayscale(1); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    filter: gray; 
    filter: grayscale(100%);
}
#myCarousel{
    margin-top: 50px;
}

#team_gallery{
    margin: 0 auto;
}
.gallery_sec{
    padding:30px 0;
}
.team_photo_div{
    display: inline-block;
}
.team_photo_sec{
    position: relative;
}
.team_photo_img{

}
.team_photo_name{
    font-size: 1.5em;
    font-weight: 100;
}
.team_photo_designation{

}
.team_photo_describe{

}
.team_social{
    background: black;
    background: rgba(0,0,0,0.5);
    position: absolute; 
    bottom:0; 
    width:100%;
    margin:0;
    display: none;
}

.team_social .fa{
    margin: 5px;
    color: #2e9984;
    background:#f7f5eb;
    width: 30px;
    height:30px;
    border-radius: 15px;
    line-height: 30px;
    cursor: pointer;
}

.team_photo_sec:hover .team_social{
    display: block;
    -webkit-transition: display 1s ease;
    -moz-transition: display 1s ease;
    -o-transition: display 1s ease;
    transition: display 1s ease;
}
#investor_wrap{
    margin: 10% 0;
}

.custom-tooltip + .tooltip > .tooltip-inner{
    background: #fff;
    color:#333;
    opacity: 1;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
}
.tooltip.top .tooltip-arrow{
    font-size: 2em;
}
.tooltipcontent{
    /*font-family: 'Roboto', sans-serif;*/ 
}
/******************  about us page ends ******************************************/


/* ---------------  press page      -------------------------------- */

.news_article_div
{
    padding: 20px;
    margin: 50px 0;
}
.article_style
{

}
.article_style_alt
{
    /*background:#f7f5eb;*/
}
.news_logo_div
{

}
.news_logo_img{
    width:100%;
}
.news_article
{

}
.news_article_heading
{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin:0;
    line-height: 1.3em;
}
.news_article_subheading
{
    font-size: 0.8em;
    color: #7f7f7f;
    margin: 10px 0;
}
.news_article_date
{
    color:#656565;
}
.news_article_author
{

}
.news_article_content
{
    font-size: 1.1em;    
}
.news_article_link
{

}
/*-------------------------------------------------------------------*/
/*------------  policies page       ---------------------------*/
.terms_wrap
{
}
.policies_content
{
    padding: 50px 30px;
    font-size: 0.9em;
    text-align: justify;
}
.policies_content p
{
    margin: 15px 0;
}
.policies_heading
{
    font-size: 1.5em;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    margin-top: 40px;
}
/*--------------------SUPPORT PAGES ----------------------------------*/
#support_wrap{
    /*
        background: url('/img/homepage/abhishek.JPG') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}
#form_message{
    text-align: center; 
    /*line-height: 3em;*/
    margin-top: 10px;
    padding: 0 15px;
    opacity:0;
}
#form_message p{
    padding:10px;
}
.support_form_parent{
    margin: 10px 0;
}
#support_div{
    background: rgba(255,255,255,0.4);
    padding:30px 10% 5% 10%;
}
#support_form_div
{
    background:#f7f5eb;
    background: rgba(255,255,255,0.6);
    border-radius: 2px;
}
#support_bottom{
    text-align: center;
    font-size: 1.2em;
}
.content_highlight{
    font-weight: 600;
    color: black;
}
/*--------------------------------------------------------------*/
/*              CONTACT PAGE            */
#contact_wrap
{
    padding-top: 50px;
    /*background: url('/img/homepage/people/5.jpg');*/
}
#contact_div
{
    margin-top:70px;
    margin-bottom: 2%;
    /*padding:2%;*/
    background: rgba(255,255,255,0.8);
}
#contact_main_para
{
    padding:5% 15%;
    font-size: 1.2em;
    color:#7f7f7f;
}
#contact_icons_div
{
    /*background: #f7f5eb;*/
    //padding:2%;
    text-align: center;
    border-radius: 2px;
}
.contact_icon_sec{
    margin-top: 20px;
}
.contact_icon_holder
{
    display: inline-block;
    /*background: #f7f5eb;*/
    line-height: 50px;
    //width:200px;
    border-radius: 100px;
    /*margin: 0 10px;*/
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.contact_icon_sec:hover .contact_icon_holder1{
    background:#333;
    color:#EAC55A;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.contact_icon_sec:hover .contact_text1{
    color: black;
}
.contact_text{
    /*color: #7f7f7f;*/
}
.contact_icon
{
    font-size: 3em;
}

/*          BENEFITS PAGE                   */
#benefits_wrap{
    padding-top: 50px;

}
#benefits_landing{
    padding: 50px 0;
    background: url('/img/patterns/white.gif') repeat;
}
#benefits_description{
    color: #656565;
    padding: 50px 50px;
    font-size: 1.1em;
    text-align: justify;
}
#benefits_listed{
    /*margin-top: 20px;*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/

}
.benefits_div{
    padding:50px 30px;
    margin-left: -15px;
    margin-right: -15px
}
#signup-btn-section{
    padding:2% 0;
}

/*************** testimonial page css ***************/

#testimonial_section1_left{

}
#testimonial_section1_subsection{

}
#landing_section
{
}
#landing_image
{
    width: 100%;
}

#landing_para{
    padding: 10px;
}
#landing_div
{
    position: relative;
}
#landing_para_head
{
    font-size: 28px;
    font-family: 'Roboto',sans-serif; 
    font-weight: 100;   
}
#landing_para_content
{
    font-size: 1.2em; 
    margin-top: 5%; 
    color: #333; 
}
#landing_photo_credits{
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    color: #656565;
}
.landing_para_content_highlight{
    color:#333;
}
#landing_para_user
{
    text-align: right; 
    margin-top: 5%;
}
.landing_para_user_highlight{
    color: #7f7f7f;
}
#landing_signup
{
    position: absolute;
    bottom:2%;
    width:100%; 
    text-align: center;
}
#landing_signup_btn
{
    border-radius: 0;
    padding:15px 30px;
}
#landing_signup_tagline{
    color:white;
    font-size: 1.2em; 
}




/************ old layput css **********************/

/************** Login Page****************************************************/

#login_div{
}
#login_head{

}
.terms{
    font-size: 10px;
    text-align: center;
}
#login-form{
    width:65%; 
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

#login-btn{
    float: right;
}

#login-forgot{
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}   
#login-forgot a{
    color: #7f7f7f;
}
#login-form  label
{
    padding-top: 3px;
    font-size: 0.9em;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
}

/*********************** Login Page ends**************************************/

/************** Forgot Password for login*******************************************/


#forgotpwd_div{
    margin: 0 auto;
    max-width: 500px;
}
#forgotpwd_head{

}

.forgotpwd-body{
    padding-bottom: 20px;
}
#forgotpwd-form{
    width:65%; 
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

#forgotpwd-form label.error
{
    opacity: 0;
    padding-top: 3px;
    font-size: 0.9em;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
}
/************** Forgot Password for login ends *******************************************/
/************** pwd verification *************************************************************/

#pwdverify_div{
    margin: 0 auto;
    max-width: 500px;
}
#pwdverify_head{

}
#pwdverify-form{
    width:80%; 
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
#pwdverify-form:after{
    clear: both;
    display: table;
    content: ""
}

.reset-body{
    padding-bottom: 20px;
}
.verifymsg{
    padding-bottom: 10px;
    text-align: center;
}
#pwdverify-form  label
{
    padding-top: 3px;
    font-size: 0.9em;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
}
/************** pwd verification ends*************************************************************/
/********************** Reset pwd **************************************************************/
#resetpwd{
    margin: 0 auto;
    max-width: 500px;
}
#resetpwd_head{
}

#resetpwd-form{
    width:65%; 
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
#resetpwd-form:after{
    clear: both;
    display: table;
    content: ""
}

#resetpwd-form  label
{
    padding-top: 3px;
    font-size: 0.9em;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
}
#resetpwd-form label .error{
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 5px;
    opacity: 0;
    padding-top: 3px;
}
/********************** Reset pwd ends**************************************************************/
/********************* Registration ***************************************************************/
#registration_head{
    background: none;
}
#registration_line{
    width:70%;
}
#registration_container{
    margin-top: 0%;
}
#registration_head_p{
    line-height: 1.2;
    font-size: 1.5em;
    padding-left: 0;
    margin: 15px 0;
}
#gridle_registration{
    width: 80%;
    margin: 0 auto;
}
.input_group{
    margin: 10px 0;
}
.help-block{
    margin-bottom: 0;
    font-size: 10px;
}
.registration_input{
    width:85%; 
    display: inline;

}
.registration_mark{
    width:10%;
    padding-left: 5px; 
    margin: 10px 0;
    font-size: 10px;
}
.imgcontainer{
    margin: 0 auto;
}
.registration_input2{
    width: 93%;
    display: inline;
}
.registration_mark2{
    width:4%;
    margin: 10px 0;
    font-size: 10px;
}

.uploadimgdiv{
    text-align: center;
    margin: 0 auto;
}
#imgpreview{
    border: 5px solid #fff;
    max-width: 300px;
}
#imgpreview:hover{
    cursor: pointer;
}
#uploadBtn{
}
#uploadimage-btn{
    display: none;
}
.imgcontainer{
    position: relative;
    margin-bottom: 5px;
}
.img_p{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}
.imgcontent{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    width: 39%;
    left: 30.5%;
    bottom: 5px;
    color: #F7F5EB;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 12px;
}
.imgcontent:hover{
    cursor: pointer;
}
.gridle_checkbox{
    font-size: 10px;
}
.gridle_checkbox label{
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.gridle_checkbox input{
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.imgwrap{
    position: relative;
}
.terms_of_use{
}
#email_id{
    width: 93%;
    color:#A7ADA2;
    cursor:auto;
}
.help-block.ng-hide-add, .help-block.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block !important;
}

.help-block.ng-hide-add.ng-hide-add-active,
.help-block.ng-hide-remove {
    display: block !important;
    opacity:0;
}

.help-block.ng-hide-add,
.help-block.ng-hide-remove.ng-hide-remove-active {
    display: block !important;
    opacity:1;
}
/********************* Registration ends***************************************************************/

/************************ FOOTER *****************************************/
#gridle_footer
{
    background: #404040;
    padding: 50px 12% 20px 12%;
    color:#7f7f7f;
}
.footer-section
{
    text-align: left;
}
.footer-section-heading
{
    font-size:1.1em;
    letter-spacing: 0.1em;
    font-weight: 100;
    color:#fff;
}
.footer-section-links-box
{
}
.footer-section-links{
    color: #2a6496;
    font-size:1em;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    font-weight: 100;
}
.footer-section-links:hover{
    color:#428bca;
}
#footer_emailus{
    display: none;
    margin-top: 30px;
    color:#656565;
}
#copyright_sec{
    padding: 0px 0;
    text-align: left;
    line-height: 50px;
    color:#656565;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8em;
}
#copyright_brand{
    letter-spacing: 0.1em;
    font-weight: 300;
}
#copyright_logos{
    background: #333;
    text-align: center;
    padding: 15px;
}
.investor_logo{
    margin: 0 20px;
}
/************************ home footer ends*************************************/

/******************media queries ***************************************/
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    #features_wrap{
        padding: 20px 50px;
    }

    #landing_para
    {
        position: absolute; 
        right: 10%; 
        top: 20%; 
        width:300px;
    }

    #faq_wrap{
        padding: 10px 50px;
    }
    .press_wrap{
        padding: 10px 10% 50px 10%;
    }
    #news_articles_wrap{
        padding: 2% 12%;
    }
    #about_wrap{
        padding:20px 15% 0 15%;
    }
    #our_story_wrap{
        padding: 50px;
    }
    .terms_wrap{
            padding: 20px 10% 20px 10%;

    }
}


@media (max-width:640px){
    #gridle_header{
        text-align: left;
    }
    #login_signup{
        display: inline-block;
        font-size: 0.8em;
    }
    #gridle_footer{
        padding: 5%;
    }
    #copyright_sec #copyright_brand{
        text-align: center!important;
        padding: 5%;
    }
    #copyright_logos a img{
        padding: 2%;
    }
    /**********homepage mobile css ****************/
    .section1_text{
        font-size: 1.3em;
    }
    .section1_subtext{
        font-size: 1em;
        line-height: 1.5;
    }
    .section_main_image_text {
        position: absolute;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        background: none repeat scroll 0% 0% rgba(247, 245, 235, 0.8);
        padding: 3px;
        text-align: center;
        left: 19%;
        font-size: 1em;
        width: 62%;
        bottom: 70%;
    }
    .btn-responsive{
        font-size: 1em;
    }

    #section3_left,#section2_right,#section4_right{
        padding: 0px 20%;
    }
    #section3_right,#section2_left{
        //  margin-top:0px;
    }
    .home_section .font-big-3{
        font-size: 1em;
    }

}

/* Education page */
.education_landing_img{
    padding: 0 30%;   
}