@import 'variables/_variables.scss';

.login-wrap{
	font-family : 'proxima-nova-light';
	padding: 5% 10% 20% 10%;
	background:url('/img/patterns/pattern_wave.jpg');
}

.login-main-img-div{
	
}
.login-section{
	background:white;
	background:rgba(255,255,255,0.85);
	border-radius:5px;
	padding-bottom:20px;
}
.login-main-img{
	padding-top:20px;
}
.login-heading{
	border-radius:5px;
	background:url('/img/patterns/loginbanner.svg');
	.form-heading{
		margin-bottom : 0;
		margin-top:0;
		line-height:100px;
		font-family: 'proxima-nova-extra-bold';
	}
}

.form-login{
        margin-top:20px;
		padding:0 15%;
		padding-top:20px;

}

.form-login-area{
	border-radius:5px;
	padding:0 40px 20px 40px;
}

/*	bootstrap override		*/

.checkbox label{
	line-height : 13px;
}

.checkbox input[type="checkbox"]{
    margin:0px;
}
.login-remember-me{
	background:#e0e0e0;
	padding-left:20px;
	.checkbox{
	min-height:initial;
	margin-bottom:9px;
	margin-top:9px;
	}
}
.login-sublinks{
	padding-top:50px;
}
.g-login-fp-link{
}
.btn-login{
	border-radius:0;
}