@import 'variables/_variables.scss';

.g-reset-pass-wrap{
padding: 5% 10% 10% 10%;	
}

.reset-pass-main-img{
	padding-top:5%;
}

.form-reset-pass{
    margin-top:20px;
}

.form-reset-pass-area{
	padding:0 3%;
}
.reset-pass-support{
	margin-top:20px;
}