@import 'variables/_variables.scss';

.g-user-reg-wrap{
	font-family : 'proxima-nova-light';
	padding: 5% 10% 20% 10%;
	background:url('/img/patterns/pattern_wave.jpg');
}
.user-reg-main-img-div{
	
}
.user-reg-main-img{
	padding-top:5%;
}

.form-user-reg-area{
	padding: 0 5%;
}
.form-user-reg{
  margin-top:20px;
  padding-top:5%;
  //padding-right:15%;	
}

.signup-section{
	background:white;
	background:rgba(255,255,255,0.85);
	border-radius:5px;
	padding-bottom:20px;
}

.signup-heading{
	border-radius:5px;
	background:url('/img/patterns/loginbanner.svg');
	.form-heading{
		margin-bottom : 0;
		margin-top:0;
		line-height:100px;
		font-family: 'proxima-nova-extra-bold';
	}
}

.form-signup{
        margin-top:20px;
		padding:0 15%;
		padding-top:20px;

}

.form-signup-area{
	border-radius:5px;
	padding:0 40px 20px 40px;
}

.signup-sublinks{
	margin-top:20px;
}
