<div id="footer-inside" class="footer-inside container-fluid">
    <div class="text-center row">
        <!--<p class="footer-in-logo p-margin-0">gridle</p>-->
        <p class="footer-links-section text-muted">
            <a href="http://gridle.freshdesk.com" target="_blank" class="footer-in-link"  >Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/pages/terms" target="_blank" class="footer-in-link"  >Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/networks" class="footer-in-link"  >Networks</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/pages/contact" target="_blank" class="footer-in-link"  >Contact</a>
            <!--<span class="footer-in-link btn-support" click="" id=""  >Support</span>-->
        </p>
       <p id="" class="text-muted font-small-1">©2012-15 Ionth Global Ltd. All rights reserved</p>
    </div>
</div>
