<div class="modal-header">
    <div class="row">
        <p class="text-center text-bold text-dim col-sm-10 col-sm-offset-1">
            Create your workspace
        </p>
        <p ng-click="cancel()" class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer pull-right col-sm-1"></p>
    </div>
</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20 bg-red">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="text-center">
                    <img src="/img/defaults/workspace_2.png" height="150" />
                </p>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white font-big-2 margin-top-10">Name your workspace</p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <input class="form-control gridle-input input-sm" placeholder="What's the name going to be?" ng-model="Network.name" autofocus/>
                    <p class="text-dim padding-top-5 font-small-2 padding-left-30">Could be the name of your company or project or just about anything that sounds good.</p>
                </div>
            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-30">
            <div class="col-sm-5 col-sm-offset-7">
                <button class="btn btn-primary btn-block pull-right" ng-click="addNetwork(Network)">Add workspace</button>
            </div>
        </div>
    </div>
</div>
