<div class="modal-header" ng-controller='sidebarCtrl'>
    <!--<div ng-include src="'/js/modules/common/productivityTip.html'" ></div>-->
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class='row inviteNetworkHead padding-tb-20'>
            <div class="col-sm-12 text-center">
                <p class='text-muted' ><span class="fa fa-group text-muted"></span> Collaborate 1-to-1 with people.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-bold">Add people</p>
                <p>Because you don't always need a team to work.</p>
                <div class='form-group margin-top-10'>
                    <textarea class='form-control' rows="3" placeholder='Add via e-mail Id'></textarea>
                </div>
            </div>
        </div>
        <div class='row margin-top-50'>
            <div class='col-sm-4 col-sm-offset-8'>
                <button class='btn btn-block btn-blue btn-block'>Good to go!</button>
            </div>
        </div>
    </div>
</div>
