<div class="modal-header">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-dim">
            <!--ICON--> 
            <p class="icon icon-basic-paperplane col-sm-1 text-right padding-lr-0" style="padding-top: 2px;"></p>
            <!--MODAL HEADING--> 
            <p class="col-sm-11 text-bold padding-lr-0">
                &nbsp;&nbsp;Collaborate 1-to-1 with people
            </p>
        </div>
        <!--CLOSE BUTTON--> 
        <div class="col-sm-2 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!--PRODUCTIVITY TIP--> 
        <div class="row">
            <div class="col-sm-12 padding-lr-0 padding-tb-10">
                <p class="">
                    <span class="fa fa-star font-big-1" style="color:#ffe066;"></span>
                    <span class="text-italic text-bold" style="color:#c5dfaa">Productivity tip:</span>
                    <span class="font-fmall-2 text-dim text-italic">There is no limit on the number of people you can have. Most people add their team, consultants as well as relevant stake holders.</span>
                </p>
            </div>
        </div>
        <form name="WorkspaceInvitation">
        <div class="row">
            <div class="col-sm-12">

                <div class='form-group margin-top-30'>

                    <tags-input ng-model="inviteNetworktags" name="personEmailId" id="personEmailId" templateUrl="/scripts/View/ngTags/tag-item.html" display-property="email" placeholder='Type comma separated email addresses.' allowed-tags-pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                    </tags-input>
                    <!--error messages here-->
                    <div ng-show="WorkspaceInvitation.personEmailId.$dirty" class="color-red font-small-1 padding-top-5 padding-left-30" >
                        <p ng-show="WorkspaceInvitation.personEmailId.$error.required">Please enter a valid email address</p>
                    </div>
                    <div ng-show="WorkspaceInvitation.personEmailId.$valid"> 
                    <p class="text-dim font-small-1 padding-top-5 padding-left-30">As soon as the invitations are sent out, you will be able to share tasks, files and teams with them</p>       
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class='row margin-top-50'>
            <div class='col-sm-4 col-sm-offset-8'>
                <button class='btn btn-block btn-primary btn-block' ng-click="addToNetwork(inviteNetworktags)">Good to go!</button>
            </div>
        </div>
    </div>
</div>
