<div class="modal-header">
    <div class="row">   
        <div class="col-sm-10 col-sm-offset-1 text-dim padding-lr-0">
            <p class="text-bold padding-lr-0 text-center btn-team-rename cursor-pointer">
                <span>Leave workspace</span>
            </p>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20 bg-red">
            <div class="col-sm-4 col-sm-offset-4 padding-lr-0 text-center">
                <P class="icon icon-basic-ban text-center modal-graphic color-red" style=" padding-top:8px; font-size: 50px; " ></P>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white font-big-2 margin-top-20">
                    <span>Leave </span>
                    <span ng-bind="currentNetwork" ></span>
                </p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-12">

                <p class="text-muted text-center font-small-1"></p>
            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-50">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-primary btn-block pull-right" ng-click="leaveNetwork(leaveUserData.user.UserInfo.user_id)">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>
