<div class="modal-header">
    <div class="row">   
        <div class="col-sm-10 col-sm-offset-1 text-dim padding-lr-0">
            <p class="text-bold padding-lr-0 text-center btn-team-rename cursor-pointer">
                <span>Remove user</span>
            </p>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20 bg-red">
            <div class="col-sm-4 col-sm-offset-4 padding-lr-0 text-center">
                <P class="icon icon-basic-trashcan text-center modal-graphic color-red" style=" padding-top:8px; font-size: 50px; " ></P>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white font-big-2 margin-top-20">
                    <span ng-bind="removeUserData.user.UserInfo.name"> </span>
                    <span> will be removed from the workspace</span>
                </p>
            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-50">
            <div class="col-sm-4 col-sm-offset-8 padding-lr-0">
                <button class="btn btn-primary btn-block pull-right" ng-click="removeUserNetwork(removeUserData.user.UserInfo.user_id,removeUserData.index)">Yes, Remove</button>
            </div>
        </div>
    </div>
</div>
