<div class="modal-header">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-dim">
            <p class="icon icon-basic-settings col-sm-3 text-right padding-lr-0" style="padding-top: 2px;"></p>
            <p class="col-sm-9 text-bold padding-lr-0">
                &nbsp;&nbsp;Rename your workspace
            </p>
        </div>
        <div class="col-sm-2 pull-right" ng-click="cancel()">
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>

</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20" style="background-color: #70c1b3">
            <div class="col-sm-4 col-sm-offset-4 padding-lr-0 text-center">
                <P class="modal-graphic icon icon-basic-settings" style="color:#c6e7e1; padding-top:8px; font-size: 50px;" ></P>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white margin-top-15">What's in the name? Well, pretty much everything.</p>
            </div>
        </div>
        <form name="WorkspaceRename">
        <div class="row margin-top-30">
            <div class="col-sm-12 ">
                <div class="form-group">

                    <input class="form-control gridle-input input-sm" name="rename_network" id="rename_network" placeholder="Give name to your workspace" ng-model="editNetwork.name" ng-pattern="/^[a-z0-9 _\-\']*$/i"  ng-maxlength="30" ng-minlength="2" autofocus required ng-trim=false />
                    <!-- Errors-->
                    <div ng-show="WorkspaceRename.rename_network.$dirty" class="color-red text-bold font-small-2 padding-top-5 padding-left-30">
                        <div class="row">
                        <p ng-show="WorkspaceRename.rename_network.$error.required">Please give a name to your new network</p>
                        <p ng-show="WorkspaceRename.rename_network.$error.minlength">Minimum 2 characters are required</p>
                        <p ng-show="WorkspaceRename.rename_network.$error.maxlength">Name is too long.</p>
                        <p ng-show="WorkspaceRename.rename_network.$error.pattern">Alphabets, numbers, spaces, hyphens (-), underscores(_) and single quotes (') are allowed only</p>
                        </div>
                    </div>
                    <div ng-show="WorkspaceRename.rename_network.$valid">
                    <p class="text-dim font-small-2 padding-top-5 padding-left-30" style="">Could be the name of your company or project or just about anything that sounds good.</p>
                    </div>
                </div>

            </div>
        </div>
        </form>
        <!--BUTTON--> 
        <div class="row margin-top-30">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-primary btn-block pull-right" ng-click="editNetworkName(editNetwork)">Save</button>
            </div>
        </div>
    </div>
</div>
