<div class="modal-header">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-dim">
            <p class="icon icon-basic-settings col-sm-3 text-right padding-right-0" style="padding-top: 2px;"></p>
            <p class="col-sm-9 text-bold padding-lr-0">
                &nbsp;&nbsp;Upgrade Your Workspace 
            </p>
        </div>
        <div class="col-sm-2 pull-right" ng-click="cancel()">
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>

</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20" style="background-color: #70c1b3">
            <div class="col-sm-4 col-sm-offset-4 padding-lr-0 text-center">
                <P class="modal-graphic icon icon-basic-settings" style="color:#c6e7e1; padding-top:8px; font-size: 50px;" ></P>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white margin-top-15">If you are sure you want to upgrade you existing plan, we will send a request to the webmaster, who will get back to you within 24 hours along with the pricing details and everything else....</p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-6 col-sm-offset-1">
                <button class="btn btn-primary btn-block pull-right" ng-click="upgradeNetworkPlan()">Send Upgrade Request</button>
            </div>
            <div class="col-sm-4 col-sm-offset-1 padding-left-0 margin-left-5">
                <button class="btn btn-primary btn-block pull-right" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
