.footer-inside{
	
}
@media (min-width:$screen-lg){
.footer-inside{
margin-bottom:30px;
}	
}
.footer-in-logo{
	
}
.footer-links-section{
	padding:30px 10px 10px 10px;
	border-top:1px solid $light-grey;
}
.footer-in-link{
	padding:10px;
}