@import 'variables/_variables.scss';

.g-footer-out{
	background: $bg-footer-out-up;
	padding: 2% 10%;
	width:100%;
}

.footer-section{
	
}

.footer-section-heading{
	color:$white;
	font-size:16px;
	line-height:30px;
}

.footer-section-links{
	font-size:13px;
}