@import 'variables/_variables.scss';

#g-header{
    background : $bg-white;
    /*text-align: center;*/
    height: $header-height;
    @include single-box-shadow(#7f7f7f,0,4px,5px,-6px);
    
    .navbar-collapse{
        @include single-box-shadow(#7f7f7f,0,4px,5px,-6px);
    }
}

/* left side */
#g-header-left{
    background: white;
    height: $header-height;
    line-height: $header-height;
    padding: 0 15px 0 10px;
    .navbar{
        padding: 0;
    }
}

/*  right side  */
#g-header-right{
   // height: $header-height;
    line-height:$header-height;
    a{
        padding:0px;
        line-height:$header-height;
        margin:0 5px;
    }
}
#g-header-right .btn-link{
    color:$bs-link-blue;
    &:hover{
        color:$bs-link-blue-hover;
    }
}

/* dropdown */
.g-header-dropdown{
    text-align: center;
    .g-header-dropdown-link{
        text-align: center;
    }
}
.g-header-dropdown-btn{
    display: inline-block;
    padding:0 10px;
}
#g-header-left .g-header-dropdown > a.g-header-dropdown-btn{
    color: $bs-link-blue;
    &:hover{
        color: $bs-link-blue;
    }
}
.g-header-dropdown-menu{
    background-color: $bg-white;
    margin-top: -1px;
    border:none;
}
.g-header-dropdown-menu > li > .g-header-dropdown-link{
    color: $bs-link-blue;
    line-height: 30px;
}
.g-header-dropdown-menu > li > .g-header-dropdown-link:hover{
    color: $bs-link-blue-hover;
    background: $bg-off-white;
    text-decoration: underline;
}
