@import 'variables/_variables.scss';

#g-header{
    background : $bg-white;
    height: $header-height;
    padding:0 10px;
    margin:0;
    border:none;
    @include single-box-shadow(#7f7f7f,0,4px,5px,-6px);
}
.g-header-wrap{
}


#g-logo-gridle{
}

/* left side */
#g-header-left{
    height: $header-height;
    line-height: $header-height;
}

/*  right side  */
#g-header-right{
    line-height:$header-height;
}
@media (max-width: $screen-sm-min) { 
	#g-header-right .navbar-nav{
		 background-color:white;
         border : 1px solid rgba(0, 0, 0, 0.15);
   		 box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
					 }
 }

.header-in-nav-link{
	
	.active{
		border-bottom : 3px solid darken($brand-warning,10%);
	}

	&:hover{
		border-bottom : 3px solid lighten($brand-warning,25%);	
	}
}
.header-user-img{
	border-radius:50px;
}

.notifications-dropdown{
	width:300px;
}

.notifications-wrap{
}
.notifcations-options{
	border-bottom:1px solid $offwhite;
	padding:5px 0;
}
.notifications-heading{
	line-height:20px;	
}

.notifications-content{
	overflow:hidden;
	min-height:200px;
	max-height:300px;

	&:hover{
		overflow:auto;
	}	
}
.notifications-loading{
	
}

.notifications-list{
	
}
.notification-div{
	line-height:30px;
	padding:7px;
	border-bottom : 3px solid $offwhite;
	&:hover{
	background:$offwhite;
	}
}
.notification-unread{
	background:lighten($offwhite, 3%);
}
.notification-graphic{
    padding:0;
}

.notification-message{
	padding:0;
	line-height:20px;
	color:$dark-grey;
}

.notifications-footer{
	border-top:1px solid $offwhite;
	padding: 0 10px;
	line-height:30px;
}
.header-network-img{
	line-height:20px;
	width:20px;
	display:inline-block;
	background : $brand-warning;
	margin-right:5px;
}
.dropdown-menu .fa {
	color : $light-grey;
	margin-right:5px;
}