@import 'variables/_variables.scss';
@import "layouts/_header_in.scss";
@import "layouts/_footer_in.scss";
@import "layouts/_modal_window.scss";
@import "components/_forms.scss";
@import "components/_comments.scss";

body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size:13px;
    font-family : 'proxima-nova-light';
}

.email-verify-strip{
    padding: 5px;
    color: #fff;
    //box-shadow: 0px 1px 3px #ccc;
}

.g-page-wrap{
    padding-top: $header-height;
    //padding-bottom : $header-height;
}

.form-heading{

}

.form-subheading{

}

.form-form{

}


/* images   */
.g-img-thumb-grp{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    font-size: 1.3em;
    margin:0;
    line-height: 45px;
    text-align: center;
}

.g-tags-tile-img{
    width:25px;
    height:25px;
    line-height:25px;
    margin-right:5px;
    display:inline-block;
    border-radius : 100px;
}
#intercom-container{
    display:none;
}

@import '../pages/in/_networks.scss';
@import '../pages/in/_desk.scss';
@import '../pages/in/_chat.scss';
@import '../pages/in/_planner.scss';
@import '../pages/in/_docs.scss';
@import '../pages/in/_settings.scss';
@import '../pages/in/_log.scss';
@import '../pages/in/_group_view.scss';
@import '../pages/in/_doc_view.scss';
@import '../pages/in/_dashboard.scss';
@import '../pages/in/_task_view.scss';
@import '../pages/in/_add_network.scss';
@import '../pages/in/_feed.scss';
@import '../pages/in/_common.scss';