@import 'variables/_variables.scss';
@import "base/_common.scss";
@import "layouts/_header_out.scss";
@import "layouts/_footer_out.scss";
@import "layouts/_focused.scss";
@import "components/_forms.scss";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,800';
@import 'https://fonts.googleapis.com/css?family=Delius';


//ROBOTO THIN FONT
@font-face {
    font-family: 'Roboto';
    src: url('../../../css/fonts/Roboto/Roboto-Thin.eot');
    src: url('../../../css/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
         }


body{
    color:#333;
    background: #FFF;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}
a{
    font-weight: 300;
}

.g-page-wrap{
	padding-top: $header-height;
	padding-bottom : $header-height;
    border-bottom:1px solid $offwhite;  

}

.form-heading{
	text-align : center;
	line-height:36px;
    font-size:30px;
    font-weight:600;
    color:#E79367;
 //   background:url('/img/patterns/form-heading-pattern.png');
   -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: 100% 100%;
}

.form-subheading{
    text-align : center;
	margin-top : 20px;
	color: $grey-3;
	line-height:30px;
}

.form-form{
	
}

.g-privacy{
margin-top:20px;	
}


/*---------      general page css     ----------------*/
.colorwhiteshade1{
    color: #F7F5EB;  /*whitish*/
}
.colorgreen{
    color: #2E9984 /*greenish*/
}
.btn_yellow{
    background: #EFC263;
    color: #FFFFFF;
}
.btn_yellow:hover,.btn_yellow:active,.btn_yellow:focus{
    background: #FCCC68;
    color: #FFF;
}
.coloryellow{
    color: #EFC263;
}
.colorred{
    color: #FA8072;
}
.colorgreyish{
    color: #656565;
}
.smalltext{
    font-size: 10px;
}
.mediumtext{
    font-size: 12px;
}
.btn-green{
    background: #5DC295;
    color: #fff;
}
.btn-large{
    padding: 20px 0;
}
.btn-green:hover,.btn-green:focus{
    background: #76d6a8;
    color: #fff;
}
.btn-green-addon{
    padding: 7px 20px;
}
.input_form{
    background: #f7f5eb;
    border-radius: 2px;
    line-height: 1.5em;
}
.input_form:focus{
    background: white;
}

.home_container_wrap{
    margin-top: 5%;
    margin-bottom: 6%;
}
.home_container{
    border: 1px solid #e5e3d3;
    border-radius: 2px;
    max-width: 500px;
    margin: 0 auto;
}
.container_head{
    background: #E5E3D3;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
}
.container-head-p{
    margin:0;
    font-size: 2em;
    line-height: 2.2em;
    font-weight: 100;
    padding-left: 20px;
}
.container-body{
}

.home_section_old{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    margin-bottom:8%;
}
.home_section_p{
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 10px
}
.home_section_p_sub{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: 100;
    color:#656565;
}
.floatparent{
    overflow: auto; /* wherever we are using float element doesn't want it to collapse'*/
}

.home_container_wrap{
    margin-top: 5%;
    margin-bottom: 6%;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 4px 5px -6px #7f7f7f;
    -moz-box-shadow: 0 4px 5px -6px #7f7f7f;
    box-shadow: 0 4px 5px -6px #7f7f7f;
}


/* anchor tag for homepage*/
.home_anchor{
    text-decoration: underline;
}
label.error{
    display: none;
    font-weight: normal;
}
label.error_enterprise{
    display: none;
    font-weight: normal;
}
.home_wrap{
    padding-top: 50px;
}
.colored_line_pattern_home{
    height: 2px;
    width: 50%;
    margin: 0 auto;
}
.pattern_yellow_sec{
    background: #EFC263;
    width: 20%;
    height: 100%;
    float: left;
}
.pattern_red_sec{
    background: #FA8072;
    width: 10%;
    height: 100%;
    float: left;
}
.pattern_green_sec{
    background: #2E9984;
    width: 70%;
    height: 100%;
    float: left;
}

/****** for page breaks ******/
.line_break{
    background: none repeat scroll 0 0 #EFEFEF;
    display: inline-block;
    height: 2px;
    margin: 0 20px;
    width: 100px;
}
.section_break{
    clear: both;
}
/* parent of each secton */
.home_section{
    padding:5% 0;
    margin-bottom: 0;
    margin-top: 0;
}
.section_subsection{
    padding-top:5%;
}

/* for content written beside images in homepage */
.section_column_description{
    font-size: 1.1em;
    text-align: left;

    line-height: 1.6em;
    padding: 2% 20px 10px 20px;
}
.section_column_description h2{
    font-size: 1.4em;
    line-height: 2em;
}
.section_column_description p{
    text-align:justify;
}
/*for images/svg right side of section*/
/*.section_right_img{
    text-align:left;
    display: inline-block;
    width: 550px;
}
.section_left_img{
    text-align: center;
    max-width: 300px;
}*/
/***** for header with colored strip ***************/
.section_heading    
{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 50px;
    margin:5px;
}

.section_subheading{ 
    color: #333333;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    margin:5px;
}

/************************** general over ******************************/
@import '../pages/out/_home.scss';
@import '../pages/out/_login.scss';
@import '../pages/out/_user_registration.scss';
@import '../pages/out/_hiring.scss';
@import '../pages/out/_forgot_pass.scss';
@import '../pages/out/_reset_pass.scss';
@import '../pages/out/_resend_verification.scss';
