@import 'variables/_variables.scss';

/*-------		MODAL WINDOW DEFAULT 		---------------*/
//to fix the jitter of screen on modal window open/hide
.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.g-modal{
    width:300px;
    margin-top : 2%;
}

.g-modal-large{
    width:600px;
}

.g-modal-content{
    border:none;
    outline:none;
    box-shadow:none;	
    border-radius:0;
}

.g-modal-header{
    background : $bg-darkgreen;	
}

.g-modal-title{
    text-transform: uppercase;
}

.g-modal-header-icon{
    color : $dark-green;
    margin-right : 10px;
}

.g-modal-header-title-text{
    color:$white;
}

.g-modal-body{
    min-height: 200px;
    max-height: 700px;
    //overflow-y: auto;
    padding:10px 20px;
    overflow-y: auto;
}

.g-modal-form{
    width:100%;
}

.g-modal-footer{

}
.g-modal-footer-btn{
    cursor : pointer;	
}
.g-modal-footer .fa{
    color : $yellow;
}

.g-modal-sm-body{
    padding : 10% 2%;
}

.g-modal-sm-body-heading{
    margin-top: 10px;
}

.g-modal-sm-body-form{
    margin-top: 20px;
}

/*-----------------------------------------------------------*/

/*--------------	CONFIRMATION MODAL WINDOW	-------------*/
.g-confirm{
    width:300px;
    margin-top : 10%;
}

.g-confirm-content{
    border:none;
    outline:none;
    box-shadow:none;	
    border-radius:0;
}

.g-confirm-header{
    background : $bg-yellow;
    color:$dark-grey;
    border:none;
    text-transform:uppercase;	
}

.g-confirm-title{
    text-transform: uppercase;
}

.g-confirm-body{
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    padding:50px 30px;
    bacckground:$bg-white;
    font-size:16px;
}

.g-confirm-footer{

}

.g-modal-footer-btn{
    cursor : pointer;	
}
.g-modal-footer .fa{
    color : $yellow;
}

/*-----------------------------------------------------------*/

/*------	USER INFO MODAL 	------------------------*/
.user-info-content{
    padding:10% 3%;
}
.user-info-name{
    margin-bottom:30px;
}
.user-info-img{
    border-radius:100px;
    width:64px;
    height:64px;
    line-height:64px;
    background:$brand-success;
    color:$white;
    letter-spacing:2px;
}

/*------------------------------------------------------*/

/*		MANAGE GROUP MODAL		*/

.g-link-add-member{
    margin-bottom:0;
}
.g-modal-add-member-area{
    width:100%;
    padding:5px 10px;
    position:relative;
}
.g-manage-grp-usr-area{
    padding-right:10px;
    margin-top : 10px;
    max-height:400px;
    overflow:hidden;
    &:hover{
        overflow-y : scroll;
    }
}

.g-manage-grp-usr{
    line-height:40px;
    background : $bg-off-white;
    margin:5px 0px;
    padding: 0px 10px 0px 5px;

}
.g-manage-grp-admin{
    background : $bg-yellow;
    margin:5px 0;
    padding: 5px;
}
.g-manage-grp-usr-img{
    border-radius : 50px;
}
.g-manage-grp-usr-name{
    display:inline-block;
    text-transform: capitalize;
}
.g-manage-grp-usr-remove{
    opacity : 0;	
    color:$light-grey;
    cursor:pointer;
    &:hover{
        color:$brand-danger;
    }
}
.g-manage-grp-usr:hover .g-manage-grp-usr-remove{
    opacity : 1;
}
/*=================================================*/

/*	  	  			MANAGE FILES		 			*/


/*=================================================*/

/*	  	  			NEW TASK		 			*/

.new-task-cover{
    padding:20px;
    padding-bottom:2px;	
}

.new-task-icon-cover{
    background : $bg-darkgreen;	
    color:$dark-green;
    border-radius:200px;
    line-height:70px;
    width:70px;
    text-align:center;
}
.new-task-share-icon-cover{
    background : $palette-blue-1;	
    color:white;
    border-radius:200px;
    line-height:40px;
    width:40px;
    text-align:center;	
}
.new-task-textarea-cover{
}
.new-task-people-area{
    padding:10px 0;
    border-bottom:1px solid $offwhite;
    background:lighten($offwhite,4%);
}
.new-task-user-img{
    background: $offwhite;
    color:$dark-green;
    width:40px;
    height:40px;
    line-height:40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
.new-task-share-ppl{
    margin-top:5px;
}
.new-task-date-area{
    margin-top:20px;
}
/*form styles
.new-task-cover {
        text-align: center;
        //position: relative;
}
.form-new-task-area{
        position:relative;
        min-height:210px;
        padding:00px 5px;
        width:100%;
}
.form-new-task-area fieldset {
        background:white;
        display:table-cell;
        vertical-align:middle;
        width:100%;
        bottom:0;
        //stacking fieldsets above each other
        position: absolute;
        }

.new-task-fs-div{
        //min-height:165px;

}
*/
/*Hide all except first fieldset*/
/*.form-new-task-area fieldset:not(:first-of-type) {
        display: none;
}
*/
/*progressbar*/
/*
#progressbar {
        overflow: hidden;
        //CSS counters to number the steps
        counter-reset: step;
        margin-top:5px;
        padding:0px 30%;
}
#progressbar li {
        list-style-type: none;
        //color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 50%;
        float: left;
        position: relative;
        cursor:pointer;
}
#progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 25px;
        line-height: 25px;
        display: block;
        font-size: 10px;
        color: #333;
        background: $offwhite;
        border-radius: 30px;
        margin: 0 auto 5px auto;
        cursor:pointer;
}*/

/* progressbar connectors*/
/* #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: $offwhite;
        position: absolute;
        left: -50%;
        top: 12px;
        z-index: -1; //put it behind the numbers
}
#progressbar li:first-child:after {
        //connector not needed before the first step
        content: none; 
}
*/
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/* #progressbar li.active:before,  #progressbar li.active:after{
        background: $yellow;
        //color: $offwhite;
}
*/

/*=================================================*/	

/*---------------------------MODAL MESSAGE WINDOW ***********************/
#message_modal_body{
}

.message_body_p{
}
#message_textarea{
}
.g-textarea-message-body{
    resize: vertical;
    max-height: 200px;
}
.message-add-members{
    margin: 10px;
}
.message-body{
    margin: 20px 10px;
}
.g-chat-user-list{
    margin:5px;
    padding: 10px;
}
.g-chat-user-box{
    position: relative;
    margin: 5px 0;
    padding: 5px;
    background:$offwhite;
}
.g-chat-user-box p{
    margin:0;
}
.g-chat-img-user{
    width:25px;
    height: 25px;
    border-radius: 20px;
    margin-right: 5px;
}
.g-icon-user-remove{
    position: absolute;
    right: 10px;
    top : 5px;
    display: none;
}
.g-chat-user-box:hover .g-icon-user-remove{
    display: block;
}
/*------------------------MODAL MESSAGE WINDOW ends***********************/

/*------------------------FILE UPLOAD MODAL WINDOW------------------------*/
.form-file-upload{
    min-height:250px;
}
.upload-graphic{
    border-radius: 4px;
    line-height: 180px;
}
.upload-computer{
    border-right: 2px solid $offwhite;
    padding:0 20px;

    .upload-graphic{
        font-size: 10em;

    }
}
.upload-graphic{
    background: $offwhite;
    &:hover{
        cursor: pointer;
        background: darken($offwhite,5%);

    }
}
.upload-action-buttons{
    
    .upload-action-button-cover{
        padding: 0 4px;
    }
    
}

.upload-share-area{
    /*margin-top:15px;*/
    padding: 10px;
}
#fileUploadModal{
    & .g-modal-body{
        padding-bottom:30px;
    
    }
    & .btn, input, .tags{
        border-radius: 50px;
    }
}
.dropbox-preview-zone{
    margin-top:20px;
    min-height: 220px;
    .thumbnail{
        padding: 30px 10px 0 10px;
        /*min-height: 220px;*/
        border:none;
    }
    .size{
        margin-top: 10px;
    }
}
/*------------------------------------------------------------------------*/
/*------------------------FILE MANAGE MODAL WINDOW------------------------*/
.g-doc-modal-heading{
    margin-bottom:10px;
    line-height:30px;
}
.g-doc-modal-heading-cover-icon{
    display:inline-block;
    margin-right:5px;
    line-height:30px;
    color : $dark-green;
}
.g-doc-modal-heading-icon{

}
.g-doc-modal-heading-name{
    display:inline;
    line-height:30px;
    word-wrap:normal;
    overflow-wrap:break-word;
}
.g-share-doc-box{
    margin-top:20px;
}
.g-doc-user-list{
    margin-top:20px;
    max-height:200px;
    overflow:hidden;

    &:hover{
        overflow-y:scroll;
    }
}
.g-doc-user-info{
    background:$offwhite;
    height:40px;
    line-height:30px;
    margin:2px;
    padding:5px;
}
.g-doc-user-admin{
    background : $bg-blue;
    color : $white;	
}
.g-doc-user-name{
    text-transform:capitalize;
    display:inline-block;
}
.g-doc-user-img{
    margin-right:10px;
    line-height:25px;
    width:25px;
}
.g-doc-grp-default-img{
    width:25px;
    line-height:25px;
}
.g-doc-user-name-text{

}

.g-btn-doc-unshare{
    display:none;	
}

.g-doc-user-info:hover .g-btn-doc-unshare{
    display:block;
    cursor:pointer;
}
/*------------------------------------------------------------------------*/

/*	NETWORK MEMBERS LIST  */
.g-network-members-list{
    max-height:400px;
    overflow:hidden;
    &:hover{
        overflow-y:scroll;
    }	
}

/* view task modal  */
.view-task-info{
    padding: 10px;
    border: 1px solid $offwhite;
    margin-bottom: 10px;
    border-radius: 10px;

}