<div class="modal-header">
    <p class="text-center text-bold">
        Delete task
    </p>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row padding-tb-20 bg-red">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="text-center">
                    <img src="/img/defaults/trash_empty.ico" height="150" />
                </p>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white font-big-2 margin-top-10">Selected task would be deleted.</p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-offset-2 col-sm-8">
                
                <p class="text-muted text-center font-small-1">Are you sure you want to delte the task? You won't be able to retrieve a deleted task.</p>
            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-50">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-blue btn-block text-bold pull-right">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>
