<div class="modal-header">
    <div class="row">
        <p class="text-center text-bold text-dim col-sm-11">
            Create a task
        </p>
        <p ng-click="cancel()" class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer pull-right col-sm-1"></p>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!--PRODUCTIVITY TIP-->
        <div class="row">
            <div class="col-sm-12 padding-lr-0 padding-tb-10">
                <p class="">
                    <span class="fa fa-star font-big-1" style="color:#ffe066;"></span>
                    <span class="text-italic text-bold" style="color:#c5dfaa">Productivity tip:</span>
                    <span class="font-fmall-2 text-dim text-italic">Tasks in format of {subject} on {day} at {time} would be quickly made. Quick, Fast, easy.</span>
                </p>
            </div>
        </div>
        <!--MAKE TASK INPUT-->
        <div class='row margin-bottom-20'>
            <div class='col-sm-12'>
                <div class="form-group task-input">
                    <label class="text-muted" ng-hide="editTask">Write the task</label>
                    <label class="text-muted" ng-show="editTask">Edit the task</label>
                    <textarea class="form-control gridle-input" 
                              placeholder="Create a new task with @colleague on day at time" 
                              autofocus
                              ng-model="NewTask.Task.title" 
                              ng-change="checkDateandTime(NewTask.Task.title)"
                              mentio
                              mentio-select-not-found="true"
                              mention-typed-term="currentMention"
                              mentio-require-leading-space="true"
                              mentio-id="'modaltaskinput'"
                              style="font-size: 14px"></textarea>
                    <mentio-menu
                        mentio-for="'modaltaskinput'"
                        mentio-trigger-char="'@'"
                        mentio-items="UserAndGroupTag"
                        mentio-template-url="/scripts/View/mentio.tpl.html"
                        mentio-select="getPeopleText(item)"
                        mentio-search="searchUserAndGroup(term, currentMention)"
                        ></mentio-menu>
                </div>
            </div>
        </div>

        <div ng-show="editTask" class="new-task-people-area row"  >

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-lr-0"> 
                <!--    if user -->
                <p ng-repeat="tags in NewTask.Tags">
                    <span class="text-center p-margin-0" ng-bind="tags.name"></span>
                    <span class="text-center btn-link font-small-1" ng-click="taskRemoveAssigneeConfirm(tags, NewTask.Task.id, 'user')" ng-show="NewTask.user_info.id == loggeduser">Remove</span>
                </p>

            </div>

        </div>

        <!--SHARE WITH--> 
        <div class="row margin-bottom-20">
            <div class="col-sm-12">
                <label class="text-muted full-width">This task is shared with</label>
                <div class="form-group">
                    <tags-input ng-model="sharewithtags" display-property="name" placeholder='Share with eg : John or Donna' add-from-autocomplete-only="true">
                        <auto-complete source="searchUserAndGroup($query)" display-property="name" min-length="1" maxResultsToShow="10"></auto-complete>
                    </tags-input>
                </div>
            </div>

        </div>

        <!--DEADLINE--> 
        <div class="row margin-bottom-20">
            <div class="col-sm-2">
                <label class="text-muted">Deadline</label>
            </div>
            <div class="col-sm-4">
                <input type="date" class="form-control" datepicker-popup ng-model="datepicketDt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> 
            </div>
            <div class="col-sm-3">
                <timepicker ng-model="mytime" hour-step="hsteptimepicker" mousewheel="false" minute-step="msteptimepicker"></timepicker>
            </div>
        </div>

        <!--IMPORTANT--> 
        <div class="row margin-bottom-20 task-important-mark">
            <div class="col-sm-12" ng-init="prioritynewTask = NewTask.Task.priority">

                <div class="pull-right cursor-pointer">
                    <p class=" font-big-5 line-height-30"><span class="fa fa-toggle-on color-red" ng-show="prioritynewTask" ng-click="prioritynewTask = !prioritynewTask;"></span> <span class="fa fa-toggle-off text-muted" ng-click="prioritynewTask = !prioritynewTask;" ng-hide="prioritynewTask"></span></p>    
                </div>
                <div class="pull-right">
                    <label class="text-muted line-height-30 p-margin-0" ng-show="!prioritynewTask"> Mark important&nbsp;&nbsp; </label>
                    <label class="text-muted line-height-30 p-margin-0" ng-show="prioritynewTask"> It's important&nbsp;&nbsp; </label>
                </div>

            </div>
        </div>

        <div class='row margin-top-50'>
            <div class='col-sm-4 col-sm-offset-8'>
                <button class='btn btn-block btn-primary btn-block' ng-click="taskAddModalwindow(NewTask, prioritynewTask, datepicketDt, mytime, sharewithtags)">Good to go!</button>
            </div>
        </div>

    </div>
</div>