<div class="modal-header">
<!--    <div ng-include src="'/js/modules/common/productivityTip.html'" ></div>-->
<div class ="productivityTip font-small-1">
    <p class="text-muted">Productivity tip</p>
    <p class="">Tasks in format of {subject} on {day} at {time} would be quickly made. Quick, Fast, easy.</p>
</div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!--MAKE TASK INPUT-->
        <div class='row margin-bottom-20'>
            <div class='col-sm-12'>
                <div class="form-group task-input">
                    <label class="text-muted" ng-hide="editTask">Write the task</label>
                    <textarea class="form-control" 
                              rows="2"
                              placeholder="Create a new task with @colleague on day at time" 
                              ng-model="currentTask" 
                              ng-change="checkDateandTime(currentTask)"
                              mentio
                              mentio-select-not-found="true"
                              mention-typed-term="currentMention"
                              mentio-require-leading-space="true"
                              mentio-id="'advancemodalinput'" autofocus ></textarea>
                    <mentio-menu
                        mentio-for="'advancemodalinput'"
                        mentio-trigger-char="'@'"
                        mentio-items="UserAndGroupTag"
                        mentio-template-url="/scripts/View/mentio.tpl.html"
                        mentio-select="getPeopleText(item)"
                        mentio-search="searchUserAndGroup(term, currentMention)"
                        ></mentio-menu>
                </div>
            </div>
        </div>

        <!--SHARE WITH--> 
        <div class="row margin-bottom-20">
            <div class="col-sm-12">
                <label class="text-muted full-width">This task is shared with<span class="pull-right font-small-2">Not in the list? Add via email</span></label>
                <div class="form-group">
                    <input type="text" 
                              ng-model="sharewithTags"
                              placeholder="Share with : @John, @Alicia" class="form-control"
                              mentio
                              mentio-select-not-found="true"
                              mention-typed-term="currentMention"
                              mentio-require-leading-space="true"
                              mentio-id="'advancemodalinput'"/>
                    <mentio-menu
                        mentio-for="'advancemodalinput'"
                        mentio-trigger-char="'@'"
                        mentio-items="UserAndGroupTag"
                        mentio-template-url="/scripts/View/mentio.tpl.html"
                        mentio-select="getPeopleText(item)"
                        mentio-search="searchUserAndGroup(term, currentMention)"
                        ></mentio-menu>
                </div>
            </div>

        </div>

        <!--DEADLINE--> 
        <div class="row margin-bottom-20">
            <div class="col-sm-2">
                <label class="text-muted">Deadline</label>
            </div>
            <div class="col-sm-4">
                <input type="date" class="form-control" datepicker-popup ng-model="datepicketDt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> 
            </div>
            <div class="col-sm-3">
                <timepicker ng-model="mytime" hour-step="hsteptimepicker" minute-step="msteptimepicker"></timepicker>
                </p>
            </div>
        </div>

        <!--IMPORTANT--> 
        <div class="row margin-bottom-20 task-important-mark">
            <div class="col-sm-12" ng-init="prioritynewTask = NewTask.Task.priority">
                
                <div class="pull-right cursor-pointer">
                    <p class=" font-big-5 line-height-30"><span class="fa fa-toggle-on color-red" ng-show="prioritynewTask" ng-click="prioritynewTask = !prioritynewTask;"></span> <span class="fa fa-toggle-off text-muted" ng-click="prioritynewTask = !prioritynewTask;" ng-hide="prioritynewTask"></span></p>    
                </div>
                <div class="pull-right">
                    <label class="text-muted line-height-30 p-margin-0" ng-show="!prioritynewTask"> Mark important&nbsp;&nbsp; </label>
                    <label class="text-muted line-height-30 p-margin-0" ng-show="prioritynewTask"> It's important&nbsp;&nbsp; </label>
                </div>

            </div>
        </div>

        <div class='row margin-top-50'>
            <div class='col-sm-4 col-sm-offset-8'>
                <button class='btn btn-block btn-blue btn-block' ng-click="taskAddModalwindow(NewTask, prioritynewTask,datepicketDt,mytime)">Good to go!</button>
            </div>
        </div>

    </div>
</div>