<div class="modal-body">
    <div class="col-sm-1 pull-right" ng-click="cancel()">
        <p class="font-big-3 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
    </div>
    <div class="container-fluid task-full-box">
        <!--HEADING--> 
        <div class="row padding-tb-20" >
            <div class="col-sm-5 text-right padding-lr-0">
                <p class="icon icon-basic-todolist-pencil font-big-2 text-dim margin-right-5" style="padding-top: 1px;"></p>
            </div>
            <div class="col-sm-6 padding-lr-0 ">
                <p class="text-dim font-big-2">
                    <span ng-show="editTask">Edit the task</span>
                    <span ng-hide="editTask" >Make a task</span>
                </p>
            </div>
        </div>
        <div class="margin-top-50 row"></div>
        <!--TASK DEADLINE--> 
        <div class="row padding-tb-10  margin-top-50 ">
            <!--DEADLINE--> 
            <div class="col-sm-6 deadline-date padding-right-0" ng-init="deadlineFocus = false">
                <div class="col-sm-3 text-dim padding-lr-0">
                    <p class="text-bold deadline-label" style="" ng-class="{'color-red':deadlineFocus}">Deadline</p>
                </div>
                <div class="col-sm-8 padding-lr-0">
                    <mb-datepicker ng-focus="deadlineFocus = true;" 
                                   ng-blur="deadlineFocus = false;"
                                   ng-model = "defaultDatePicker"
                                   input-class="testClass deadline-input gridle-input form-control"
                                   input-name="testName"
                                   arrows="arrowsDatePicker"
                                   date="defaultDatePicker"
                                   calendar-header="headerOfDates"
                                   date-format="MMM DD, YYYY"></mb-datepicker>
                </div>
            </div>
            <!--AT--> 
            <div class="col-sm-6 padding-lr-0 deadline-time" ng-init="deadlineFocus2 = false">
                <div class="col-sm-1 padding-left-0 text-right text-dim">
                    <p class="text-bold deadline-label" ng-class="{'color-yellow':deadlineFocus2}">at</p>
                </div>
                <div class="col-sm-8 padding-lr-0">
                    <input class="deadline-input gridle-input form-control" placeholder="9 am" ng-focus="deadlineFocus2 = true;" ng-blur="deadlineFocus2 = false;" ng-model="defaultTimePicker">
                </div>
            </div>
        </div>
        <!--TASK INPUT--> 
        <div class="row">
            <div class="col-sm-12 padding-lr-0 ">
                <div class="form-group">

                    <!--                    ng-class="{
                                                     'font-big-7':NewTask.Task.title.length<=50,
                                                     'font-big-6':NewTask.Task.title.length > 50 && NewTask.Task.title.length<=100,
                                                     'font-big-5':NewTask.Task.title.length > 100 && NewTask.Task.title.length<=150,
                                                     'font-big-4':NewTask.Task.title.length > 150 && NewTask.Task.title.length<=200,
                                                     'font-big-3':NewTask.Task.title.length > 200 && NewTask.Task.title.length<=250,
                                                     'font-big-2':NewTask.Task.title.length > 250 && NewTask.Task.title.length<=300,
                                                     'font-big-1':NewTask.Task.title.length > 300 && NewTask.Task.title.length<=350,
                                                      
                                                  }"-->

                    <textarea class="form-control gridle-input animatetextarea"
                              autofocus
                              msd-elastic="\n"
                              rows="3"
                              placeholder="Meet @Stacy and @John for sales review on coffee at 9am next thursday"
                              ng-model="NewTask.Task.title"
                              ng-change="checkDateandTime(NewTask.Task.title); resizeTextArea(NewTask.Task.title)"
                              mentio
                              mentio-select-not-found="true"
                              mention-typed-term="currentMention"
                              mentio-require-leading-space="true"
                              mentio-id="'modaltaskinput'"
                              ng-class="{
                                 'font-big-7':NewTask.Task.title.length<=50,
                                 'font-big-6':NewTask.Task.title.length > 50 && NewTask.Task.title.length<=100,
                                 'font-big-5':NewTask.Task.title.length > 100 && NewTask.Task.title.length<=150,
                                 'font-big-4':NewTask.Task.title.length > 150 && NewTask.Task.title.length<=200,
                                 'font-big-3':NewTask.Task.title.length > 200 && NewTask.Task.title.length<=250,
                                 'font-big-2':NewTask.Task.title.length > 250 && NewTask.Task.title.length<=300,
                                 'font-big-1':NewTask.Task.title.length > 300 && NewTask.Task.title.length<=350,
                                  
                              }"
                              ></textarea>
                    <mentio-menu
                        mentio-for="'modaltaskinput'"
                        mentio-trigger-char="'@'"
                        mentio-items="UserAndGroupTag"
                        mentio-template-url="/scripts/View/mentio.tpl.html"
                        mentio-select="getPeopleText(item)"
                        mentio-search="searchUserAndGroup(term, currentMention)"
                        ></mentio-menu>
                </div>
            </div>
        </div>

        <!--SHARED WITH--> 
        <div class="row padding-tb-10 task-full-share">
            <div class="col-sm-9 padding-left-0">
                <div class="col-sm-3 padding-lr-0">
                    <p class="text-bold text-dim line-height-30 pull-left" >Shared with</p>
                </div>
                <!--add icon--> 
                <div class="col-sm-9 padding-lr-0">
                    <div class="pull-left" ng-show="editTask">
                        
                        <div class="pull-left" ng-repeat="tags in NewTask.Tags">
                            <!--image--> 
                            <div ng-show="removeShared" ng-mouseenter="removeShared = false;">
                                <g-profile-img type="tags.type" path="tags.vga" name="tags.name" myclass="g-img-25 font-small-2 margin-right-10"></g-profile-img>
                            </div>
                            <!--remove--> 
                            <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="taskRemoveAssigneeConfirm(tags, NewTask.Task.id, tags.type)" ng-show="NewTask.user_info.id == loggeduser" popover="{{taskTag.name}}" popover-trigger="mouseenter">
                                <p  class="g-img-25 round-30 text-center cursor-pointer margin-right-10 pull-left" >
                                    <span class="fa fa-times"></span>
                                </p>   
                            </div>
                        </div>
                    </div>
                    <!--existing tags--> 
                    <div>
                        <div ng-repeat="taskTag in tagsforTask" >
                            <div ng-show="removeShared" ng-mouseenter="removeShared = false;">                                            <g-profile-img type="{{taskTag.type}}" path="taskTag.vga" name="taskTag.name" myclass="g-img-25 suggestion-user font-small-2 margin-right-10"></g-profile-img>       
                            </div>
                            <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="removetaskTag($index)">
                                <p class="g-img-25 round-30 text-center cursor-pointer margin-right-10 pull-left" popover="{{taskTag.name}}" popover-trigger="mouseenter" >
                                    <span class="fa fa-times"></span>
                                </p>   
                            </div>

                        </div>
                    </div>
                    <div class="pull-left" >
                        <p class="share-with-icon font-big-3" ng-click="showsharwith = true;" tooltip="Add more people" tooltip-placement="top">+</p>    
                    </div>
                    <div ng-show="showsharwith">
                        <textarea placeholder="e.g. @John, @Donna"
                                  class="form-control gridle-input" 
                                  rows="1"
                                  ng-model="sharewithtags" 
                                  mentio
                                  mentio-select-not-found="true"
                                  mention-typed-term="currentMention"
                                  mentio-require-leading-space="true"
                                  mentio-id="'shareTask'"></textarea>
                        <mentio-menu
                            mentio-for="'shareTask'"
                            mentio-trigger-char="'@'"
                            mentio-items="UserAndGroupTag"
                            mentio-template-url="/scripts/View/mentio.tpl.html"
                            mentio-select="getPeopleText(item)"
                            mentio-search="searchUserAndGroup(term, currentMention)"
                            ></mentio-menu>
                    </div>
                </div>
            </div>
            <!--IMPORTANT--> 
            <div class="col-sm-3 padding-lr-0 line-height-30">
                <div class="pull-right cursor-pointer">
                    <p class=" font-big-5 line-height-30"><span class="fa fa-toggle-on color-red" ng-show="prioritynewTask" ng-click="prioritynewTask = !prioritynewTask;"></span> <span class="fa fa-toggle-off text-dimmer" ng-click="prioritynewTask = !prioritynewTask;" ng-hide="prioritynewTask"></span></p>    
                </div>
                <div class="pull-right font-small-1">
                    <label class="text-dim line-height-30 p-margin-0" ng-show="!prioritynewTask"> Mark important&nbsp;&nbsp; </label>
                    <label class="text-dim line-height-30 p-margin-0" ng-show="prioritynewTask"> It's important&nbsp;&nbsp; </label>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-20 padding-lr-0">
                <button class="pull-right btn btn-primary" ng-click="taskAddModalwindow(NewTask, prioritynewTask, defaultDatePicker, defaultTimePicker)">Save task</button>
            </div>
        </div>
    </div>

</div>
<style>
    .testClass > input {
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        border-bottom: transparent;
    }
</style>