<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Team Build</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;" >
<!--        <table border="0" cellpadding="0" cellspacing="0" width="100%">	
            <tr>
                <td style="padding: 10px 0 30px 0;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                        <tr>
                            <td align="center" bgcolor="#FCFBF1" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;box-shadow:0 1px #ccc;">
                                <img src="http://gridle.io/img/logos/gridle_logo.png" alt="" style="display: block;" />
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                            <b>Greetings,</b>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">-->
                                            <?php echo $this->fetch('content'); ?>




<!--                                        </td>
                                    </tr>
                                    <tr>-->
<!--                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td width="260" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td>
                                                                    <img src="http://i.imgur.com/IPE658V.gif" alt="" width="100%" height="140" style="display: block;" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align:justify">
                                                                    Now get a bird-eye view of your engagements, team-mates and projects with the new and upcoming Hawk-eye.

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td style="font-size: 0; line-height: 0;" width="20">
                                                        &nbsp;
                                                    </td>
                                                    <td width="260" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td>
                                                                    <img src="http://i.imgur.com/MYcaNQ9.jpg" alt="" width="100%" height="140" style="display: block;" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align:justify">
                                                                    Want it for your company or team? contact us on sales@gridle.in and we will take care of the rest.
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>-->
<!--                                        <td style="padding: 0px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-align:justify"> Want to tell us something? Just hit reply to this mail or tweet to us on <a href="http://twitter.com/gridle_io">@gridle_io</a>. If you have not signed up and have received this mail, please ignore.
                                        </td>-->
<!--                                    </tr>
                                    <tr>
                                        <td style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px;" width="75%">-->
<!--                                            The Team,<br/>
                                            <a href="http://www.gridle.io" style="color: #153643;"><font color="#153643">Gridle.io</font></a>-->
<!--                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td></td>
                                        <td align="right" width="25%">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                        <a href="http://www.twitter.com/gridle_io" style="color: #ffffff;">
                                                            <img src="http://i.imgur.com/5pQHad6.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                        </a>
                                                    </td>
                                                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                    <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                        <a href="http://www.facebook.com/gridle.in" style="color: #ffffff;">
                                                            <img src="http://i.imgur.com/wViC2eC.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                                                        </a>
--> 
<?php 
echo 'If you think you are receiving a lot of our mails, just click on <a href = ' . $data['unsubscribe']. '>unsubscribe<a> and We won\'t bother you again. :)<br>';
//echo $data;
if(isset($data['invited_by']) && !empty($data['invited_by'])){
    echo '<br>Thanks,<br>'. $data['invited_by'];
}else{
echo '<br>Thanks and Regards,<br>Team Build.';   
}
?>

<!--                                                <a href="<?//=$data['unsubscribe']?>">
                                                            Unsubscribe
                                                        </a>-->


<!--                                                <a href="<?//=$data['unsubscribe']?>">
                                                            Unsubscribe
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>-->
    </body>
</html>

