@font-face {
  font-family: mediumFont;
  src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Medium.otf");
}

@font-face {
  font-family: lightFont;
  src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Light.otf");
}

@font-face {
  font-family: bookFont;
  src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Book.otf");
}

/*  variables   */
/*  variables end   */
/* line 18, ../sass/pages/outside/__outside_css_common.scss */
html, body {
  background-color: #148eae;
  width: 100%;
  overflow-x: hidden;
  font-family: bookFont;
}

/* line 25, ../sass/pages/outside/__outside_css_common.scss */
.stop-the-madness {
  font-size: 60px;
  font-family: mediumFont;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}

/* line 34, ../sass/pages/outside/__outside_css_common.scss */
.madness-opacity {
  background: rgba(0, 0, 0, 0.6);
  -webkit-background: rgba(0, 0, 0, 0.6);
  -moz-background: rgba(0, 0, 0, 0.6);
}

/* line 39, ../sass/pages/outside/__outside_css_common.scss */
.stop-content {
  text-align: center;
  font-family: mediumFont;
  color: white;
}

/* line 44, ../sass/pages/outside/__outside_css_common.scss */
.sub-stop-content {
  font-family: lightFont;
  text-align: center;
  color: #05C1FF;
}

/* line 50, ../sass/pages/outside/__outside_css_common.scss */
.backgroundi {
  background-image: url("/img/homepage/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

/* line 61, ../sass/pages/outside/__outside_css_common.scss */
.backgroundcareers {
  background-image: url("/img/careers/careers8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

/* line 72, ../sass/pages/outside/__outside_css_common.scss */
.btnLogins {
  border-radius: 55px !important;
  background-color: transparent;
  height: 30px;
  width: 90px;
  font-family: bookFont;
  color: white;
  border-color: white;
  border: 1px solid !important;
}
/* line 81, ../sass/pages/outside/__outside_css_common.scss */
.btnLogins:hover {
  background-color: transparent;
  border-radius: 55px !important;
  color: white !important;
  border-color: white !important;
}

/* line 88, ../sass/pages/outside/__outside_css_common.scss */
.header {
  margin-top: 5px;
}

/* line 91, ../sass/pages/outside/__outside_css_common.scss */
.logo {
  margin-top: 10px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

/* line 97, ../sass/pages/outside/__outside_css_common.scss */
.middle {
  margin-top: 50px;
  font-size: 60px;
}

/* line 101, ../sass/pages/outside/__outside_css_common.scss */
.btnTogether {
  border-radius: 55px;
  background: #337AB7;
  height: 33px;
  width: 130px;
  font-family: lightFont;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0px;
  padding-left: 10px;
  color: white;
}
/* line 112, ../sass/pages/outside/__outside_css_common.scss */
.btnTogether:hover {
  background: #337AB7;
  color: white;
}

/* line 118, ../sass/pages/outside/__outside_css_common.scss */
.lasthome {
  margin-top: 50px;
}

/* line 121, ../sass/pages/outside/__outside_css_common.scss */
.bottom {
  padding-top: 30px;
  padding-bottom: 0px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-background: rgba(255, 255, 255, 0.7);
  -moz-background: rgba(255, 255, 255, 0.7);
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 129, ../sass/pages/outside/__outside_css_common.scss */
  .bottom {
    margin-top: 18px;
  }
}
/* line 133, ../sass/pages/outside/__outside_css_common.scss */
.buttons {
  margin-top: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 137, ../sass/pages/outside/__outside_css_common.scss */
  .buttons {
    margin-top: 35px;
  }
}
/* line 141, ../sass/pages/outside/__outside_css_common.scss */
.btnSignup {
  border-radius: 7px;
  font-family: bookFont;
  color: white;
  background-color: #1F64B0;
  width: 100%;
  height: 35px;
  padding: 0px 0px 0px 0px !important;
  margin-top: 0px !important;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Shadow*/
  /*    -webkit-box-shadow: 0px 6px 0px #2E4A9E;
      -moz-box-shadow: 0px 6px 0px #2E4A9E;
      box-shadow: 0px 6px 0px #2E4A9E;*/
}
/* line 160, ../sass/pages/outside/__outside_css_common.scss */
.btnSignup:hover {
  /*    Shadow
      -webkit-box-shadow: 0px 4px 0px #2E4A9E;
      -moz-box-shadow: 0px 4px 0px #2E4A9E;
      box-shadow: 0px 4px 0px #2E4A9E;*/
  color: white !important;
}

/* line 170, ../sass/pages/outside/__outside_css_common.scss */
.google {
  text-align: right;
  margin-top: 0px;
}

/* line 174, ../sass/pages/outside/__outside_css_common.scss */
.final {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 178, ../sass/pages/outside/__outside_css_common.scss */
  .final {
    margin-top: 14px;
  }
}
/* line 182, ../sass/pages/outside/__outside_css_common.scss */
.endtext {
  font-family: lightFont;
  font-weight: bold;
  color: #1F64B0;
  margin-top: 10px;
}

/* line 188, ../sass/pages/outside/__outside_css_common.scss */
.endtext-careers {
  font-family: lightFont;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

/* line 195, ../sass/pages/outside/__outside_css_common.scss */
.image {
  opacity: 0.5;
}

/* line 198, ../sass/pages/outside/__outside_css_common.scss */
.footerlogo {
  margin-top: 42px;
  text-align: right;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 203, ../sass/pages/outside/__outside_css_common.scss */
  .footerlogo {
    margin-top: 65px;
  }
}
/* line 207, ../sass/pages/outside/__outside_css_common.scss */
.copyright {
  margin-top: 35px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 211, ../sass/pages/outside/__outside_css_common.scss */
  .copyright {
    margin-top: 50px;
  }
}
/* line 215, ../sass/pages/outside/__outside_css_common.scss */
.contact {
  background-color: #4B4D7E;
  text-align: center;
  line-height: 1.42857143;
}

/* line 220, ../sass/pages/outside/__outside_css_common.scss */
.color {
  margin-top: 60px;
  height: 5px;
  color: white;
  font-family: bookFont;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 228, ../sass/pages/outside/__outside_css_common.scss */
  .color {
    margin-top: 25px;
  }
}
/* line 232, ../sass/pages/outside/__outside_css_common.scss */
.innercolor:link {
  color: #869FFA;
}

/* line 235, ../sass/pages/outside/__outside_css_common.scss */
.innercolor:focus {
  color: #ffffff;
}

/* line 238, ../sass/pages/outside/__outside_css_common.scss */
.innercolor:verified {
  color: #ffffff;
}

/* line 241, ../sass/pages/outside/__outside_css_common.scss */
.innercolor:hover {
  color: #869FFA;
}

/* line 245, ../sass/pages/outside/__outside_css_common.scss */
.footer-down {
  font-family: mediumFont;
  margin-top: 15px;
  opacity: 0.7;
}

/* line 251, ../sass/pages/outside/__outside_css_common.scss */
.footer-down:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

/* line 257, ../sass/pages/outside/__outside_css_common.scss */
.footer-link {
  margin: 5px;
}

/*    togetherstyle.css      */
/* line 262, ../sass/pages/outside/__outside_css_common.scss */
.background {
  background-color: white;
  height: 100%;
  width: 100%;
}

/* line 267, ../sass/pages/outside/__outside_css_common.scss */
.top {
  margin-top: 5px;
}

/* line 270, ../sass/pages/outside/__outside_css_common.scss */
.login-together {
  vertical-align: bottom;
  padding-top: 20px;
  font-size: 9pt;
  text-align: right;
}

/* line 276, ../sass/pages/outside/__outside_css_common.scss */
.hrr {
  width: 30%;
  margin-right: 0px !important;
  text-align: right;
  line-height: 70px;
  vertical-align: middle;
  height: 1px;
  color: #ffffff;
  background-color: #148eae;
}

/* line 286, ../sass/pages/outside/__outside_css_common.scss */
.hrl {
  width: 30%;
  margin-left: 0px !important;
  text-align: right;
  line-height: 70px;
  vertical-align: middle;
  height: 1px;
  color: #ffffff;
  background-color: #148eae;
}

/* line 297, ../sass/pages/outside/__outside_css_common.scss */
.buttonview-together {
  /*for signup heading in top center	*/
  margin-top: 10px;
  color: white;
  text-align: center;
  border: 2px;
  line-height: 50px;
  /*width: 325px;*/
  background-color: #148EAE;
  vertical-align: middle;
  border-radius: 40px;
  font-family: mediumFont;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24pt;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 317, ../sass/pages/outside/__outside_css_common.scss */
.imagebox {
  margin-top: 75px;
}

/* line 320, ../sass/pages/outside/__outside_css_common.scss */
.imagebox1 {
  width: 280px;
  height: 180px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #008BAF;
  margin-left: 60px;
  text-align: center;
  padding-top: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 334, ../sass/pages/outside/__outside_css_common.scss */
.imagebox2 {
  width: 280px;
  height: 180px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #EA206B;
  margin-left: 60px;
  text-align: center;
  padding-top: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 348, ../sass/pages/outside/__outside_css_common.scss */
.imagebox3 {
  width: 280px;
  height: 180px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #008BAF;
  margin-left: 60px;
  text-align: center;
  padding-top: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 363, ../sass/pages/outside/__outside_css_common.scss */
.textbox {
  margin-top: 50px;
}

/* line 366, ../sass/pages/outside/__outside_css_common.scss */
.textbox1 {
  padding-bottom: 120px;
  padding-top: 5px;
  height: 180px;
  width: 280px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #008BAF;
  margin-left: 60px;
  text-align: center;
}

/* line 379, ../sass/pages/outside/__outside_css_common.scss */
.textbox2 {
  padding-bottom: 120px;
  padding-top: 5px;
  width: 280px;
  height: 180px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #EA206B;
  margin-left: 60px;
  text-align: center;
}

/* line 392, ../sass/pages/outside/__outside_css_common.scss */
.textbox3 {
  padding-bottom: 120px;
  padding-top: 5px;
  width: 280px;
  height: 180px;
  background-color: #E8E8E8;
  font-family: bookFont;
  font-size: 10pt;
  font-weight: bold;
  box-shadow: inset 0 0 2px #008BAF;
  margin-left: 60px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 406, ../sass/pages/outside/__outside_css_common.scss */
  .imagebox1, .imagebox2, .imagebox3, .textbox1, .textbox2, .textbox3 {
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* line 412, ../sass/pages/outside/__outside_css_common.scss */
.together-line {
  font-family: lightFont;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  line-height: 1.42;
}

/* line 421, ../sass/pages/outside/__outside_css_common.scss */
.btnHomeSignup, .btnSignup1 {
  background: #008858;
  color: #ffffff !important;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*    Shadow
      -webkit-box-shadow: 0px 6px 0px #00794E;
      -moz-box-shadow: 0px 6px 0px #00794E;
      box-shadow: 0px 6px 0px #00794E;*/
}

/* line 437, ../sass/pages/outside/__outside_css_common.scss */
.btnHomeSignup {
  font-size: 18px !important;
  font-family: 'Roboto',arial,sans-serif;
  padding: 0px 0px 0px 0px !important;
}
/* line 444, ../sass/pages/outside/__outside_css_common.scss */
.btnHomeSignup:hover {
  color: #ffffff !important;
  background-color: #00794e;
}

/* line 449, ../sass/pages/outside/__outside_css_common.scss */
.btnCareers {
  background-color: #008858;
  color: #ffffff !important;
  font-size: 18px !important;
  font-family: 'Roboto',arial,sans-serif;
  padding: 0px 0px 0px 0px !important;
  height: 35px;
  width: 50%;
  text-align: center;
  padding-top: 8px;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 464, ../sass/pages/outside/__outside_css_common.scss */
.btnCareers:hover {
  color: #ffffff !important;
  background-color: #00794e;
}

/* line 470, ../sass/pages/outside/__outside_css_common.scss */
.btnSignup1 {
  margin-top: 60px;
  font-family: bookFont;
  font-size: 22px;
}
/* line 475, ../sass/pages/outside/__outside_css_common.scss */
.btnSignup1:hover {
  color: #ffffff !important;
  margin-top: 62px !important;
  background-color: #00794e;
}

/* line 482, ../sass/pages/outside/__outside_css_common.scss */
.signup {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 489, ../sass/pages/outside/__outside_css_common.scss */
  .signup {
    margin-top: 15px;
  }
}
/* line 493, ../sass/pages/outside/__outside_css_common.scss */
.last-together {
  background-color: #F4D73F;
}

/* line 496, ../sass/pages/outside/__outside_css_common.scss */
.last {
  margin-top: 15px;
  height: 170px;
  text-align: center;
}

/* line 501, ../sass/pages/outside/__outside_css_common.scss */
.footer {
  background-color: #4B4D7E;
  height: 70px;
  line-height: 1.42857143;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 507, ../sass/pages/outside/__outside_css_common.scss */
  .footer {
    height: 110px;
  }
}
/*  logincss.css       */
/* line 515, ../sass/pages/outside/__outside_css_common.scss */
.background-white {
  background-color: white;
}

/* line 518, ../sass/pages/outside/__outside_css_common.scss */
.margin-bottom-ten {
  margin-bottom: 10px;
}

/* line 521, ../sass/pages/outside/__outside_css_common.scss */
.text-align-left {
  text-align: left;
}

/* line 524, ../sass/pages/outside/__outside_css_common.scss */
.backc {
  background-color: #148eae;
}

/* line 528, ../sass/pages/outside/__outside_css_common.scss */
.logins {
  font-family: bFont;
  background-color: #008858;
  color: #ffffff;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0px #005F3E, 0px 5px 0px 0px #005F3E, 0px 10px 5px #005F3E;
  -moz-box-shadow: inset 0px 1px 0px #005F3E, 0px 5px 0px 0px #005F3E, 0px 10px 5px #005F3E;
  box-shadow: inset 0px 0px 0px #005F3E, 0px 0px 0px 0px #005F3E, 0px 4px 2px #005F3E;
}
/* line 540, ../sass/pages/outside/__outside_css_common.scss */
.logins:hover {
  background-color: #00794e;
}

/* line 544, ../sass/pages/outside/__outside_css_common.scss */
.logins-disabled {
  background-color: gray !important;
  /*    opacity:0.65;*/
}

/* line 549, ../sass/pages/outside/__outside_css_common.scss */
.btnLogin {
  border-radius: 55px;
  border-color: white;
  border-width: 1px;
  height: 30px;
  width: 90px;
  font-family: bookFont;
  color: white;
  background: transparent;
}
/* line 559, ../sass/pages/outside/__outside_css_common.scss */
.btnLogin:hover {
  background: transparent;
  color: white;
}
/* line 563, ../sass/pages/outside/__outside_css_common.scss */
.btnLogin:focus {
  outline: 0 !important;
}

/* line 568, ../sass/pages/outside/__outside_css_common.scss */
.show-error-message {
  color: #EB616E;
}

/* line 571, ../sass/pages/outside/__outside_css_common.scss */
.font-small-4 {
  font-size: 10px;
}

/* line 574, ../sass/pages/outside/__outside_css_common.scss */
.font-small-3 {
  font-size: 11px;
}

/* line 577, ../sass/pages/outside/__outside_css_common.scss */
.font-small-2 {
  font-size: 12px;
}

/* line 580, ../sass/pages/outside/__outside_css_common.scss */
.font-small-1 {
  font-size: 13px;
}

/* line 583, ../sass/pages/outside/__outside_css_common.scss */
.r {
  text-align: right;
  color: #ffffff;
  background-color: #148eae;
  padding-top: 25px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  opacity: 0.5;
}

/* line 593, ../sass/pages/outside/__outside_css_common.scss */
.l {
  text-align: left;
  color: #ffffff;
  background-color: #148eae;
  padding-top: 25px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  opacity: 0.5;
}

/* line 604, ../sass/pages/outside/__outside_css_common.scss */
.buttonview, .buttonview-loginpage {
  /*for signup heading in top center	*/
  margin-top: 10px;
  color: #148eae;
  text-align: center;
  border: 2px;
  line-height: 50px;
  /*width: 325px;*/
  background-color: #ffffff;
  vertical-align: middle;
  border-radius: 40px;
  font-family: mediumFont;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 623, ../sass/pages/outside/__outside_css_common.scss */
.buttonview {
  font-size: 24pt;
}

/* line 626, ../sass/pages/outside/__outside_css_common.scss */
.buttonview-loginpage {
  font-size: 18pt;
}

/* line 629, ../sass/pages/outside/__outside_css_common.scss */
.buttonview-changed {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  border-left: 3px solid rgba(255, 255, 255, 0.37);
  border-right: 3px solid rgba(255, 255, 255, 0.37);
  border-top: 3px solid rgba(255, 255, 255, 0.37);
  line-height: 50px;
  font-size: 24pt;
  vertical-align: middle;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-family: mediumFont;
  font-weight: bold;
  letter-spacing: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 651, ../sass/pages/outside/__outside_css_common.scss */
.loginbox {
  background-color: #ffffff;
  margin: 25px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px;
}

/* line 661, ../sass/pages/outside/__outside_css_common.scss */
.fp {
  /* font purpose */
  vertical-align: middle;
  font-family: mediumFont;
  text-align: center;
  color: #148eae;
  margin-top: 10px !important;
  line-height: 1.42857143;
}

/* line 670, ../sass/pages/outside/__outside_css_common.scss */
.be {
  /* before email text */
  font-family: bookFont;
  color: black;
  opacity: 0.34;
  text-align: left;
  font-size: .75em;
  margin-top: 0px !important;
}

/* line 678, ../sass/pages/outside/__outside_css_common.scss */
.contact-email {
  font-family: bookFont;
  color: black;
  text-align: center;
  font-size: 14px;
}

/* line 684, ../sass/pages/outside/__outside_css_common.scss */
input#email, input#password, input#fname, input#lname {
  font-family: mediumFont;
  background-color: #efefef;
  border-radius: 4px;
  border-collapse: collapse;
  border-width: thin;
  border-color: #148eae;
  opacity: 0.5;
  font-weight: bold;
}

/* line 694, ../sass/pages/outside/__outside_css_common.scss */
.window {
  font-family: mediumFont;
  color: #148eae;
  background-color: #efefef;
  opacity: 0.5;
  border-color: #148eae;
  font-weight: bold;
  border-radius: 4px;
  border-collapse: collapse;
  border-width: thin;
}

/* line 705, ../sass/pages/outside/__outside_css_common.scss */
.logins1 {
  font-family: mediumFont;
  background-color: #008858;
  color: #ffffff;
  border-radius: 2px;
  text-align: center;
  width: 110px;
  height: 40px;
  margin-top: 0px;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Shadow*/
}
/* line 725, ../sass/pages/outside/__outside_css_common.scss */
.logins1:active {
  color: #ffffff !important;
  margin-top: 2px !important;
  /*Shadow*/
  -webkit-box-shadow: 0px 4px 0px #00794E;
  -moz-box-shadow: 0px 4px 0px #00794E;
  box-shadow: 0px 4px 0px #00794E;
}
/* line 733, ../sass/pages/outside/__outside_css_common.scss */
.logins1:hover, .logins1:focus {
  color: white !important;
  background-color: #00794e;
}

/* line 738, ../sass/pages/outside/__outside_css_common.scss */
.logins2 {
  font-family: mediumFont;
  background-color: #008858;
  color: #ffffff !important;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Shadow*/
  /*    -webkit-box-shadow: 0px 6px 0px #00794E;
      -moz-box-shadow: 0px 6px 0px #00794E;
      box-shadow: 0px 6px 0px #00794E;*/
}
/* line 756, ../sass/pages/outside/__outside_css_common.scss */
.logins2:hover {
  color: white !important;
  background-color: #00794e;
  /*    margin-top: 2px;*/
  /*Shadow*/
  /*    -webkit-box-shadow: 0px 4px 0px #00794E;
      -moz-box-shadow: 0px 4px 0px #00794E;
      box-shadow: 0px 4px 0px #00794E;*/
}

/* line 766, ../sass/pages/outside/__outside_css_common.scss */
.hrb {
  text-align: center;
  vertical-align: bottom;
  color: #efefef;
  display: block;
  height: 1px;
  color: black;
  opacity: 11%;
}

/* line 775, ../sass/pages/outside/__outside_css_common.scss */
.hrb-password {
  text-align: center;
  vertical-align: bottom;
  color: #efefef;
  display: block;
  height: 1px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: black;
  opacity: 11%;
}

/* line 788, ../sass/pages/outside/__outside_css_common.scss */
.loginbox-password {
  margin-bottom: 40px;
}

/* line 791, ../sass/pages/outside/__outside_css_common.scss */
.fontbottom {
  color: #148eae;
  font-family: mediumFont;
}

/* line 796, ../sass/pages/outside/__outside_css_common.scss */
input#sign {
  color: #ffffff;
  background-color: #008858;
  border-radius: 4px;
  border-collapse: collapse;
  font-family: mediumFont;
  border-color: #008858;
  text-align: center;
  margin-left: 230px;
}
/* line 805, ../sass/pages/outside/__outside_css_common.scss */
input#sign:hover {
  background-color: #00794e;
}

/* line 809, ../sass/pages/outside/__outside_css_common.scss */
.link {
  /* For Login link for members */
  font-family: mediumFont;
  font-size: 8pt;
  color: #148eae;
  text-align: right;
  margin-right: 45px;
}

/*input#google {
    font-family: mediumFont;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;

}*/
/* line 825, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: mediumFont;
}

/* line 831, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-box-notfixed {
  bottom: 0;
  width: 100%;
  font-family: mediumFont;
}

/* line 836, ../sass/pages/outside/__outside_css_common.scss */
.footer-light a {
  color: white;
  margin: 5px;
}
/* line 840, ../sass/pages/outside/__outside_css_common.scss */
.footer-light a:hover {
  color: white;
}
/* line 843, ../sass/pages/outside/__outside_css_common.scss */
.footer-light a:visited {
  color: white;
}
/* line 846, ../sass/pages/outside/__outside_css_common.scss */
.footer-light a:active {
  color: white;
}

/* line 852, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-blue a {
  color: #148EAE;
  margin: 5px;
}
/* line 856, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-blue a:hover {
  color: #148eae;
}
/* line 859, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-blue a:visited {
  color: #148eae;
}
/* line 862, ../sass/pages/outside/__outside_css_common.scss */
.footer-light-blue a:active {
  color: #148eae;
}

/*  Terms of Use css    */
/* line 868, ../sass/pages/outside/__outside_css_common.scss */
.imgShadow {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  margin: 50px 0px;
}

/* line 873, ../sass/pages/outside/__outside_css_common.scss */
.terms-header {
  background-color: #148eae;
  color: #ffffff;
  font-family: mediumFont;
}

/* line 878, ../sass/pages/outside/__outside_css_common.scss */
.terms-heading {
  padding-top: 40px;
  font-size: 58px;
}

/* line 882, ../sass/pages/outside/__outside_css_common.scss */
.terms-sub-heading {
  font-size: 22px;
  padding-bottom: 30px;
}

/* line 886, ../sass/pages/outside/__outside_css_common.scss */
.terms-content-use {
  font-family: bookFont;
  font-size: 14px;
}

/* line 890, ../sass/pages/outside/__outside_css_common.scss */
.terms-content-manifesto {
  font-family: bookFont;
  font-size: 15px;
}

/* line 894, ../sass/pages/outside/__outside_css_common.scss */
.terms-content-heading {
  color: #148eae;
  font-size: 36px;
  padding-bottom: 25px;
}

/* line 899, ../sass/pages/outside/__outside_css_common.scss */
.terms-autoscroll {
  margin: 34px auto;
  font-size: 16px;
  position: fixed;
  list-style-type: none;
  font-family: bookFont;
}

/* line 906, ../sass/pages/outside/__outside_css_common.scss */
.terms-autoscroll-careers {
  margin: 34px auto;
  font-size: 16px;
  position: relative;
  list-style-type: none;
  font-family: bookFont;
}

/* line 913, ../sass/pages/outside/__outside_css_common.scss */
.terms-hr {
  width: 250px;
  border: none;
  border-top: 1px solid #e8e8e8;
  margin: 50px auto;
}

/* line 919, ../sass/pages/outside/__outside_css_common.scss */
.margin-tb-fifty {
  margin: 50px auto;
}

/* line 922, ../sass/pages/outside/__outside_css_common.scss */
.position-relative {
  position: relative;
}

/* line 926, ../sass/pages/outside/__outside_css_common.scss */
.nav > li {
  line-height: 25px;
}

/* line 929, ../sass/pages/outside/__outside_css_common.scss */
.nav {
  padding-left: 40px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

/* line 934, ../sass/pages/outside/__outside_css_common.scss */
.nav-pills > li > a {
  border-radius: 5px !important;
}

/* line 937, ../sass/pages/outside/__outside_css_common.scss */
.nav > li > a {
  padding: 2px !important;
}
/* line 940, ../sass/pages/outside/__outside_css_common.scss */
.nav > li > a:hover {
  background-color: #148eae !important;
  color: #ffffff !important;
}
/* line 944, ../sass/pages/outside/__outside_css_common.scss */
.nav > li > a:active {
  background-color: #148eae !important;
  color: #ffffff !important;
}

/* line 950, ../sass/pages/outside/__outside_css_common.scss */
.nav-pills > li.active > a {
  background-color: #148eae !important;
  color: #ffffff !important;
}

/* line 955, ../sass/pages/outside/__outside_css_common.scss */
.active {
  background-color: #148eae;
  line-height: 25px;
  color: #ffffff;
  border-radius: 5px;
}

/*	Press css	*/
/* line 965, ../sass/pages/outside/__outside_css_common.scss */
.news_article_div {
  padding: 20px;
  margin: 50px 0;
}

/* line 970, ../sass/pages/outside/__outside_css_common.scss */
.news_logo_img {
  width: 100%;
}

/* line 974, ../sass/pages/outside/__outside_css_common.scss */
.news_article_heading {
  font-size: 2em;
  font-family: bookFont;
  font-weight: 100;
  margin: 0;
  line-height: 1.3em;
  color: #148eae;
}

/* line 983, ../sass/pages/outside/__outside_css_common.scss */
.news_article_subheading {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 10px 0;
}

/* line 988, ../sass/pages/outside/__outside_css_common.scss */
.news_article_date {
  color: #656565;
}

/* line 991, ../sass/pages/outside/__outside_css_common.scss */
.news_article_content {
  font-size: 1.1em;
}

/* line 994, ../sass/pages/outside/__outside_css_common.scss */
.careers_img {
  width: 80%;
  height: 80%;
}

/* line 998, ../sass/pages/outside/__outside_css_common.scss */
.line-height-2 {
  line-height: 2;
}

/* line 1001, ../sass/pages/outside/__outside_css_common.scss */
.top-250 {
  top: 250px;
}

/* line 1004, ../sass/pages/outside/__outside_css_common.scss */
.set-opacity-careers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* line 1013, ../sass/pages/outside/__outside_css_common.scss */
.margin-bottom-15-percent {
  margin-bottom: 15%;
}

/* line 1016, ../sass/pages/outside/__outside_css_common.scss */
.margin-bottom-2-percent {
  margin-bottom: 2%;
}

/* line 1019, ../sass/pages/outside/__outside_css_common.scss */
.margin-bottom-5-percent {
  margin-bottom: 5%;
}
