<style>
    .scrollable-menu {
        height: auto;
        max-height: 300px;
        overflow: auto;
    }

    .menu-highlighted {
        font-weight: bold;
    }
</style>
<ul class="dropdown-menu scrollable-menu" style="display:block; overflow-x: hidden;">
    <li class="container-fluid" mentio-menu-item="item" ng-repeat="item in items track by $index">
        <a class="text-primary row padding-lr-0" style="">
            <div class="col-xs-12 padding-lr-0">
                <p class="text-center">
<!--                    <g-profile-img  myclass="g-img-20 font-small-2 mentions-image margin-left-5" type="{{item.type}}" path="item.vga" name="item.name" ng-if="item.type">
                    </g-profile-img>-->
                </p>
<!--            </div>
            <div class="col-xs-10 padding-lr-0 ">-->
                <p class="mentions-name pull-left font-small-2 margin-left-5" ng-bind-html="item.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></p>
            </div>
        </a>
    </li>
</ul>