<?php
$this->layout = 'gridle_in';
$this->set('title_for_layout', 'Notifications');
?>
<div class="container-fluid" ng-controller="notificationController" ng-init="notificationInit();">
    <div class="log-page-wrap row">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
            <!--    ACTIVITY LOG OPTIONS        -->
            <div class="activity-log-options container-fluid">
                <div class="row" >
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 ">
                        <p class="font-big-4 text-muted text-uppercase" >Notifications</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group input-group-sm">
                            <input class="form-control g-search-box" type="text" placeholder="Search any notification" ng-model="searchtext.message">
                            <div class="input-group-addon input-group-addon-round">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--       NOTIFICATION DETAILS            -->
            <div ng-repeat="notification in notificationsPage | filter:searchtext" class="container-fluid">
                <!--        DATE OF THE NOTIFICATION             -->
                <div class="row" ng-if="$index == 0 || (dateFormat(notifications[$index].time, 'shortDate') != dateFormat(notifications[$index - 1].time, 'shortDate'))">
                    <div class='log-date-heading'>
                        <p class="label label-warning font-big-1" ng-bind="momentDate(notification.time)"  ></p>
                    </div>
                </div>
                <!--  NOTIFICATION EXPANSION           -->
                <a href="{{notification.link}}">
                    <div class="log-message-div row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-lr-0">
                            <p class='log-message-icon p-margin-0' ng-class="{'success-icon': notification.type =='task' && notification.activity=='taskcomplete'}">
                                <span class="fa" ng-class="{group:'fa-users', task:'fa-tasks', network:'fa-circle',file:'fa-file'}[notification.type]"></span>
                            </p>    
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padding-lr-0">
                            <p class='log-message text-muted p-margin-0'>
                                <span class=''  ng-bind-html="notification.message"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>    
        </div>
    </div>
</div>