<?php

/**
 * Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
echo __d('users', 'Hi,');
echo "<br/><br/>";
echo __d('users', 'I just wanted to drop a quick reminder that we are waiting for you to join %s on Build. It will make it really simple and easy for us to work together, manage tasks and share files. Please click the button below to join %s.',$data['network_name'],$data['network_name']);

echo "<br>";
echo "<a target='_blank' style='margin:14px 0;color:#ffffff;text-decoration:none;display:inline-block;min-height:38px;line-height:39px;padding-top:0;padding-right:16px;padding-bottom:0;padding-left:16px;outline:0;background:#3eae5f;font-size:14px;text-align:center;font-style:normal;font-weight:400;border:0;vertical-align:bottom;white-space:nowrap;border-radius:0.2em' href='" . $data['url'] . "/desks'>Join workspace</a>";
echo "<br/>";

echo 'Also, in case you are facing any problems or have suggestions, just hit reply. It will directly send out mail to Build. You can also tweet to them <a href="https://twitter.com/ionthglobal">@build_ionth</a>.';

