/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Dec, 2014, 4:57:48 PM
    Author     : anupama
*/

.comments-container{
    padding: 10px 25px;
    border-radius: 4px;
   
}
.comments-area{
    padding: 10px;
}
.comment-box-wrapper{
    max-height: 450px;
    overflow-y: hidden;
    &:hover{
        overflow-y: auto; 
    }
}
.comment-box{
    padding: 10px;
    border-top: 1px solid $offwhite;
}
.comment-body{
    
}
.comment-actions{
    
}
.comment-user-img{
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 2px;
}
.btn-comment-load{
    
}