@import 'variables/_variables.scss';

.form-inline-error{
	margin-top:10px;
	line-height:20px;
}


//http://monkeyandcrow.com/blog/simple_inline_edit_with_css/
/* Make an input blend into its parent */
input.g-inline-edit{

  /* Eliminate borders and padding */
border:none;
padding:0;
margin:0;
background:none;
box-shadow:none;

 /* Inherit the parent element's typography */font:inherit;
color:inherit;
line-height:inherit;
font-size:inherit;
text-align:inherit;

/* Seems to help alignment in headers */
vertical-align:top;	

/* Add interaction cues on hover and focus */
&:hover{
//background-color : $bg-yellow;
 /* A subtle transition never hurts */
  -webkit-transition: background-color 0.5s;
     -moz-transition: background-color 0.5s;
      -ie-transition: background-color 0.5s;
          transition: background-color 0.5s;	
}
&:focus{

background-color : $bg-off-white;	
 /* A subtle transition never hurts */
  -webkit-transition: background-color 0.5s;
     -moz-transition: background-color 0.5s;
      -ie-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

& .form-control[disabled]{
  background-color:none;
}
}

.form-control[disabled]{
  cursor:default;
}
