.header-gridle{

}
.g-navbar{
    position: fixed;
    top:0;
    z-index: 100;
    width: 84%;
    background: white;
    line-height: 48px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*    -webkit-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);*/
    & .navbar-collapse{
    }

}
.g-navbar-focused{
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;
    background: white;
    line-height: 48px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*    -webkit-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);*/
    & .navbar-collapse{
    }

}
.navbar{
    min-height: 48px;
}
ul.navbar-nav > li > a{
    line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;

    &:hover,&:visited,&:active{
        color: $DARK-PURPLE;
        background-color: white; 
    }
}
.navBarLink{
    &:hover, &.active{
        color: $DARK-PURPLE;     
    }

    & .icon{
        padding-top: 2px;
        line-height: 48px;
    }
}

.li-header-profile{
    
    padding-top:12px;
    padding-bottom:13px;
    
    &:hover .header-user{
        background-color: $DARK-PURPLE;
        color:white;
    }
}

.header-user{
    background: $black-alpha-lower;
    color:white;
    &:hover{
        background-color: $DARK-PURPLE;
    }
}
.header-dropdown{
    width:200px;
}
.notification-count-style{
    min-width:15px;
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: -8px;
    left:8px;
    background-color: red;
    padding: 3px;
}

