.notificationBar{
    //border-left: 2px solid #ccc;
    font-size: 13px;
    position: fixed;
    right: -300px;
    top:50px;
    width: 28%;
    bottom: 0;
    z-index: 10;
    background: white;
    max-height: 600px;
    -moz-box-shadow: -1px 0px 2px -1px $black-alpha-lower;
    box-shadow: -1px 0px 2px -1px $black-alpha-lower;

    /*animation*/ 
    -webkit-animation : slideLeft 0.3s ease-in forwards;  
    -moz-animation:  slideLeft 0.3s ease-in  forwards;
    animation: slideLeft 0.3s ease-in forwards;
    /*animation ends*/ 
}
/*animation*/ 
.notificationBar.ng-hide-add.ng-hide-add-active
{
    /*animation*/ 
    -webkit-animation : slideRight 0.3s ease forwards;  
    -moz-animation:  slideRight 0.3s ease  forwards;
    animation: slideRight 0.3s ease forwards;
    /*animation ends*/ 
}
.notificationSeen{
    color:$black-alpha-high;
    font-family: 'gotham-book', sans-serif;
    background-color: white; 
}
.notificationNotSeen{
    color:$black-alpha-higher;
    font-family: 'gotham-book', sans-serif;
    background-color: #cbe3eb;
}

.notificationHead{
    cursor: pointer;
    background: white;
    color: $RED-SECONDARY;
    line-height: 40px;
    padding:5px 10px 5px 10px;
    font-size: 16px;
    //border-bottom: 6px solid darken($YELLOW-PRIMARY,10%);
    /*    -webkit-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        -moz-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
        box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);*/
    margin-bottom: 5px;

}
.notifications-list{
    overflow-y: auto;
    position: absolute;
    height: 100%;
    width:100%;
    padding-bottom: 20px;
}
.notification-item{
    //background: white;
    padding:10px 0;
    border-bottom: 1px solid #eee;

    &:hover{
        cursor: pointer;
        background: #f7f5eb;
    }

    &.active{
        border-left: 4px solid #ccc;
    }

    & .notification-icon{

    }


}
.notification-msg-icon{
    padding: 0px 0px 0px 0px;

    & p{
        padding-top:2px;
    }
}
.notification-msg-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 18px;        /* fallback */
    max-height: 3*18px;  
}

.notification-object{
    color: $black-alpha-higher; 
}
.notification-user{
    color: $black-alpha; 
}
