.sidebarLeft{
    background: $DARK-PURPLE;
    color: white;
    font-size: 13px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 101;

    -webkit-animation : tourFadeIn 1s ease-in-out forwards;  
    -moz-animation:  tourFadeIn 1s ease-in-out forwards;
    animation: tourFadeIn 1s ease-in-out forwards;

    & .fa-plus-circle{
        opacity: 0.7;
    }
}

.sidebarLeft .network-icon{
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: darken($DARK-PURPLE,20%);
    background-color: lighten($DARK-PURPLE,30%);
    text-align: center;
    border-radius: 50px;
    margin-right: 2px;
    opacity: 0.5;
}

.network-info{

    &:hover{
        background-color: lighten($DARK-PURPLE,5%);
    }
    &:hover .fa-chevron-circle-down     {
        color:rgba(255,255,255,0.7);
    }
}

.network-info .network-name{
    padding-left: 5px;
    color: rgba(255,255,255,0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 18;        /* fallback */
    max-height: 18*1;

}

.sidebarLeft .search-box{
    margin-top: 20px;
    padding-left:15px;
    padding-right:15px;

    & input{
        color:white;
    }
    & .form-group{
        position:relative;
    }
    & .search-icon{
        position:absolute;
        right:8px;
        top:8px;
        color: rgba(255,255,255,0.5);
    }

}

.sidebarLeft .search-bar{
    //    border-radius: 50px;
    background-color : rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.1);
    box-shadow: none;
    border-radius: 5px;
}

.teams-list, .users-list{
    -webkit-animation : tourFadeIn 1s ease-in-out forwards;  
    -moz-animation:  tourFadeIn 1s ease-in-out forwards;
    animation: tourFadeIn 1s ease-in-out forwards;
    margin-top: 20px;
    /*padding-left: 15px;*/
}
.team-add-box{

    &:hover .btn-team-add, &:hover .fa-plus-circle{
        opacity:1;
        //color:$BLUE-PRIMARY;
        color:#ffffff;
    }
}

.users-list-cover, .teams-list-cover{

    max-height: 150px;
    overflow:hidden;
    &:hover{
        overflow-y: scroll;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
        /*background-color: rgba(90,59,80,0.1);*/
        background-color: rgba(0,0,0,0.1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0,0,0,0.2);
        /*background-color: rgba(90,59,80,0.3);*/
        /*outline: 1px solid slategrey;*/
    }
}
.sidebarLeft .btn-team-add, .sidebarLeft .btn-invite{
    text-decoration: underline;
    margin-bottom: 5px;
    cursor: pointer;
    opacity:0.7;
    padding-left:15px;

    &:hover{
        opacity:1;
        //color:$BLUE-PRIMARY;
        color: #FFFFFF;
    }

}

.sidebarLeft .list-item{
    cursor: pointer;
    font-size:13px;
    line-height:24px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    overflow:hidden;

    & .group_name, & .user_name{
        padding-left:25px;
    }
    &:hover{
        background-color : darken($DARK-PURPLE,5%);
    }
    &.active{
        background-color : $BLUE-PRIMARY;
        color:white;
    }

    & .fa-gear, & .fa-times{
        opacity: 0.3;
        &:hover{
            opacity:1;
        }
    }

}
.btn-load-more{
    padding-left: 25px;
    opacity:0.5;
    font-style:italic;
    &:hover{
        opacity: 1;
    }
}
.sidebar-shortcut-box{

    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color : lighten($DARK-PURPLE,5%);
    opacity:0.5;

    &:hover{
        opacity:1;
    }

    & .shortcut-box{
        padding: 10px 5px;
    }
}

.networkOptions{


    & .dropdown-menu{
        margin-top:40px;
        width:100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    & .dropdown-menu>li>a{
        vertical-align: text-top;
    }


    & .fa-chevron-circle-down{
        color:rgba(255,255,255,0.5);
    }
}
.popover{
    color: black;
}
.popover-content{
    padding:4px;
}