<div ng-controller="GroupController">
    <!--MODAL HEADER--> 
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-dim">
                <p class="icon icon-basic-settings col-sm-1 text-right padding-lr-0" style="padding-top: 2px;"></p>
                <p class="col-sm-11 text-bold padding-lr-0">
                    &nbsp;&nbsp;Gridle works best with teams
                </p>
            </div>
            <div class="col-sm-2 pull-right" ng-click="cancel()" >
                <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
            </div>
        </div>

    </div>
    <!--MODAL BODY--> 
    <div class="modal-body">
        <div class="container-fluid">
            <form name="AddTeamForm">
                <div class="row">
                    <div class="col-sm-12 padding-lr-0 padding-tb-10">
                        <p class="">
                            <span class="fa fa-star font-big-1" style="color:#ffe066;"></span>
                            <span class="text-italic text-bold" style="color:#c5dfaa">Productivity tip:</span>
                            <span class="font-fmall-2 text-dim text-italic">Tag relevant teams in your tasks and files to quickly share stuff with the whole team. Simple.</span>
                        </p>
                    </div>
                </div>
                <div class='row margin-top-10'>
                    <div class='col-sm-12'>
                        <div class="form-group">
                            <input class="form-control gridle-input" name="teamName" id="teamName" placeholder="Type team name here." rows="1" ng-model="group.Group.name" ng-pattern="/^[a-z0-9 _&quot;']*$/i" maxlength="30" minlength="2" autofocus >
                            <!--error messages here--> 
                            <div ng-show="AddTeamForm.teamName.$dirty" class="color-red font-small-1 padding-top-5 padding-left-30 text-bold">
                                <div class="row">
                                    <p ng-show="AddTeamForm.teamName.$error.required">Please give a name to your new team</p>
                                    <p ng-show="AddTeamForm.teamName.$error.minlength">Minimum 2 characters are required</p>
                                    <p ng-show="AddTeamForm.teamName.$error.maxlength">Name is too long.</p>
                                    <p ng-show="AddTeamForm.teamName.$error.pattern">Alphabets, numbers, spaces, hyphens (-) ,underscores(_) and single quotes(') are allowed only</p>
                                </div>
                            </div>
                            <div ng-show="AddTeamForm.teamName.$valid">
                                <p class="text-dim font-small-1 padding-top-5 padding-left-30">Be sure to make it short and simple.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row margin-top-30'>
                    <div class='col-sm-12'>
                        <div class="form-group margin-top-10">
                            <textarea class="form-control gridle-input"
                                      placeholder="Add people. For ex. @John, @Stacy" 
                                      ng-model="addToTeam"
                                      rows="1"
                                      mentio
                                      mentio-select-not-found="true"
                                      mention-typed-term="currentMention"
                                      mentio-require-leading-space="true"
                                      mentio-id="'addTeamMentIo'"></textarea>
                            <mentio-menu
                                mentio-for="'addTeamMentIo'"
                                mentio-trigger-char="'@'"
                                mentio-items="autoLoadedUsers"
                                mentio-template-url="/scripts/View/mentio.tpl.html"
                                mentio-select="getUsers(item)"
                                mentio-search="searchUserAutoLoad(term, currentMention)"
                                ></mentio-menu>
                            <p class="padding-top-5 font-small-1 text-dim padding-left-30">Because none of you is as smart as all of you.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-init="removeShared = true">
                    <div ng-repeat="groupTag in tagsforGroup" >
                        <div ng-show="removeShared" ng-mouseenter="removeShared = false;">
                            <g-profile-img type="user" path="groupTag.vga" name="groupTag.name" myclass="g-img-25 font-small-2 margin-right-10"></g-profile-img>       
                        </div>
                            <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="removegroupTag($index)">
                                <p  class="g-removeShared g-img-25 round-30 text-center cursor-pointer margin-right-10 pull-left" popover="{{groupTag.name}}" popover-trigger="mouseenter" >
                                    <span class="fa fa-times"></span>   
                                </p>   
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='row margin-top-50'>
                    <div class='col-sm-4 col-sm-offset-8'>
                        <button class='btn btn-primary btn-block' ng-click="groupAdd(group)">Good to go!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
