<div ng-controller="GroupController">
    <div class="modal-header">
<!--    <div ng-include src="'/js/modules/common/productivityTip.html'" ></div>-->
<div class ="productivityTip font-small-1">
    <p class="text-muted">Productivity tip</p>
    <p class="">Tag relevant teams in your tasks and files to quickly share stuff with the whole team. Quick and easy.</p>
</div>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <div class='row padding-tb-20'>
            <div class='cols-sm-12 text-center'>
                <p class='text-muted'><span class='fa fa-group' ></span> Make a team to collaborate</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <p>Team name</p>
                <p>Because believe us nobody wants a team called "Untitled"</p>
                <div class="form-group margin-top-10">
                    <textarea class="form-control" placeholder="Give name to your team here" rows="1" ng-model="group.Group.name"></textarea>
                </div>
            </div>
        </div>
        
        <div class='row margin-top-30'>
            <div class='col-sm-12'>
                <p>Add people</p>
                <p>Because a team with zero members is not a team</p>
                <div class="form-group margin-top-10">
                    <textarea class="form-control"
                                  placeholder="add people in your Group" 
                                  ng-model="grouptags"
                                  mentio
                                  mentio-select-not-found="true"
                                  mention-typed-term="currentMention"
                                  mentio-require-leading-space="true"
                                  mentio-id="'addTeamMentIo'"></textarea>
                    <mentio-menu
                            mentio-for="'addTeamMentIo'"
                            mentio-trigger-char="'@'"
                            mentio-items="autoLoadedUsers"
                            mentio-template-url="/scripts/View/mentio.tpl.html"
                            mentio-select="getUsers(item)"
                            mentio-search="searchUserAutoLoad(term, currentMention)"
                            ></mentio-menu>
                </div>
            </div>
        </div>
        
        <div class='row margin-top-50'>
            <div class='col-sm-4 col-sm-offset-8'>
                <button class='btn btn-block btn-blue btn-block' ng-click="groupAdd(group)">Good to go!</button>
            </div>
        </div>

    </div>
</div>
</div>
