<div ng-controller="GroupController">
    <!--MODAL HEADER--> 
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-6 text-dim" style="position: relative" ng-init="teamRename = false">
                <p class="text-bold padding-lr-0 btn-team-rename line-height-30" ng-show="!teamRename" ng-click="teamRename = true;" >
                    <span ng-bind="editTeamGroup.Group.name"></span>
                    <!--below span visible only to group owner--> 
                    <span ng-show="editTeamGroup.Group.admin == $root.loggeduser">&nbsp;&nbsp;<span class="fa fa-pencil cursor-pointer text-dimmer"></span></span> 
                </p>
                <div ng-show="teamRename" class="teamRenameInput">
                    <div class="col-sm-12 padding-lr-0">
                        <input class="form-control gridle-input" placeholder="Write new name" ng-model="name" autofocus ng-enter="editGroupName(editTeamGroup.Group.id, name, editTeamGroup.Group.name)"/>    
                    </div>
                </div>
            </div>
            <!--SEARCH--> 
            <div class="col-sm-5 padding-lr-0" ng-init="memberSearchFocus = false">
                <div class="search-box">
                    <p class="search-icon " ng-class="{'color-black-alpha-low':!memberSearchFocus, 'color-blue':memberSearchFocus}" style="right: 10px; top:6px"><span class="fa fa-search"></span></p>
                    <input class="input-sm form-control" placeholder="Find team member" ng-focus="memberSearchFocus = true;" ng-blur="memberSearchFocus = false" style="border-radius:50px;" ng-model="searchmember"/>
                </div>
            </div>

            <div class="col-sm-1 pull-right" ng-click="cancel()" >
                <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
            </div>
        </div>

    </div>
    <!--MODAL BODY--> 
    <div class="modal-body">
        <div class="container-fluid">

            <!--ADD AND SEARCH--> 
            <div class="row">
                <!--ADD--> 
                <div class="col-sm-11 padding-left-0 team-add-member-input" ng-init="addMemberFocus = false;" ng-show="editTeamGroup.Group.admin == $root.loggeduser">
                    <p class="icon-plus" ng-class="{'color-black-alpha-low':!addMemberFocus,'color-blue':addMemberFocus}">+</p>
                        
                        <input type="text"
                           class="form-control gridle-input input-sm" 
                           placeholder="Add people. For ex. @John, @Stacy"
                           id ="testinput"
                           ng-model="addToTeam"
                           ng-focus="addMemberFocus = true;" 
                           ng-blur="addMemberFocus = false;"
                           mentio
                           mentio-select-not-found="true"
                           mention-typed-term="currentMention"
                           mentio-require-leading-space="true"
                           mentio-id="'addToTeamMentIo'"/>
                        <mentio-menu
                            mentio-for="'addToTeamMentIo'"
                            mentio-trigger-char="'@'"
                            mentio-items="autoLoadedUsers"
                            mentio-template-url="/scripts/View/mentio.tpl.html"
                            mentio-select="getUsers(item)"
                            mentio-search="searchUserAutoLoad(term, currentMention)">
                        </mentio-menu>
                
                </div>
                <div class="col-sm-1 padding-lr-0" ng-show="editTeamGroup.Group.admin == $root.loggeduser">
                    <p class="btn-mark-complete  icon icon2-arrows-check" ng-click="addMember(editTeamGroup.Group.id)" style="top:0"></p>
                </div>
                <!--ADD PREVIEW-->
                <div class="col-sm-12" ng-init="removeShared = true">
                    <div ng-repeat="groupTag in tagsforGroup" >
                        <div>                                            
                            <g-profile-img type="user" path="groupTag.vga" name="groupTag.name" myclass="g-img-25 font-small-2 margin-right-10" ng-show="removeShared" ng-mouseenter="removeShared = false;"></g-profile-img>       
                         
                            <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="removegroupTag($index)">
                                <p  class="g-removeShared g-img-25 round-30 text-center cursor-pointer margin-right-10 pull-left" popover="{{groupTag.name}}" popover-trigger="mouseenter" >
                                    <span class="fa fa-times"></span>   
                                </p>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--LIST OF PEOPLE--> 
            <div class="row teamMembersList padding-tb-20">
                <!-- single member --> 
                <div class="col-sm-12 padding-lr-0 padding-tb-10 teamMember" ng-repeat="user in editTeamGroup.UsersGroup| filter : searchmember">
                    <div class="col-sm-1 padding-left-0">
                        <g-profile-img type="user" path="user.UserInfo.vga" name="user.UserInfo.name" myclass="g-img-25 font-small-2 margin-right-10"></g-profile-img>
                    </div>
                    <div class="col-sm-10 memberName padding-left-0 line-height-30 color-black-alpha ">
                        <p class="">
                            <!--name--> 
                            <span ng-bind="user.UserInfo.name"></span>
                            <!--owner--> 
                            <span class="font-small-2 color-black-alpha-low" ng-show="user.role == 'admin'">&nbsp;(Owner)</span>
                        </p>
                    </div>
                    <div class="col-sm-1" ng-click="groupModalMemberRemove(user.group_id, user.user_id, editTeamGroup.Group.name, user.UserInfo.name)" ng-show="(editTeamGroup.Group.admin == $root.loggeduser) && (user.role != 'admin')">
                        <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer padding-top-5"></p>
                    </div>
                </div>
            </div>
            <!--BUTTONS--> 
            <div class="row margin-top-50 team-modal-footer ">
                <div class="col-sm-12 padding-lr-0">

                    <button class="pull-right btn-sm btn-primary margin-left-5" ng-click="cancel()">Close</button>
                    <button class="pull-right btn btn-sm btn-default" ng-show="editTeamGroup.Group.admin == $root.loggeduser" ng-click="groupModalDelete(editTeamGroup.Group.id, editTeamGroup.Group.name)">Delete team</button>
                    <button class="pull-right btn btn-sm btn-default" ng-hide="editTeamGroup.Group.admin == $root.loggeduser" ng-click="groupModalLeave(editTeamGroup.Group.id, editTeamGroup.Group.name)">Leave team</button>
                </div>
            </div>
        </div>
    </div>
</div>
