@import 'variables/_variables.scss';


.g-add-network-wrap{
	background : url('../img/patterns/stardust.png');
	color:$white;
	padding:2% 0% 15% 0%;
}
.add-network-rocket{
	margin-top:10%;
}
.g-add-network-content{
	padding: 0 20%;
}
.add-network-heading{
	margin-top:15%;
	font-family: 'proxima-nova-extra-bold';
	letter-spacing : 1px;
	word-spacing:5px;
	line-height: 32px;
	color:$offwhite;

}
.add-network-form{
	margin-top:15%;
	background : rgba(0,0,0,0.4);
	padding:5%;
	border-radius:2px;

}
.add-network-below-content{
	padding: 0 0%;
	p{
	padding: 0 5%;
	}
}
.add-netwrk-moon p{
	padding:10%;
}


/*	ADDING MEMBERS PAGE		*/
.g-add-members-wrap{
	background : url('../img/patterns/stardust.png');
	padding:5% 5% 10% 5%;
}
.add-members-heading-div p{
	}
	.add-members-heading{
	letter-spacing : 1px;
	word-spacing:5px;
	
	}
.add-members-box{
	background: $offwhite;
	background: url('../img/patterns/skulls.png');
	border-radius:5px;
	padding:2% 5% 5% 5%;
}
.add-members-form{
	margin-top:10%;
	padding:5%;
}