@import 'variables/_variables.scss';



    #conversation_left{

    }
    .left-pane-search{
        border-bottom: 1px solid #d4d4d4;
        font-size: 1.2em;
        padding-bottom: 10px;
        margin-bottom: 10px; 
    }
    .search_input{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: 30px;
        font-size: 12px;
    }
    .search_icon{
        background:#f7f5eb;
        border-top-right-radius: 20px; 
        border-bottom-right-radius: 20px;
        font-size: 10px;
        padding:4px 12px;
    }
    .conversation-tile-wrap{
        overflow-y: auto;
        min-height: 400px;
        max-height: 450px;
    }
    /********************* conversation tile design *******************************/
    .conversation-tile{
        background:white;
        border-radius:2px;
        color:#7f7f7f;
        cursor: pointer;
        margin-bottom: 5px;
        position: relative;
        height: 50px;
    }

    .groupletterimage{
        display: inline-block;
        margin:0;
        float:left;
        width:50px;
    }
    .letterimage{
        background:#2E9984;
        width: 50px;
        color:#f7f5eb;
        font-size: 1.3em;
        margin:0;
        float:left;
        line-height: 50px;
    }

    .multiuserimage{
        display: inline-block;
        margin:0;
        float:left;
        width:50px;
    }
    .multiuserimg{
        width:20px;
        height:20px;
        line-height:20px;
        font-size:11px;
        border-radius:0px;
        margin:0;
        background:$offwhite;
        color:$dark-green;
        border:1px solid white;
      }
    .singleuserimage{
        display: inline-block;
        margin:0;
        float:left;
        width:50px;
    }
    .singlepicimg
    {
        float: left;
        width: 50px;
        height: 50px;
    }

    .color-swatch.brand-info {
        background-color: #2e9984;
    }

    .color-swatch.brand-warning {
        background-color: #f0ad4e;
    }
    .color-swatch {
        width: 20px;
        height: 20px;
        margin: 0;
    }


    /*
    .time-ago{
        font-size: 9px;
        color: #7F7F7F;
        position: absolute;
        right: 2px;
        bottom: 0;
        margin-bottom: 0;
    }
    */
    .blink
    {
        -webkit-animation-direction: normal;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: blink;
        -webkit-animation-timing-function: ease;   
    }

    @-webkit-keyframes 'blink' {
        0% { background: rgba(255,0,0,0.5); }
        50% { background: rgba(255,0,0,0); }
        100% { background: rgba(255,0,0,0.5); }
    }

    @-moz-keyframes 'blink' {
        0% { background: rgba(255,0,0,0.5); }
        50% { background: rgba(255,0,0,0); }
        100% { background: rgba(255,0,0,0.5); }
    }
    @keyframes 'blink'{
        0% { background: rgba(255,0,0,0.5); }
        50% { background: rgba(255,0,0,0); }
        100% { background: rgba(255,0,0,0.5); }
    }

    /************************ conversation tile design ends************************/
    /************************ conversation left pane design ends ******************/

    #conversation-main{
        /*background: yellow;*/
        /*padding-left: 5px;*/
        /*padding-right: 1px;*/
        /*border-left: 1px solid #e5e3d3;*/
    }
    .conversation-options{
        margin: 0;
    }
    .conversation_main{
        margin: 0;
    }
    .conversation_msg_wrap{
        padding:0px;
    }
    #conversation_messages{
        padding:5px;
        padding-top: 0;
        height: 410px;
        overflow-y: auto;
        width: 100%;
        margin:0;
        margin-top: -10px;
    }
    .loadmore
    {
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 9px;
    }
    .loadmore .btn-panel
    {
        color:#999;
        font-size: 11px;
        text-shadow: 1px 0 0 #fff;
        background: #f7f7f9;
    }
    #write-message{
        background: white;
        padding:5px;
        overflow: auto;
    }
    #sendmessage{
        background:#f7f5eb;
        outline:#7f7f7f;
        color:#2E9984;
        border-color: #E5E3D3;
        margin:5px;
        font-size: 12px;
    }
    #msgreply{
        font-size: 12px;
    }
    #entercheck{
        margin-top: 2px;
    }
    .entersend{
        padding:5px;
    }
    .sendmsg{
        margin-top: 5px;
    }
    .newmessagebtn{
        padding: 8px 20px;
    }
    .newmessagebtn:hover, .newmessagebtn:focus{
        color: #f7f5eb;
    }
    /****************** message box central design *******************/
    .message-box{
        background:white;
        padding:5px; 
        margin:5px;
        border-radius: 2px;
        overflow: auto;
        position: relative;
    }

    .message-user{
        border-bottom: 1px solid #E5E3D3;
        padding:5px;
        margin-bottom: 5px;
    }
    .message-username{
        margin-left: 10px;
    }

    .message-content{
        font-size: 11px;
        padding:8px 0;
        margin: 0;
        word-wrap: break-word;
    }
    .time{
        font-size:10px;
        color:#87B1D8;
    }

    /************************* message box central design ends *******************/

    .conversation .media-body
    {
        white-space: nowrap;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }


    .btn-panel .btn
    {
        color:#b8b8b8;
        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .btn-panel-msg .btn
    {
        border-right: 1px solid #ddd;
    }



    #files_display{
        min-height: 523px;
        background: #f7f5eb;
        margin-top:-11px; 
        border-left: 5px solid #E5E3D3;
        opacity: 0.2;
    }
    .file_img{
        border: 1px solid #e5e3d3;
        padding:3px;
        width:100%;
    }


    /* Anupama
    New Css on 22nd July
    */

    #g-chat-wrap{}

    #g-chat-main{
        padding: 10px 20px;
    }

    .g-chat-options{
        padding: 5px;
        border-bottom: 1px solid #E5E3D3;
    }

    .g-chat-options .btn{
        margin : 2px 5px;
    }

    .g-chat-full-area{
    }

    .g-chat-messages-wrap{
        padding:5px 20px;
        height: 410px;
        overflow-y:auto;
        margin: 10px;
    }

    .g-chat-message-area{

    }
    .g-chat-msg-box{
        width:50%;
        clear: both;
        border-bottom: 1px solid #e5e3d3;
        margin: 5px 10px;
        padding: 5px;
        position: relative;
    }
    .g-chat-msg-user-img{
        border-radius: 20px;
        line-height:25px;
        width:25px;
    }
    .g-chat-msg-user-name{
        margin-left: 10px;
    }
    .g-chat-msg-content{
        font-size: 1em;
        margin-bottom: 0
    }
    .g-chat-msg-time{
        text-align: right;
        font-size: 0.75em;
        margin-bottom: 0
    }
    .g-btn-load-more{
        margin:10px 0;
    }
    .g-textarea-msg{
        margin: 5px;
        resize: vertical;
        max-height: 300px;
    }

    .g-chat-conversations-list{
        padding: 10px;
        border-left: 1px solid #e5e3d3;

    }

    .g-chat-search-area{
        padding: 10px;
        margin:5px;
    }
    .g-chat-conversations{
        height: 500px;
        overflow-y: hidden;
    }
    .g-chat-conversations:hover{
        overflow-y: auto;
    }
    .g-chat-conversation-tile{
        margin: 7px 0;
        height: 55px;
        position: relative;
        padding: 5px;
        border-bottom: 1px solid #e5e3d3;
        cursor: pointer;
    }
    .g-chat-tile-content{
        width:70%;
        display: inline-block;
        padding-left: 10px;
        overflow: hidden;
    }
    .g-chat-tile-username{
        line-height: 22px;
        margin:0;
    }

    .g-chat-tile-msg
    {
        margin:0;
        line-height: 11px;
        overflow: hidden;
        font-size: 0.8em;
        white-space: nowrap;
    }
    .g-chat-tile-time{
        line-height: 10px;
        font-size: 0.75em;
        text-align: right;
        padding:0 5px;
    }
    .g-chat-tile-img-box{
        display: inline-block;
        margin:0;
        float:left;
    }
    .g-chat-tile-img-single{
        border-radius: 40px;
        line-height:45px;
        width:45px;
        height:45px !important;
    }

