@import 'variables/_variables.scss';
$g-dark-blue : #446580;
.g-color-dark-blue{
    color:$g-dark-blue;
}
.g-dashboard-wrap{
    /*padding: 30px 10%;*/
}
@media (min-width:$screen-lg){
    .g-dashboard-wrap{
        min-height:400px;
    }
}
/*----	NETWORK INFORMATION		-----------*/
.dashboard-network-info{
    margin-bottom:5px;
    text-align:center;
    line-height:50px;	
}
.dashboard-network-name{
    
}	
.dashboard-network-info-content{
    background: lighten($offwhite,4%);
    height:75px;
    line-height:75px;
    text-align:right;
}
.ta-network-name{
    height:75px;
}
.ta-network-name:disabled
{
    outline: none;
    background: none;
    border:none;
    color:$white;
    color : $g-dark-blue;
    text-transform:uppercase;
    /*text-align:center;*/
    padding-left: 20px;
}
/*-----------------------------------------*/

/*----	DASHBOARD MENU 		----------*/

.dashboard-menu{
    /*background: url('/img/patterns/snow.png') repeat;*/
    border-right:5px solid #8280AA;
    padding:0px 0;
    /*text-align:right;*/
}

.dashboard-menu-item{
    padding: 0 10px 0 40px;
    border-bottom:1px solid #e2dfd3;
    line-height:75px;
    color : #446580;
    a{
        color : #446580;
        &:hover{
            /*color : lighten(#446580,4%);*/
            /*color: $offwhite;*/
        }
    }
    &:hover{
        cursor:pointer;
        background:darken($offwhite,4%);
        /*color : #8280AA;*/
    }
}

.dashboard-menu .active{
    /*background:darken($offwhite,4%);*/
    background: #8280AA;
    color: $offwhite;
    a{
        color: $offwhite;
    }
}
/*-----------------------*/

/* Edit Profile Page */
.dashboard-menu-setting{
	border-right:1px solid $offwhite;
	padding:0px 0;
	text-align:right;
}
@media (min-width:$screen-lg){
	.dashboard-menu-setting{
		margin-top:5px;
	}
}
.dashboard-menu-item-setting{
	padding: 0 10px;
	border-bottom:1px solid $offwhite;
	line-height:50px;

	&:hover{
	cursor:pointer;
	background:lighten($offwhite,4%);
	}
}

.dashboard-menu-setting .active{
	background:$offwhite;	
}

.dashboard-setting{
	padding:10px;
	border-bottom : 1px solid $offwhite;
}
@media (min-width:$screen-lg){
	.dashboard-setting{
		min-height:400px;
	}
}


/*-----------------------------------------*/

/*------	DASHBOARD CONTENT 	-----------*/
.dashboard-expands{
    background: #446580;
    padding:10px;
    border-bottom : 1px solid $offwhite;
}
@media (min-width:$screen-lg){
    .dashboard-expands{
        min-height:600px;
    }
}


/*------------------------------------------*/

/*-------	LISTING OF PEOPLE		-------*/
.network-people-area{
    text-align:center;
}
.network-people-search{
    padding-bottom:3px;
    padding-top: 8px;
    line-height:30px;
}
.network-people-listing{

}
.network-people-tile-cover{
    padding:5px;
}
.network-people-tile{
    margin-bottom:20px;
}
.network-people-info{
    padding : 10px 2px;
    background:lighten($offwhite,3%);
}
.network-owner-info{
    background:$offwhite;
}
.network-people-img-cover{
    text-align:center;
    padding:10px;
}
.network-ppl-img{
    border:3px solid $white;
    width:64px;
    line-height:64px;
    height:64px !important;
}
.network-owner-img{
    border:3px solid $dark-green;
}
.network-admin-img{
    border:3px solid $brand-warning;
}
.network-people-name{
    text-align:center;
}
.network-people-options{
    line-height:40px;
    border-top : 1px solid $offwhite;
    border-bottom : 1px solid $offwhite;
    height:100px;
}
/*-----------------------------------------*/

/*--	STASTICS	----*/
.network-stats-area{

}
.dashboard-stats-count{
    //background:lighten($offwhite,3%);
    text-align : center;
    margin:10px;
    padding:20px 5px;
}
.dashboard-count-cover{
    text-align:center;
    line-height:100px;
    font-size:22px;
    font-weight:bold;
    width:100px;
    color:white;
    background:$brand-warning;
    @include border-radius(100px);
}
.dashboard-stats-group-count{
    border-left:1px solid $offwhite;
    border-right:1px solid $offwhite;
}

/*----------------------*/
.analytics-partition{
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    border-radius: 4px;
}
.g-bg-white-transparent{
    background: rgba(255,255,255,0.8);
}
.analytics-icon{
    margin:10px;
}
.analytics-icon-caption{
    line-height: 100px;
}
.analytics-content{
    padding: 35px;
    margin:0;
    font-size: 14px;
}