@import 'variables/_variables.scss';

#g-desk-wrap{
    //background: url('../img/patterns/lightpaperfibers.png');
    //background: url('../img/patterns/paper_fibers.png');
    //background: url('../img/patterns/linedpaper.png');
}
#g-desk-group-user-wrap{
    padding-top:20px;
}

.g-desk-users-area{
    padding:20px 10px;
}
.g-desk-user-img-div{
    margin-top:50%;
}
.g-desk-user-img{
    width:50px;
    height:50px;
    line-height:50px;
    border-radius: 25px;
    &:hover{
        border:3px solid #8cc687;
        cursor:pointer;
    }
}
#svg-links{
    overflow:hidden;
}
.g-desk-group-user-wrap{
    max-height:570px;
    overflow:hidden;
    &:hover{    
        overflow-y:auto;
    }
}
.g-desk-search-area{
    min-height: 50px;
    padding: 10px;
}
.g-desk-add-grp-cover{
    padding:10px;
}
.g-desk-group-user-area{
    margin-top: 15px;
}
.g-desk-group-area{
    padding:0px 5px;
    /*background: peachpuff;*/
}
.g-desk-group-user-heading{
    color:#e5e3d3;
}
.g-desk-tile{
    border-radius: 5px;
    margin:5px 0px;
    min-height: 40px;
    cursor: pointer;
    //padding:0 5px;
    background : $bg-off-white;
    &:hover{
        background-color : darken($bg-off-white,5%);
        /*background-color:#FCF8C2;*/
    }
}
.g-desk-tile-selected{
    /*background : $bg-blue;*/
    background-color: #BBE1EF;
    /*color : $white;*/
    &:hover{
        /*background : $bg-blue;*/
        background-color: #BBE1EF;
    }
}
.g-desk-tile-highlight{
     background-color : darken($bg-off-white,5%);
    /*background-color:#FCF8C2;*/
    &:hover{
        background-color : darken($bg-off-white,5%);
        /*background-color:#FCF8C2;*/
    }
}
.g-desk-tile-name{
    white-space: nowrap; 
    text-transform: capitalize;
    //display: inline-block;
    //padding: 0 5px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}
.g-desk-tile-item{
    height:40px;
}
.g-desk-tile-user-img{
    border-radius: 50px;
    width:25px;
    height:25px;
    line-height:25px;
    display:inline-block;
    //background: lighten($brand-warning, 5%);
    //color:$white;
    color : $dark-green;
    background : $white;
}
.g-desk-tile-user-name{
    display:inline-block;
}
.g-desk-tile-group-img{
    border-radius: 50px;
    margin-right : 5px;
    width:25px;
    height:25px;
    line-height:25px;
    //display:inline-block;
    background: $dark-green;   
}
.g-desk-tile-group-name{
    display:inline-block;
}
.g-desk-tile-burger{
    //border-top-right-radius:5px;
    //border-bottom-right-radius:5px;
    color:white;
    padding:0 10px;
    line-height:40px;
    opacity:0;
    &:hover{
        background:rgba(0,0,0,0.1);

    }
}
.g-desk-tile-actions{
    color:$grey-3;
    display: none;
    line-height: 40px;
    max-height: 50px;
    height:100%;
   }
.g-desk-tile-selected .g-desk-tile-actions{
    color:$white;
}

.g-desk-tile-action{
    padding:2px;
    border-radius:4px;
    p{
        line-height:40px;
        font-size: 1.2em;

        &:hover{
            //border-left:1px solid $offwhite;
            //border-right:1px solid $offwhite;
            cursor:pointer;
            background:rgba(0,0,0,0.1);
        }
    }
}


@media screen and (min-width:768px){
}


.g-desk-tile-selected .g-desk-tile-burger, .g-desk-tile-highlight .g-desk-tile-burger{
    opacity:1;
}
/*
.g-desk-tile:hover .g-desk-tile-name{
    word-break: break-word;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
    width: 50%;
}
*/
.g-desk-tasks-wrap{
    background: #f7f5eb;
    //background-image: url('../img/patterns/linedpaper.png');
    background: url('../img/patterns/lightpaperfibers.png');

    padding:0px 0px 10px 0px;
}
.g-desk-tasks-area{
    min-height: 500px;
    //  padding-top:5px;
}
.desk-tasks-filter{
    //background:#e0e0dc;
    background-color:white;
    color:$dark-grey;
    // margin:0px -5px 0 -5px;
    padding:5px 0 0 0;
    // border-bottom:2px solid $light-grey;

    .dropdown-menu{
        min-width:120px;
        margin-top:5px;
    }
}
.task-filter-msg-div{
    padding:10px 5px;
    margin:2px 0;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    transition: background-color 0.8s;

}
.g-desk-tasks-border-normal{
    border-left: 5px solid #e5e3d3;
}
.btn-task-filter{
    padding-left:5px;
    cursor:pointer;
    color:$dark-grey;
}

/*desk links css    */
.g-links{
    stroke-width:1;
    fill:none;
}
.tasks-separator{
    background:$light-grey;
}
.desk-search-btn{
}
#desk-search-box{
}

#new-task-box{

}
.input-circular{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    font-size:14px;
}
.input-circular-settings{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.g-task-input, .g-search-input{
    height:35px;
}
