@import 'variables/_variables.scss';

.file-page-wrap{
	padding: 0 10% 30px;
        min-height: 700px;
}

.file-info-section{
	border-bottom:1px solid $offwhite;
}
.g-file-info{
	border-bottom:1px solid $offwhite;
	background:lighten($offwhite,4%);
}
.g-file-img-cover{
	text-align:center;
}
.g-file-icon-cover{
	height:100px;
	width:100px;
	@include border-radius(50px);
	text-align:center;
	color:$dark-green;
	background:$bg-green;
}
.g-file-icon{
	line-height:100px;
	font-size:50px;
}

.file-members-section-heading{
	padding:20px 10px 0 10px;
	text-transform:uppercase;
	text-align:right;
}
.file-members-section-footer{
	padding:20px;
	text-align:center;	
}
.file-members-section{
	padding:20px 0;
	border-bottom:2px solid $offwhite;
}
@media (min-width:$screen-lg){

	.file-members-section{
		min-height:300px;
	}

}

.g-file-user-tile-cover{
	margin-right: 5px;
}

.g-file-user-tile{
	padding:10px;
	text-align:center;
	height:200px;
	@include border-radius(2px);
}
.g-file-admin-tile{
	border:none;
}

.g-file-info{
	padding:10px;
}

.g-file-img{
	@include border-radius(200px);
}

.g-file-user-img , .g-file-grp-img{
	border: 5px solid $white;
	height:64px !important;
	line-height:64px !important;
	width : 64px;
}

.g-file-grp-img{
	background:$dark-green;
	color:white;
	text-align:center;
	font-size:30px;
	line-height:64px;
	height:74px;
	width:74px;
}

.g-file-admin-img{
	border: 5px solid $brand-warning;
}

.g-file-img{
	background : $dark-green;
	text-align:center;
	width:50px;
	line-height:50px;
	color:$white;
}
.g-file-name-text{
  line-height:30px;
}
.g-file-settings{
    margin-top: 20px;
}
