@import 'variables/_variables.scss';

.g-docs-wrap{
    padding: 20px 0;
    padding-bottom:0;	
}

.g-docs-me{
    text-align:center;
}

.g-docs-usr-grp-area{
    padding: 5px 3%;
    border-right: 1px solid $offwhite;
}

.g-docs-usr-grp-search{
    padding: 5px 5%;	
}

.g-doc-usr-grp-sel{
    text-align:center;
    width:100%;
    margin: 5px 0;
}

.g-doc-ppl-list{
    padding: 5px 0;
    overflow:hidden;
    height:450px;
    max-height:450px;

    &:hover{
        overflow-y:auto;
    }
}
.g-doc-ppl-tile{
    border-bottom: 1px solid $offwhite;
    padding: 5px;
    margin:5px;
    height: 40px;
    line-height:30px;
    cursor : pointer;
    &:hover{
        background-color : $bg-off-white;
    }
}
.g-doc-ppl-img{
    @include border-radius(30px);
    margin-right : 10px;
    width:25px;
    line-height:25px;
}
.g-doc-ppl-name{
    text-transform:capitalize;
}

.g-docs-area{
    padding: 2% 3%;
    padding-bottom:0;
    max-height:590px;
}

.g-docs-options{
    position:relative;
    padding:10px;
    margin:5px;
    border-bottom : 1px solid $offwhite;
    clear:both;
}

.g-docs-filter{
    display:inline-block;
    padding:0;
}
.g-docs-upload{
    padding:0;
}

.g-docs-list{
    //padding:10px 0;
    //margin:5px;
}

.g-doc-list-options{
    padding:5px 0;
}

.g-doc-tile-list{
    max-height:480px;
    overflow:hidden;
    &:hover{
        overflow-y:auto;
    }
}

.g-doc-tile{
    margin-bottom:10px;
    line-height:30px;
    border:none;
    border-left:2px solid $offwhite;
    box-shadow:none;

    &:hover{
    }

    .g-doc-tile-summary{
        background:lighten($bg-off-white,4%);
        border:none;

        &:hover{
            cursor:pointer;
            background:lighten($bg-off-white,1%);
        }

        .g-doc-tile-summary-div{
            padding-top:10px;
        }
    }

    .g-doc-tile-collapse{
        
        .g-doc-collapse-body{
            background:none;
            border-top:none;
            border-bottom:1px solid $offwhite;
        }
    }
}

.panel-group .panel-heading + .panel-collapse > .panel-body{
    border-top:none;
}

.g-doc-tile-icon{
    //width:40px;
    padding:0;
}
.g-icon-tile-name{
    padding:0;	
}
.g-icon-tile-size{
    padding:0;	
}
.g-icon-tile-date{
    padding:0;
}
.g-doc-icon-cover{
    width:30px;
    height:30px;
    background:white;
    @include border-radius(30px);
    border : 1px solid $offwhite;
    color : $dark-green;
    margin-right:5px;
}
.g-doc-shared-block{    
    padding-bottom: 20px;
}
.g-doc-option-block{
    padding-top: 13px;
    padding-bottom: 20px;
}
.doc-share-usr-tile{
    text-transform:capitalize;
    margin-right:5px;
    height:30px;
    line-height:30px;
    display:inline-block;

}
.doc-share-title{
    line-height:13px;
    margin-right: 10px;
}
.doc-share-user-info, .doc-share-group-info{
    @include border-radius(2px);
}
.doc-share-user-info{
    
}
.doc-share-group-info{
    padding:0 10px;
    background:$offwhite;
    color: $light-grey;
}
.doc-share-owner{
    background:$bg-blue;
    color:$white;
    line-height:20px;
    width:20px;
}

.doc-share-user-name{

}
.doc-share-user-img{
    margin-right:5px;
    background: lighten($offwhite,3%);
    color:$light-grey;
}

.btn-file-option{
    padding: 5px 10px;
    color: $light-grey;
    cursor: pointer;
    border-radius: 4px;

    -webkit-transition:0.1s ease-in-out all;
    -moz-transition:0.1s ease-in-out all;
    -o-transition:0.1s ease-in-out all;
    transition:0.1s ease-in all;

    &:hover{
        background-color: $light-grey;
        color:white;
    }
}