@import 'variables/_variables.scss';

.group-page-wrap{
	padding: 30px 10%;	
}

.group-info-section{
	border-bottom:1px solid $offwhite;
}
.group-members-section-heading{
	padding:20px 0 0 0;
	text-transform:uppercase;
	text-align:center;
}
.group-members-section-footer{
	padding:20px;
	text-align:center;	
}
.group-members-section{
	padding:20px 0;
	border-bottom:1px solid $offwhite;
	background:lighten($offwhite,4%);
}
@media (min-width:$screen-lg){

	.group-members-section{
		min-height:400px;
	}

}

.g-grp-user-tile-cover{
	padding:10px;
}

.g-grp-user-tile{
//	border:1px solid $bg-off-white;
	padding:10px;
	text-align:center;
	height:200px;
	@include border-radius(2px);
}
.g-grp-admin-tile{
//	background:lighten($brand-warning,25%);
	border:none;
}

.g-grp-info{
	padding:10px;
}

.g-grp-img{
	@include border-radius(200px);
}
.g-grp-user-img-cover{
}
.g-grp-user-img{
	border: 5px solid $white;
	line-height: 64px;
	height:64px ! important;
	width:64px;
	background:$offwhite;
	color:$dark-green;
}

.g-grp-admin-img{
	border: 5px solid $brand-warning;
}

.g-grp-img{
	background : $dark-green;
	text-align:center;
	width:50px;
	line-height:50px;
	color:$white;
}
.g-grp-name{
	
}
.g-grp-name-text{
  line-height:30px;
}
.g-grp-usr-count{
	line-height:20px;
}
.g-grp-search-area{
	
}
.g-grp-add-member-area{
	
}