@import 'variables/_variables.scss';

.log-page-wrap{
	padding: 30px 20px;	
}

.activity-log-options{
	border-bottom : 1px solid $offwhite;	
}

.log-page-heading{
    padding:10px 0;
}

.log-date-heading{
	margin : 20px 0;
}

.log-message-div{
	border-left : 3px solid $offwhite;
	margin:5px;
	min-height:40px;
	line-height:30px;
	padding:5px 10px 5px 10px;
	&:hover{
	background : $offwhite;
	}
}

.log-message{
	display:inline-block;
}

.log-message-icon{
    text-align:center;
	display:inline-block;
	margin-right:5px;
	@include border-radius(30px);
	width:30px;
	height:30px;
	background:$bg-blue;
	color:$white;
	padding-top:2px;
	.fa{
	color:$white;
	margin:0;
	}
	&.success-icon{
		background:$dark-green;
	}
}

.log-message-link{
	display:inline-block;
}