@import 'variables/_variables.scss';

.g-networks-wrap{
    padding-top:30px;
    background:url('../img/patterns/skulls.png') repeat;
}

@media (min-width:$screen-lg){
    .g-networks-wrap{
        min-height:600px;
    }
}

.networks-options{
    //padding:20px 0;
    line-height:30px;
    margin-bottom:15px;
}
.btn-new-network{

}
.network-tile-area{
    height:400px;
    margin-bottom:20px;
}
.network-tile{
    background:white;
    border : 3px solid $offwhite;
    @include border-radius(5px);

    a:hover{
        text-decoration:none;
    }
}
.network-stats-icon{
    padding:2px 0;
    &:hover{
        background:$offwhite;
        cursor:pointer;
    }
}
.network-tile-bg{
}
.network-tile-img-area{
    height:241x;
    color:white;
}
.network-tile-activity{
    max-height: 100px;
    overflow: auto;

}
.network-tile-activity-div{
    max-height:100px;
    padding:5px;
}	
.network-tile-activity-div{

}


/*	 network tile palettes	*/
.network-tile-0{
    &:hover {
        //border : 3px solid saturate($palette-blue-1,30%);
    }	
    .network-tile-img-area{
        background : $palette-blue-1;
    }
    &:hover .network-tile-img-area{
        background : saturate($palette-blue-1,40%);
    }
    .network-tile-stats{
    }
}
.network-tile-1{
    &:hover{
        //border : 3px solid saturate($palette-purple-1,20%);
    }

    .network-tile-img-area{
        background : $palette-purple-1;
    }
    &:hover .network-tile-img-area{
        background : saturate($palette-purple-1,50%);
    }
    .network-tile-stats{
    }	
}
.network-tile-8{
    &:hover{
        //border : 3px solid saturate($palette-red-1,20%);
    }

    .network-tile-img-area{
        background : $palette-red-1;
    }
    &:hover .network-tile-img-area{
        background : darken($palette-red-1,5%);
    }		
    .network-tile-stats{
    }	
}
.network-tile-3{
    &:hover{
        //border : 3px solid saturate(#FFC94E,20%);
    }

    .network-tile-img-area{
        background : #FFC94E;
    }
    &:hover .network-tile-img-area{
        background : lighten(#FFC94E,5%);
    }
    .network-tile-stats{

    }	
}
.network-tile-4{
    &:hover{
        //border : 3px solid saturate(#85D6E4,20%);
    }

    .network-tile-img-area{
        background : #85D6E4;
    }
    &:hover .network-tile-img-area{
        background : saturate(#85D6E4,50%);
    }
    .network-tile-stats{

    }	
}
.network-tile-5{
    &:hover{
        //border : 3px solid saturate(#F7846A,20%);
    }

    .network-tile-img-area{
        background : #F7846A;
    }
    &:hover .network-tile-img-area{
        background : saturate(#F7846A,50%);
    }
    .network-tile-stats{

    }	
}
.network-tile-6{
    &:hover{
        //border : 3px solid saturate(#92E4C9,20%);
    }
    .network-tile-img-area{
        background : #92E4C9;
    }
    &:hover .network-tile-img-area{
        background : saturate(#92E4C9,50%);
    }
    .network-tile-stats{

    }	
}
.network-tile-2{
    &:hover{
        //border : 3px solid saturate(#C9EA5D,20%);

    }
    .network-tile-img-area{
        background : #C9EA5D;
    }
    &:hover .network-tile-img-area{
        background : saturate(#C9EA5D,50%);
    }
    .network-tile-stats{

    }	
}

.network-tile-expired{
    background : #E9E9D1;
    .network-tile-img-area{
        color: #FFFFFE;
    }
}


/*-------------------------*/

.network-tile-img{

}
.network-tile-name{
    line-height:241px;
    text-transform:uppercase;
    font-weight:bold;
}
.network-tile-url{

}
.network-tile-section{
    padding:7% 20px;
    text-align:center;
}
.network-tile-stats{
    border-bottom : 1px solid $offwhite;
    line-height:20px;
    background:$white;
}
.network-stats-numbers{
    font-weight:bold;
}
.network-stats-updates, .network-stats-group-count, .network-stats-user-count{
    padding:0;
}
.network-stats-group-count{
    border-right : 1px solid $offwhite;
    border-left : 1px solid $offwhite;	
}