.g-planner-wrap{
}
.planner-side-tasks-area{
    padding:0 10px;
    border-left : 5px solid $offwhite;
    background-color: #f7f5eb;
    background: url("../img/patterns/lightpaperfibers.png");
    padding: 0 0 10px 0;
}
.new-task-area{
    margin-top:30px;
    border-bottom:1px solid $offwhite;
}
.new-task-area-heading{
    text-align:right;
    line-height:30px;
}
.calendar-wrap{
    padding:30px 0;
}
.task-more-options{
    background-color:$brand-warning;
    border:none;
    color:$white;
}
.planner-search-box{
    padding:0 20px;
    background: white;

    .form-control, .input-group-addon{
        height: 24px;
    }
    .input-group-addon{
        padding:0 10px;
    }
}

.task-listing-area{
}
.tasks-list{
    padding-bottom:30px;
    max-height:500px;
    overflow:hidden;

    &:hover{
        overflow-y:auto;
    }
}
$task-height:187;
$task-header-height:20;
$task-footer-height:30;
$task-body-height: $task-height - $task-header-height - $task-footer-height ;

.task-tile{
    padding:5px 0;
    position:relative;
    line-height:24px;
    border-bottom:1px solid lighten($light-grey,15%);
    ////	min-height:$task-height+px;

    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;

    max-height:34px;
    overflow:hidden;
    cursor:default;

    &:hover{
        background-color:rgba(255,255,255,1);
        cursor: pointer;
    }

    li{
        list-style:none;
        //float:right;
        margin: 0 5px;
        display:inline;
    }
}
.task-tile-active {
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
    max-height:500px;
}
.task-tile-color{
    height:24px;
    width:5px;
    margin:0 2px;
}
.task-tile:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
.task-group{
    background: #85d6e4;
}
.task-me{
    background:#f7846a;
}
.task-individual{
    background:#fec94e;
}
.task-other{
    background:#fec94e;	
}
.task-missed{
    background-image:url('/img/patterns/paper-crush.png');
}
.task-complete{
    //background: lighten($offwhite,2%);
}
.task-complete p, .task-complete a{
    text-decoration:line-through;	
}
.task-complete .fa:before,.del .fa:after
{
    text-decoration: line-through;
}
.task-header{
    height:$task-header-height+px;
    line-height:$task-header-height+px;
    padding:5px 5px;
}
.task-tile-ppl-area{
    padding-left:10px;
}
.task-tile-ppl{
    margin-bottom:5px;
    margin-right:2px;
    display:inline-block;
    //	height:20px;
}
.task-tile-ppl-user{
    line-height:24px;
    width:24px;
    height:24px;
    border-radius:2px;
    background:$brand-warning;
    background:rgba(255,255,255,0.8);
    color:#333;
}
p.task-tile-ppl-user{
    border:1px solid $light-grey;
}
.task-tile-ppl-grp{
    line-height:24px;
    height:24px;
    border-radius:0px;
    padding:0 5px;
    background:white;
    border:1px solid $light-grey;
}
.task-body{
    min-height:	$task-body-height+px;
    padding-bottom:35px;	
}
.task-body p{
    padding:($task-body-height/2 - 36)+px 10px 0 10px;
}
.task-footer{
    text-align:right;
    background:rgba(0,0,0,0.3);
    //position:absolute;
    //bottom:0;
    //width:100%;
    min-height:$task-footer-height+px ;
    line-height:$task-footer-height+px;
    padding:0 10px;
    color:$white;
}
.task-footer > li{
    list-style:none;
    float:right;
    margin: 0 5px;
}
.task-footer .dropdown-menu{
    min-width:130px;
    li{
        padding:3px 20px;
        cursor:pointer;
        color:$dark-grey;
        &:hover{
            background : $offwhite;
        }
    }

}
.btn-task-stats{
    color: $light-grey;
    border-radius: 5px;
    cursor: pointer;
    li{
        padding: 0 7px;
    }
    &:hover{
        background: $light-grey;
        color:white;
    }
}
.btn-on-task{
    color:$light-grey;
    padding:0 7px;
    border-radius: 5px;
    cursor:pointer;
        
    -webkit-transition:0.2s ease-in-out all;
    -moz-transition:0.2s ease-in-out all;
    -o-transition:0.2s ease-in-out all;
    transition:0.2s ease-in all;

    &:hover{
        background-color:$light-grey;
        color:white;
        
    }
}

.g-task-input{
    //	height:25px !important;
}
.g-task-input-settings{
    padding:3px 20px;
    cursor:pointer;
}

.task-more{
    color:$light-grey;
    padding:5px 10px 0px 10px;
}

.g-desk-btn-grp{
    //padding:2px 11px;
    //margin:0;
    //margin-top:0px !important;
    border-radius:2px;
    height:35px;	
}
.task-date-separator{
}
.task-date-separator-badge{
    font-weight:normal;
    background-color: $offwhite;
    padding:5px;    
}
.task-tile-deadline{
    padding-left: 5px;
}
.task-important-mark{
    color:#F02311;
    margin-right: 5px;
}
.task-tile-bottom{
    margin-top:10px;
}
.task-completing{
    -webkit-transition:0.5s ease-in-out text-decoration;
    -moz-transition:0.5s ease-in-out text-decoration;
    -o-transition:0.5s ease-in-out text-decoration;
    transition:0.5s ease-in text-decoration;
    text-decoration: line-through;
}
.task-complete .task-uncompleting{
    text-decoration: none;
}
.btn-mark-complete{
    padding: 5px;
    border-radius: 5px;
    
    -webkit-transition:0.2s ease-in-out all;
    -moz-transition:0.2s ease-in-out all;
    -o-transition:0.2s ease-in-out all;
    transition:0.2s ease-in all;

    &:hover{
        background-color: $dark-green;
        color: white;
    }
}
.tasks-list .ng-enter, .tasks-list .ng-move{
    -webkit-transition:0.5s ease-in opacity;
    -moz-transition:0.5s ease-in opacity;
    -o-transition:0.5s ease-in opacity;
    transition:0.5s ease-in opacity;

    opacity: 0;
}
.tasks-list .ng-enter.ng-enter-active, .tasks-list .ng-move.ng-move-active{
    opacity: 1;
}
.tasks-list .ng-leave{
    -webkit-animation:0.5s animation_fade_out;
    -moz-animation:0.5s animation_fade_out;
    -o-animation:0.5s animation_fade_out;
    animation:0.5s animation_fade_out;
}
@keyframes animation_fade_out {
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes animation_fade_out {
    from { opacity:1; }
    to { opacity:0; }
}

@-moz-keyframes animation_fade_out {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes animation_fade_out {
    from { opacity:1; }
    to { opacity:0; }
}
