.g-planner-wrap{
	padding-top:30px;
}
.planner-side-tasks-area{
	padding:0 10px;
	border-left : 1px solid $offwhite;
}
.new-task-area{
	border-bottom:1px solid $offwhite;
}
.new-task-area-heading{
	text-align:right;
	line-height:30px;
}
.calendar-wrap{
	padding:30px 0;
}
.task-more-options{
	background-color:$brand-warning;
	border:none;
	color:$white;
}
.planner-search-box{
	padding:0;
}
.tasks-list{
	padding-bottom:30px;
	max-height:500px;
	overflow:hidden;
	&:hover{
		overflow-y:auto;
	}
}
$task-height:187;
$task-header-height:20;
$task-footer-height:30;
$task-body-height: $task-height - $task-header-height - $task-footer-height ;

.task-tile{
	margin:5px;
	position:relative;
	min-height:$task-height+px;
}
.task-tile:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
  	left: auto;
  	width: 50%;
  	top: 80%;
  	max-width:300px;
  	background: #777;
  	-webkit-box-shadow: 0 15px 10px #777;
  	-moz-box-shadow: 0 15px 10px #777;
  	box-shadow: 0 15px 10px #777;
  	-webkit-transform: rotate(3deg);
  	-moz-transform: rotate(3deg);
 	 -o-transform: rotate(3deg);
  	-ms-transform: rotate(3deg);
 	 transform: rotate(3deg);
}
.task-group{
	background: #85d6e4;
}
.task-me{
	background:#f7846a;
}
.task-individual{
	background:#fec94e;
}
.task-other{
	background:#fec94e;	
}
.task-missed{
	 background-image:url('/img/patterns/paper-crush.png');
}
.task-complete{
	//background: lighten($offwhite,2%);
}
.task-complete p, .task-complete a{
	text-decoration:line-through;	
}
.task-complete .fa:before,.del .fa:after
    {
        text-decoration: line-through;
    }
.task-header{
	height:$task-header-height+px;
	line-height:$task-header-height+px;
	padding:5px 5px;
}
.task-tile-ppl-area{
	max-width:50%;
}
.task-tile-ppl{
	margin-bottom:5px;
	margin-right:2px;
	height:20px;
}
.task-tile-ppl-user{
	line-height:20px;
	width:20px;
	border-radius:2px;
	background:$brand-warning;
	background:rgba(0,0,0,0.1);
	color:white;
}
.task-tile-ppl-grp{
	line-height:20px;
	border-radius:0px;
}
.task-body{
    min-height:	$task-body-height+px;
    padding-bottom:35px;	
}
.task-body p{
	padding:($task-body-height/2 - 36)+px 10px 0 10px;
}
.task-footer{
	text-align:right;
	background:rgba(0,0,0,0.3);
	//position:absolute;
	//bottom:0;
	//width:100%;
	min-height:$task-footer-height+px ;
	line-height:$task-footer-height+px;
	padding:0 10px;
	color:$white;
}
.task-footer > li{
	list-style:none;
	float:right;
	margin: 0 5px;
}
.task-footer .dropdown-menu{
	min-width:130px;
	li{
	padding:3px 20px;
	cursor:pointer;
	color:$dark-grey;
	&:hover{
	background : $offwhite;
		}
	}
	
}
.btn-on-task{
	color:$white;
	padding: 0 5px;
	&:hover{
	cursor:pointer;
	color:$offwhite;
	}
}

.g-task-input{
//	height:25px !important;
}
.g-task-input-settings{
	padding:3px 20px;
	cursor:pointer;
}

.task-more{
	color:$light-grey;
	padding:5px 10px 0px 10px;
}

.g-desk-btn-grp{
	padding:2px 11px;
	margin:0;
	margin-top:0px !important;
	border-radius:2px;	
}