@import 'variables/_variables.scss';

.g-settings-wrap{
	padding:50px 10%;
}
.settings-user-img{
	border-radius:50px;
	cursor:pointer;
}
.settings-nav a{
	color	:	$dark-grey;
				}

.settings-edit-profile-area{
}
.btn-profile-save{
	margin-top:10px;
}
.form-change-pass{
	margin-top:30px;
}

.upload-photo-input[type="file"]{
	display:none;
}
#btn-upload-photo{
	
}

.edit-profile-img-preview{
    background-size: 100% 100%;
	background-position : 50% 50%;
	background-repeat : no-repeat;
	height:100px;
	width:100px;
	border-radius:50%;
	overflow:hidden;
	border:2px solid $offwhite;
}