@import 'variables/_variables.scss';

.task-page-wrap{
    padding: 0px 10% 20%;	
}

.task-info-section{
}
.g-task-info{
    background:lighten($offwhite,4%);
}
.g-task-img-cover{
    text-align:center;
}
.g-task-icon-cover{
    height:100px;
    width:100px;
    @include border-radius(50px);
    text-align:center;
    color:$dark-green;
    background:$bg-green;
    line-height:100px;
    font-size:50px;
    &.mini{
        height:50px;
        width:50px;
        line-height:56px;
        font-size:24px;
    }
}
.g-task-icon{
}

.task-members-section-heading{
    padding:10px 10px 0 10px;
}
.task-members-section-footer{
    padding:20px;
    text-align:center;	
}
.task-members-section{
    background:lighten($offwhite,5%);
    padding:20px 0;
    border-bottom:2px solid $offwhite;
}

.g-task-user-tile-cover{
}

.g-task-user-tile{
    //padding:10px;
    text-align:center;
    //height:200px;
    @include border-radius(2px);
}
.g-task-admin-tile{
    border:none;
}

.g-task-info{
    padding:10px;
    li {
        list-style: none;
    }
}

.g-task-img{
    @include border-radius(200px);
}

.g-task-user-img , .g-task-grp-img{
    @include border-radius(2px);
    //border: 5px solid $white;
    width:25px;
    height:25px;
    line-height:25px;
    background : $offwhite;
    color : $light-grey;
    margin-bottom: 4px;
}

.g-task-grp-img{
    background:$dark-green;
    color:white;
    text-align:center;
    line-height:25px;
    height:25px;
    width:25px;
}

.g-task-creator-img{
    /*border: 5px solid $brand-warning;*/
}

.g-task-img{
    background : $dark-green;
    text-align:center;
    width:50px;
    line-height:50px;
    color:$white;
}
.g-task-name-text{
    line-height:30px;
}