<div ng-controller="navBarController">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-dim">
                <p class="icon icon-basic-settings col-sm-1 text-right padding-lr-0" style="padding-top: 2px;"></p>
                <p class="col-sm-11 text-bold padding-lr-0">
                    &nbsp;&nbsp;Invite your colleagues for the video call
                </p>
            </div>
            <div class="col-sm-1 pull-right" ng-click="cancel()" >
                <!--<p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>-->
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <!--APPEAR CHAT LINK--> 
            <div class="row margin-top-10">
                <p class="modal-title text-italic font-small-1 text-dim" ng-show="AppearChatLink">
                    <img src="/img/logos/vendor/appear.png" height="20" alt="appear logo"/>
                    Your video-meeting link is <a ng-href="{{AppearChatLink}}">{{AppearChatLink}}</a>
                </p>
            </div>

            <div class="row margin-top-30 ">
                <div class="col-sm-12 appearInviteBox">
                    <div class="form-group">
                        <textarea class="form-control gridle-input"
                                  placeholder="Add people. For ex. @John, @Stacy"                            
                                  autofocus
                                  rows="1"
                                  ng-model="inviteapearIn"
                                  mentio
                                  mentio-select-not-found="true"
                                  mention-typed-term="currentMention"
                                  mentio-require-leading-space="true"
                                  mentio-id="'appearInInvite'"></textarea>
                        <mentio-menu
                            mentio-for="'appearInInvite'"
                            mentio-trigger-char="'@'"
                            mentio-items="autoLoadedUsersChat"
                            mentio-template-url="/scripts/View/mentio.tpl.html"
                            mentio-select="getUsersChat(item)"
                            mentio-search="searchUserAutoLoadChat(term, currentMention)"
                            ></mentio-menu>
                        <p class="text-dim font-small-1 padding-top-5 padding-left-30">You can invite upto 8 members to the meeting</p>
                    </div>
                </div>

                <div class="col-sm-6 col-sm-offset-6 padding-tb-10 margin-top-20">
                    <button class="btn btn-block btn-primary text-bold" ng-click="sendChatInvite(inviteapearIn)">Invite to the meeting</button>
                </div>
            </div>


        </div>
    </div>
</div>