<div class="modal-body">
    <iframe id="appear-iframe" src="{{AppearChatLink}}" frameborder="0" height="500" style="width:100%;"></iframe>
    <div class="appearChatShare container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>Share link <a class="btn-link" href="{{AppearChatLink}}" ng-bind="AppearChatLink"></a></p>
            </div>
        </div>
    </div>
</div>
