<div class="comment-main comments-container container-fluid g-background-offwhite">
    <div class="row g-background-white">
        <div class="container-fluid">
            <!--Comment add form-->
            <form ng-submit="add({id: id, body: Comment.body});
                resetForm();" name="commentAddForm" id="commentAddForm">
                <div class="comment-box row">
                    <div class="col-xs-1 padding-lr-0 text-center">
                        <g-profile-img ng-if="$root.loggeduser" path="{{$root.users[$root.getUserIndex($root.loggeduser)].UserInfo.vga}}" width="20px" height="20px" type="user" name="{{$root.usrers[$root.getUserIndex($root.loggeduser)].UserInfo.name}}" myclass="comment-user-img pull-right "></g-profile-img>
                    </div>
                    <div class="col-xs-10">
                        <div class="form-group p-margin-0">                            
                            <input class="form-control input-sm" ng-model="Comment.body" placeholder="Write a comment and press enter."/>
                        </div>
                    </div>
                </div>
                <!--<input type="submit" id="submit" value="Comment"/>-->
            </form>
        </div>
        <!--Displaying comments-->
        <div class="comment-box-wrapper container-fluid g-scrollbar">
            <div ng-if="limitcount">
                <button ng-click="changelimitcountto(comments.length)">View {{comments.length-limitcount}} more</button>
            </div>
            <div class="comment-box row" ng-repeat="comment in comments|orderBy:'-id'|limitTo:(limitcount?limitcount:comments.length)">
                <div class="comment-box-user padding-lr-0 col-xs-1 text-center">                        
                    <g-profile-img ng-if="$root.users" path="{{$root.users[$root.getUserIndex(comment.user_id)].UserInfo.vga}}" width="20px" height="20px" type="user" name="{{$root.users[$root.getUserIndex(comment.user_id)].UserInfo.name}}" myclass="comment-user-img pull-right" ></g-profile-img>
                </div>
                <div class="comment-body col-xs-7">
                    <p class="p-margin-0 font-small-1" > <span class="text-emphasize" ng-bind="$root.users[$root.getUserIndex(comment.user_id)].UserInfo.name" ></span>&nbsp;&nbsp;<span ng-bind="comment.body" ></span> </p>
                </div>
                <div class="comment-actions col-xs-3">
                    <p class="time-ago p-margin-0 font-small-1 pull-right text-center" title="{{comment.created}}"></p>  

                </div>
                <div class="col-xs-1 padding-lr-0">
                    <span ng-if="comment.user_id === $root.loggeduser" class="pull-right" ng-click="delete({id: id, commentId: comment.id})" style="cursor: pointer">&times</span>
                </div>
            </div>
            <!--Load more section-->
            <div class="comment-loadmore btn-comment-load " ng-if="comments.length < commentcount && comments.length>0">
                <btn class="btn btn-sm btn-default center-block" ng-click="load({id: id, lastId: comments[comments.length - 1].id})">Load More</btn>
            </div>
        </div>
    </div>
</div>