<!--PRODUCTIVITY TIP--> 
<div class ="productivityTip font-small-1">
    <p class="text-muted">Productivity tip</p>
    <p class="" ng-bind="produtivityTip">Use arrow keys for seeing next and previous notifications.</p>
</div>
