<div class="sidebarDocs container-fluid padding-lr-0" ng-hide="hideRightBar || !selectedFile">
    <!--FILE PREVIEW--> 
    <div class="row">
        <!--PREVIEW THUMBNAIL--> 
        <div class="col-sm-12 padding-tb-20">
            <!--task settings-->
            <li class="dropdown pull-right" dropdown style="padding-right:15px;" ng-show="checkforAdmin(selectedFile.Doc.user_id)">
                <a href="#"  class="dropdown-toggle cursor-pointer icon icon2-arrows-down color-black-alpha " dropdown-toggle>

                </a>
                <ul class="dropdown-menu dropdown-animation task-settings-menu dropdown-menu-right" role="menu">
                    <li class="container-fluid" ng-click="renameFileModal()">
                        <a href="#" class="row">
                            <div class="col-sm-2 padding-lr-0" style="padding-top:5px;">
                                <span class="icon icon-basic-gear font-big-2" style=""></span>
                            </div>
                            <div class="col-sm-10 padding-tb-5">
                                <p class="" >
                                    <span>Rename File</span>
                                </p>    
                            </div>
                        </a> 
                    </li>
                    <!--<li role="separator" class="divider"></li>-->
                    <li class="container-fluid" ng-click="fileDeleteModal(selectedFile.Doc.id, selectedFile.Doc.name)">
                        <a href="#" class="row">
                            <div class="col-sm-2 padding-lr-0" style="padding-top:5px;">
                                <span class="icon icon-basic-trashcan font-big-2" style=""></span>
                            </div>
                            <div class="col-sm-10 padding-tb-5">
                                <p class="" >
                                    <span>Delete File</span>
                                </p>    
                            </div>
                        </a>
                    </li>

                </ul>
            </li>
            <div class="doc-preview-area">
                <!--preview--> 
                <p class="text-center" ng-hide="selectedFile.Doc.thumbnailLink == null">
                    <img ng-src="{{selectedFile.Doc.thumbnailLink}}"  alt="{{selectedFile.Doc.name}}" height="200"/>
                </p>
                <!--no preview--> 
                <p class="file_no_preview text-dimmer text-center font-big-2" ng-show="selectedFile.Doc.thumbnailLink == null" style="" >       
                    No preview available

                </p>
            </div>
            <!--FILE NAME--> 
            <div class="text-center text-dim font-small-1">
                <p class="" style="padding:0 20px;word-wrap: break-word;" >
                    <span  ng-bind="selectedFile.Doc.name"></span>.<span ng-bind="selectedFile.Doc.file_extension" ></span>
                </p>
            </div>
        </div>
        <!--OPTIONS--> 
        <div class="col-sm-12 padding-tb-10 file-options">
            <!--VIEW OPTION--> 
            <div class="col-sm-4 text-center font-big-5 padding-top-5">
                <div class="cursor-pointer" ng-show="matchingfileMime(selectedFile.Doc.file_mime) || selectedFile.Doc.provider == 'dropbox'">
                    <p class="icon icon2-arrows-expand color-black-alpha " ng-click="framebenchPreview(selectedFile.Doc.id, selectedFile.Doc.preview_url, selectedFile.Doc.provider)" ></p>
                </div>
            </div>
            <!--download-->
            <div class="col-sm-4 text-center font-big-6" tooltip-placement="top" tooltip="Download file">
                <a class="" href="/Docs/download/{{selectedFile.Doc.id}}"><div class="icon icon-basic-server-download cursor-pointer color-black-alpha"></div></a>
            </div>
            <!--reshare--> 
            <div class="col-sm-4 text-center font-big-6 " tooltip-placement="top" tooltip="Share file">
                <div class="icon icon-basic-share cursor-pointer color-black-alpha" ng-click="openModalShareDoc()"></div>
            </div>
        </div>
    </div>
    <!--SHARED WITH-->
    <div class="row padding-tb-10 margin-bottom-10">
        <div class="col-sm-4 padding-right-0 ">
            <p class="text-muted font-small-2 text-center" ng-show="selectedFile.DocAssignment.length > 1">Shared with</p>
        </div>
        <div class="col-sm-6 file-shared-with padding-left-0">
            <p ng-repeat="user in selectedFile.DocAssignment" class="font-small-2 btn-link cursor-pointer shared-with pull-left" ng-hide="selectedFile.Doc.user_id == user.Info.user_id">
                <span class="" ng-bind="user.Info.name" popover-trigger="mouseenter" popover="{{user.Info.name}}"></span>
            </p>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 file-comment-list">
            <!--COMMENTS AREA--> 
            <comment-form id="{{selectedFile.Doc.id}}" add="addComment(id,body)" delete="deleteCommentModal(id,commentId)" comments="selectedFile.Comment" loadmore="{{selectedFile.moreComments}}" load="docsService.getComment(id,lastId)" commentcount=selectedFile.Doc.comment_count limitcount="3" ></comment-form>
        </div>
    </div>
</div>