<div id="framebench-modal">
    <div class="modal-body">
        <div class="col-sm-1 pull-right" ng-click="cancel()">
            <p class="font-big-3 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
        <div class="container-fluid">
            <div ng-show="!filePreviewUrl" class="col-sm-12 padding-tb-20 margin-tb-20">
                <p class="text-center" style="font-size:2em;">Waiting for the file...</p>
            </div>
            <iframe width="100%" height="600px" id="framebench-iframe" ng-src="{{filePreviewUrl}}" ng-show="filePreviewUrl"></iframe>
        </div> 
    </div>
</div>