<div class="modal-body">
    <div class="container-fluid">

        <!--PRODUCTIVITY TIP--> 
        <div class ="row productivityTip">
            <p class="text-muted">Productivity tip</p>
            <p>Use arrow keys for seeing next and previous notifications.</p>
        </div>

        <!--NOTIFICATION DESCRIPTION--> 
        <div class="row notificationInfo">
            <div class="col-xs-2 notificationCounter">
                <p class="font-big-5 text-bold">
                    <span>5</span>/<span>11</span>
                </p>    
            </div>
            <div class="col-xs-1 notificationIcon">
                <p class="text-muted"><span class="fa fa-share-square-o pull-right"></span></p>
            </div>
            <div class="col-xs-8 notificationDesc font-small-1">
                <p>Shashwat shared a file</p>
            </div>

        </div>

        <div class="row notificationDetail">
            <!--file information--> 
            <div class="container-fluid">
                <div class="row singleFileRow">
                    <div class="col-sm-8 files-head-cell file-list-cell">
                        <p class="pull-left">
                            <span class="fa fa-file-o text-muted fa-2x"></span>
                        </p>
                        <p class="pull-left text-left file-name">
                            <span>Gridle_report.docx</span><br/>
                            <span class="text-muted font-small-2">1st July, 2015</span>
                        </p>
                    </div>
                    <div class="col-sm-2 padding-lr-0 files-head-cell file-list-cell">
                        <p class="text-bold text-muted">
                            <img src="/img/demo/anupama.png" class="round-25" /> 
                        </p>
                    </div>
                    <div class="col-sm-2 padding-lr-0 files-head-cell file-list-cell">
                        <p class="text-muted font-small-1 line-height-30">25 MB</p>
                    </div>
                </div>
            </div>
            <!--file preview--> 
            <div class="col-sm-12 ">
                <div class="doc-preview-area padding-tb-10">
                    <p class=""><img src="/img/demo/anupama.png" /></p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="col-xs-3">
        <button class="btn btn-default btn-block" ng-click="ok()">Cancel</button>
    </div>
    <div class="col-xs-offset-3 col-xs-3">   
        <button class="btn btn-block btn-previous" ng-click="">Previous</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-block btn-next" ng-click="">Next</button>
    </div>
</div>