<div class="modal-header">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-dim">
            <p class="icon icon-basic-settings col-sm-3 text-right padding-lr-0" style="padding-top: 2px;"></p>
            <p class="col-sm-9 text-bold padding-lr-0">
                &nbsp;&nbsp;Rename your File
            </p>
        </div>
        <div class="col-sm-2 pull-right" ng-click="cancel()">
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>

</div>
<div class="modal-body modal-body-top-0">
    <div class="container-fluid padding-lr-0">
        <div class="row padding-tb-20" style="background-color: #70c1b3">
            <div class="col-sm-4 col-sm-offset-4 padding-lr-0 text-center">
                <P class="modal-graphic icon icon-basic-settings" style="color:#c6e7e1; padding-top:8px; font-size: 50px;" ></P>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white margin-top-15">What's in the name? Well, pretty much everything.</p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-12 ">
                <div class="form-group">
                    <input class="form-control gridle-input input-sm" name="rename_file" id="rename_file" placeholder="Give a new name to your File" ng-model="selectedFile.Doc.name" maxlength="30" minlength="2" autofocus/>
                    <p class="text-dim font-small-2 padding-top-5 padding-left-30">Default file names can be sometimes confusing for you or your colleagues. Give it a name that helps people know exactly what it is.</p>
                </div>

            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-30">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-primary btn-block pull-right" ng-click="fileRename(selectedFile.Doc.id,selectedFile.Doc.name)">Save</button>
            </div>
        </div>
    </div>
</div>
