<!--MODAL HEADER--> 
<div class="modal-header">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-dim">
            <p class="icon icon-basic-settings col-sm-1 text-right padding-lr-0" style="padding-top: 2px;"></p>
            <p class="col-sm-11 text-bold padding-lr-0">
                &nbsp;&nbsp;Share the file
            </p>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>

</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="singleFileRow row" >
            <div class="col-sm-10 file-list-cell">
                <!--file icon--> 
                <p class="pull-left padding-top-5">
                    <img src="/img/icons/file_icon.png" height="20" />
                </p>
                <!--file name--> 
                <p class="pull-left text-left text-bold text-dim line-height-30 font-small-1 margin-left-5 " title="{{selectedFile.Doc.name}}">
                    <span ng-bind="selectedFile.Doc.name"></span>.<span ng-bind="selectedFile.Doc.file_extension"></span>
                </p>
            </div>
            <div class="col-sm-2 padding-lr-0 file-list-cell">
                <p class="text-muted font-small-1 line-height-30"><span ng-bind="selectedFile.Doc.file_size | bytesConvert"></span></p>
            </div>

        </div>
        <!--single task end-->
        <!--SHARE WITH AREA--> 
        <div class="row padding-tb-15">
            <div class="col-sm-12 padding-tb-10" ng-init="removeShared = true">
                <p class="text-muted font-small-2 margin-bottom-10">Shared with</p>
                <div class="col-sm-12 padding-lr-0 margin-bottom-10">
                    <div class="pull-left margin-right-5" ng-repeat="user in selectedFile.DocAssignment" >
                        <p class="font-small-2 text-dim" ng-bind="user.Info.name" popover-trigger="mouseenter" popover="{{user.Info.name}}"></p>


                    </div>
                </div>
                <div class="col-sm-12 padding-lr-0 margin-top-20">
                    <div ng-repeat="fileTag in tagsforFile" class="" >
                        <div ng-show="removeShared" ng-mouseenter="removeShared = false;">                                            <g-profile-img type="fileTag.type" path="fileTag.vga" name="fileTag.name" myclass="g-img-25 font-small-2 margin-right-10"></g-profile-img>       
                        </div>
                        <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="removeFileTag($index)">
                            <p  class="g-img-25 g-img round-30 text-center cursor-pointer margin-right-10 pull-left" popover="Remove {{fileTag.name}}" popover-trigger="mouseenter" >
                                <span class="fa fa-times"></span>
                            </p>   
                        </div>
                    </div>
                </div>
                <div class="form-group margin-bottom-30 col-sm-12 padding-lr-0">
                    <textarea    
                        class="g-input"
                        placeholder="e.g. @John, @Donna" 
                        rows="1"
                        ng-model="fileTags" 
                        mentio
                        mentio-select-not-found="true"
                        mention-typed-term="currentMention"
                        mentio-require-leading-space="true"
                        mentio-id="'reshareFile'"
                        autofocus></textarea>
                    <mentio-menu
                        mentio-for="'reshareFile'"
                        mentio-trigger-char="'@'"
                        mentio-items="UserAndGroupTag"
                        mentio-template-url="/scripts/View/mentio.tpl.html"
                        mentio-select="getPeopleText(item)"
                        mentio-search="searchUserAndGroup(term, currentMention)"
                        ></mentio-menu>
                </div>
            </div>
        </div>
        <!--BUTTON--> 
        <div class="row margin-top-30">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-primary btn-block" ng-click="shareFile(selectedFile.Doc.id)">Share file</button>
            </div>
        </div>
    </div>
</div>
