<div class="modal-body">
    <div class="col-sm-10 col-sm-offset-1">
        <p class="text-center text-bold text-dim padding-top-10">
            File uploader
        </p>
    </div>
    <div class="col-sm-1" ng-click="cancel()">
        <p class="font-big-3 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
    </div>
    <span class="clearfix"></span>
    <div class="container-fluid upload-modal-box">
        <!--UPLOAD AREA--> 
        <div class="row">
            <div class="col-sm-12 upload-area padding-lr-0">
                <!--file upload--> 
                <div class="col-sm-6 upload-section upload-section-first cursor-pointer" ngf-select="true" ngf-multiple="true" ngf-change="uploadEvent($files, $file, $event, $rejectedFiles)" tooltip="You can upload upto 100 MB per file" tooltip-placement="bottom">
                    <!--COMPUTER UPLOAD--> 
                    <div class="col-sm-offset-2 col-sm-8">
                        <!--upload icon-->  
                        <p class="icon icon-basic-server-upload font-big-6 pull-left"></p>
                        <!--upload computer-->
                        <p class="pull-left line-height-50 margin-left-5" style="" >Upload from computer</p>
                    </div>
                </div>
                <!--DROPBOX UPLOAD-->
                <div class="col-sm-6 upload-section upload-section-last cursor-pointer" ng-click="DropboxUpload()">
                    <div class="upload-animate">
                        <!--upload icon--> 
                        <p class="padding-tb-10 pull-left">
                            <img src="/img/logos/vendor/dropbox.png" height="33"  />
                        </p>
                        <p class="pull-left line-height-50 margin-left-5">Upload from dropbox</p>
                    </div>
                </div>
            </div>
        </div>
        <!--LISTING OF FILE--> 
        <div class="row fileScroll">
            <!--UPLOAD COMPUTER FILE PREVIEW-->
            <div>
                <p class="text-center text-bold text-dim color-green" ng-show="newFiles.length > 0">
                    Uploading
                </p>
                <div class="col-sm-12 padding-lr-0 single-upload-file padding-tb-5" ng-init="shareWithOn = false" ng-repeat="file in newFiles" ng-show="newFiles.length > 0">
                    <!--UPLOAD INFORMATION--> 
                    <div class="col-sm-12 padding-lr-0 padding-tb-10 ">
                        <div class="col-sm-6">
                            <p class="pull-left" style="padding-top:2px">
                                <img ngf-src="file" ngf-default-src="'/img/icons/file_icon.png'" height="30" >
                            </p>
                            <div class="pull-left margin-left-5">
                                <p class="text-bold text-dim font-small-1 color-black-alpha upload-file-name" ng-bind="file.name" ></p>
                            </div>
                        </div>
                        <div class="col-sm-5 padding-right-0 padding-top-10">
                            <!--UPLAOD PROGRESS BAR--> 
                            <progressbar value="progressBars[$index]" type="success">{{progressBars[$index]}}%</progressbar>
                        </div>
                        <!--CANCEL--> 
                        <div class="col-sm-1 padding-lr-0">
                            <p class="font-big-2 padding-top-10 text-dim icon icon2-arrows-remove text-center cursor-pointer" ng-click="cancelUpload($index)" tooltip-placement="left" tooltip="Cancel the upload"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--completed files--> 
            <p class="text-center text-bold text-dim" ng-show="completedFiles.length > 0">
                Completed
            </p>
            <div class="col-sm-12 padding-lr-0 single-upload-file padding-tb-5" ng-repeat="file in completedFiles" ng-show="completedFiles.length > 0">
                <div class="col-sm-12 padding-lr-0 padding-tb-10 ">
                    <div class="col-sm-6">
                        <p class="pull-left" style="padding-top:2px">
                            <img ng-src="/img/icons/file_icon.png" height="30" >
                            <!--<img src="/img/icons/file_icon.png" height="30" />-->
                        </p>
                        <div class="pull-left margin-left-5">
                            <p class="text-bold text-dim font-small-1 color-black-alpha upload-file-name" ng-bind="file.Doc.name" ></p>
                        </div>
                    </div>
                    <div class="col-sm-5 padding-right-0 padding-top-10">

                    </div>
                    <!--CANCEL--> 
                    <div class="col-sm-1 padding-lr-0">
                        <p class="font-big-2 padding-top-10 text-dim icon icon2-arrows-remove text-center cursor-pointer" ng-click="removeCompleted($index)" tooltip-placement="left" tooltip="Remove from list"></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-30">
                <!--BUTTON--> 
                <button class="btn btn-primary pull-right margin-left-10" ng-click="cancel()">Close</button>
                <button class="btn btn-primary pull-right" ng-click="cancel()">Hide uploader</button>

            </div>
        </div>
    </div>
</div>