<div class="modal-body">
    <div class="col-sm-10 col-sm-offset-1">
        <p class="text-center text-bold text-dim padding-top-10">
            File uploader
        </p>
    </div>
    <div class="col-sm-1" ng-click="cancel()">
        <p class="font-big-3 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
    </div>
    <span class="clearfix"></span>
    <div class="container-fluid upload-modal-box">
        <!--UPLOAD AREA--> 
        <div class="row">
            <div class="col-sm-12 upload-area padding-lr-0">
                <!--file upload--> 
                <div class="col-sm-6 upload-section upload-section-first cursor-pointer" ngf-select ngf-multiple="true" ng-model="newFiles" ngf-keep="true" ngf-change="upload()" ngf-max-size="250000" ngf-accept="validate($file)" >
                    <!--COMPUTER UPLOAD--> 
                    <div class="col-sm-offset-2 col-sm-8">
                        <!--upload icon-->  
                        <p class="icon icon-basic-server-upload font-big-6 pull-left"></p>
                        <!--upload computer-->
                        <p class="pull-left line-height-50 margin-left-5" style="" >Upload from computer</p>
                    </div>
                </div>
                <!--DROPBOX UPLOAD-->
                <div class="col-sm-6 upload-section upload-section-last cursor-pointer" ngf-max-size="250000" ng-click="DropboxUpload()" ngf-accept="validate($file)">
                    <div class="upload-animate">
                        <!--upload icon--> 
                        <p class="padding-tb-10 pull-left">
                            <img src="/img/logos/vendor/dropbox.png" height="33"  />
                        </p>
                        <p class="pull-left line-height-50 margin-left-5">Upload from dropbox</p>
                    </div>
                </div>
            </div>
        </div>
        <!--LISTING OF FILE--> 
        <div class="row fileScroll">


            <!--UPLOAD COMPUTER FILE PREVIEW-->
            <div class="col-sm-12 padding-lr-0 single-upload-file padding-tb-5" ng-init="shareWithOn = false" ng-repeat="file in newFiles" ng-show="newFiles.length > 0">
                <!--UPLOAD INFORMATION--> 
                <div class="col-sm-12 padding-lr-0 padding-tb-10 ">
                    <div class="col-sm-6">
                        <p class="pull-left" style="padding-top:2px">
                            <img ngf-src="file" ngf-default-src="'/img/icons/file_icon.png'" height="30" >
                            <!--<img src="/img/icons/file_icon.png" height="30" />-->
                        </p>
                        <div class="pull-left margin-left-5">
                            <p class="text-bold text-dim font-small-1 color-black-alpha upload-file-name" ng-bind="file.name" ></p>
                            <!--<p class="btn-link line-height-16 font-small-2 disable share-with" ng-click="shareWithOn = !shareWithOn;" >Share with</p>-->

                        </div>
                    </div>
                    <div class="col-sm-5 padding-right-0 padding-top-10">
                        <!--UPLAOD PROGRESS BAR--> 
                        <progressbar value="progressBars[$index]" type="success">{{progressBars[$index]}}%</progressbar>
<!--                        SHARE WITH 
                                                <div class="col-sm-12 padding-lr-0 padding-top-5">
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/anupama.png" height="30" class="border-radius-4" />
                                                    </div>
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/yash.jpg" height="30" class="border-radius-4" />
                                                    </div>
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/leena.jpg" height="30" class="border-radius-4" />
                                                    </div>
                                                </div>-->
                    </div>
                    <!--CANCEL--> 
                    <div class="col-sm-1 padding-lr-0">
                        <!--<p class="line-height-30 font-small-2 padding-top-5 text-center cursor-pointer color-black-alpha text-dim">Cancel</p>-->
                        <p class="font-big-2 padding-top-10 text-dim icon icon2-arrows-remove text-center cursor-pointer" ng-click="removefile($index)"></p>
                    </div>
                </div>
                <!--Share with area--> 
                <div class="col-sm-12 padding-lr-0 uploading-file-share  padding-tb-10" ng-show="shareWithOn">
                    <div class="col-sm-11">
                        <div class="col-sm-12 padding-lr-0 team-add-member-input    " ng-init="addMemberFocus = false;" >
                            <p class="icon-plus" ng-class="{'color-black-alpha-low':!addMemberFocus,'color-blue':addMemberFocus}">+</p>
                            <input class="form-control gridle-input input-sm font-small-2" placeholder="Add people by name" ng-focus="addMemberFocus = true;" ng-blur="addMemberFocus = false;" style="font-size: 13px"/>    
                        </div>
                    </div>
                    <div class="col-sm-1 padding-lr-0">
                        <p class="btn-mark-complete icon icon2-arrows-check"></p>
                    </div>
                </div>
            </div>

            <!--DROPBOX FILE PREVIEW--> 
            <div class="col-sm-12 padding-lr-0 single-upload-file padding-tb-5" ng-init="shareWithOn = false" ng-show="newFileDropbox.thumbnailLink">
                <!--UPLOAD INFORMATION--> 
                <div class="col-sm-12 padding-lr-0 padding-tb-10 ">
                    <div class="col-sm-6">
                        <p class="pull-left" style="padding-top:2px">
                            <img ng-src="{{newFileDropbox.thumbnailLink}}" height="30" />
                        </p>
                        <div class="pull-left margin-left-5">
                            <p class="line-height-20 text-bold text-dim font-small-1 color-black-alpha" ng-bind="newFileDropbox.name"></p>
                            <p class="btn-link line-height-16 font-small-2 share-with disable" ng-click="shareWithOn = !shareWithOn;" >Share with</p>

                        </div>
                    </div>
                    <div class="col-sm-5 padding-right-0">
                        <!--UPLAOD PROGRESS BAR--> 

                        <!--                        SHARE WITH 
                                                <div class="col-sm-12 padding-lr-0 padding-top-5">
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/anupama.png" height="30" class="border-radius-4" />
                                                    </div>
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/yash.jpg" height="30" class="border-radius-4" />
                                                    </div>
                                                    <div class="pull-left margin-right-5">
                                                        <img src="/img/demo/leena.jpg" height="30" class="border-radius-4" />
                                                    </div>
                                                </div>-->
                    </div>
                    <!--CANCEL--> 
                    <div class="col-sm-1 padding-lr-0">
                        <!--<p class="line-height-30 font-small-2 padding-top-5 text-center cursor-pointer color-black-alpha text-dim">Cancel</p>-->
                        <p ng-click="removeDropboxfile()" class="font-big-2 padding-top-10 text-dim icon icon2-arrows-remove text-center cursor-pointer"></p>
                    </div>
                </div>
                <!--Share with area--> 
                <div class="col-sm-12 padding-lr-0 uploading-file-share  padding-tb-10" ng-show="shareWithOn">
                    <div class="col-sm-11">
                        <div class="col-sm-12 padding-lr-0 team-add-member-input    " ng-init="addMemberFocus = false;" >
                            <p class="icon-plus" ng-class="{'color-black-alpha-low':!addMemberFocus,'color-blue':addMemberFocus}">+</p>
                            <input class="form-control gridle-input input-sm font-small-2" placeholder="Add people by name" ng-focus="addMemberFocus = true;" ng-blur="addMemberFocus = false;" style="font-size: 13px"/>    
                        </div>
                    </div>
                    <div class="col-sm-1 padding-lr-0">
                        <p class="btn-mark-complete icon icon2-arrows-check"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-30">
                <!--BUTTON--> 
                <button class="btn btn-primary pull-right" ng-click="cancel()">Hide uploader</button>
            </div>
        </div>
    </div>
</div>
