<div class="modal-header">
<!--    <div ng-include src="'/js/modules/common/productivityTip.html'" ></div>-->
<div class ="productivityTip font-small-1">
    <p class="text-muted">Productivity tip</p>
    <p class="">You can share a file with @mentions with one or more teams.</p>
</div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!--UPLOAD AREA--> 
        <div class="row">
            <div class="col-sm-12 bg-grey padding-tb-20 text-center" ngf-drop ngf-multiple="true" ng-model="newFilesdrop" ngf-drag-over-class="dragover" style="cursor: pointer">
                <div class="drop-box">
                  <p class=""><span class="fa fa-cloud-upload fa-3x"></span></p>
                <p>Drag and drop attachments here or browse</p>
                </div>
                          <div class="upload-action-buttons">
                            <!--Browse button--> 
                            <div class="upload-action-button-cover col-sm-offset-2 col-sm-4 padding-lr-0">
                                <button class="btn btn-sm btn-block btn-default content_highlight" ngf-select ngf-multiple="true" ng-model="newFiles">Upload from computer </button>
                            </div>
                            <!--Dropox chooser--> 
                            <div class="upload-action-button-cover col-sm-4 padding-lr-0">
                                <button class="btn btn-sm btn-block btn-default content_highlight" ng-click="DropboxUpload()" ><span class="fa fa-dropbox"></span> Dropbox</button>
                            </div>
                          </div>
                            <div ng-repeat="file in newFiles" ng-show="newFiles.length > 0">
                                <img ngf-src="file" ngf-default-src="'/img/demo/anupama.png'" height="75" width="75"><span class="fa fa-times" ng-click="removefile(file.name)"></span>
                                <progressbar value="progressBars[$index]" type="success">{{progressBars[$index]}}%</progressbar>
                            </div>
                            <div ng-show="newFileDropbox.thumbnailLink">
                                <img ng-src="{{newFileDropbox.thumbnailLink}}" height="100" width="100"><span class="fa fa-times" ng-click="removeDropboxfile()"></span>
                            </div>   
            </div>
        </div>
        <!--SELECTED FILES--> 
        
        <!--SHARED WITH--> 
        <div class="row padding-tb-20 margin-top-10" ng-init="removeShared = true">
            <div class="col-sm-12">
                <p class="text-muted font-small-2">Share with <span class="text-muted font-small-2 pull-right">Not in the list? Add via email. </span></p>
                <div class="form-group">
                    <textarea    placeholder="e.g. @John, @Donna" 
                                 class="form-control" rows="2"
                                 ng-model="fileTags" 
                                 mentio
                                 mentio-select-not-found="true"
                                 mention-typed-term="currentMention"
                                 mentio-require-leading-space="true"
                                 mentio-id="'uploadFile'"></textarea>
                    <mentio-menu
                            mentio-for="'uploadFile'"
                            mentio-trigger-char="'@'"
                            mentio-items="UserAndGroupTag"
                            mentio-template-url="/scripts/View/mentio.tpl.html"
                            mentio-select="getPeopleText(item)"
                            mentio-search="searchUserAndGroup(term, currentMention)"
                            ></mentio-menu>
                </div>
            </div>
            <div ng-repeat="fileTag in tagsforFile" >
                <div ng-show="removeShared" ng-mouseenter="removeShared = false;">                                            <g-profile-img type="user" path="fileTag.vga" name="fileTag.name" myclass="g-img-25 suggestion-user font-small-2 margin-right-10"></g-profile-img>       
                </div>
                <div ng-hide="removeShared" ng-mouseleave="removeShared = true;" ng-click="removeFileTag($index)">
                    <p  class="removeShared g-img-25 round-30 text-center cursor-pointer margin-right-10 pull-left" popover="{{fileTag.name}}" popover-trigger="mouseenter" >
                        <span class="fa fa-times"></span>
                    </p>   
                </div>
            </div>
        </div>
        
        <!--BUTTON--> 
        <div class="row margin-top-30">
            <div class="col-sm-4 col-sm-offset-8">
                <button class="btn btn-green btn-block" ng-click="upload(newFiles,newFilesdrop)">Share file</button>
            </div>
        </div>

    </div>
</div>
<style>
    .dragover {
    border: 5px dashed blue;
}
</style>