<form ng-submit="feedAdd(message, preview_url)" class="container-fluid ng-pristine ng-valid">
    <div class="row g-background-white feed-add-form">
        <div class="col-sm-12 ">
            <div class="col-sm-12 padding-lr-0" style="padding: 10px 0 5px 0;">
                <!--<p class="text-muted font-small-1">You can add youtube, soundcloud or any website links in the status.</p>-->
                <div class="form-group fg-margin-0">
                    <textarea ng-model="message" ng-change="checkUrl(message)" class="form-control feed-form-textarea  ng-pristine ng-valid" placeholder="What's on your mind?" style=""></textarea>
                </div>
            </div>
            <div class="col-sm-9 padding-lr-0">
                <div id="preview" class=""></div>
            </div>
            <div class="feed-form-submit col-sm-3 padding-lr-0">
                <button type="submit" class="btn btn-sm btn-success btn-block text-semi-bold ">Share</button>    
            </div>

        </div>
    </div>
</form>