<div class="modal-header">
    <div class="row">
        <p class="text-center text-bold text-dim col-sm-11">
            List Of Likes
        </p>
        <p ng-click="cancel()" class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer pull-right col-sm-1"></p>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid g-scrollbar">
        <div class="row" ng-repeat="like in currentfeed">
            <div class="padding-lr-0 col-xs-3 text-center">
                <g-profile-img type="user" myclass="g-img-30 font-small-2" path="like.user_info.vga" name="like.user_info.name" ></g-profile-img>

            </div>
            <div class="col-xs-9" style="line-height: 40px;">
                <p class="p-margin-0" > <span class="text-emphasize" ng-bind="like.user_info.name"></span>&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>        
    <button class="btn btn-sm btn-default center-block" ng-if="loadMorelikes" ng-click="feedGet(currentfeed[0].foreign_id, likesLoadedPage + 1)">Load More</button>
</div>
