@font-face {
    font-family: mediumFont;
    src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Medium.otf");
}
@font-face {
    font-family: lightFont;
    src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Light.otf");
}
@font-face {
    font-family: bookFont;
    src: url("fonts/Gotham/Gotham Rounded/OpenType/GothamRnd-Book.otf");
}
/*  variables   */

$GREEN-SECONDARY : #008858;

/*  variables end   */
html,body {
    background-color: #148eae;
    width: 100%;
    overflow-x: hidden;
    font-family: bookFont;
}

.stop-the-madness{
    //margin-top: 50px;
    //position:fixed;
    font-size:60px;
    font-family:mediumFont;
    color:#ffffff;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}
.madness-opacity{
    background:rgba(0,0,0,0.6);
    -webkit-background:rgba(0,0,0,0.6);
    -moz-background:rgba(0,0,0,0.6);
}
.stop-content{
    text-align: center;
    font-family: mediumFont;
    color: white;
}
.sub-stop-content{
    font-family: lightFont;
    text-align: center;
    color: #05C1FF;

}
.backgroundi{
    background-image:url("/img/homepage/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    //background-color: #4386C8;
    height: 100%;
    width: 100%;
}
.backgroundcareers{
    background-image:url("/img/careers/careers8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   // background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.btnLogins{
    border-radius:55px !important;
    background-color: transparent;
    height: 30px;
    width: 90px;
    font-family: bookFont;
    color:white;
    border-color: white;
    border: 1px solid !important;
    &:hover{    
    background-color: transparent;
    border-radius:55px !important;
    color: white !important;;
    border-color: white !important;
    }
} 
.header{
    margin-top: 5px;
}
.logo{
    margin-top: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
.middle{
    margin-top: 50px;
    font-size: 60px;
}
.btnTogether{
    border-radius:55px;
    background: #337AB7;
    height:33px;
    width: 130px;
    font-family: lightFont;
    font-size: 24px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 10px;
    color:white;
    &:hover{
    background:  #337AB7;
    color:white;
    }
}

.lasthome{
    margin-top: 50px;
}
.bottom{
    padding-top: 30px;
    padding-bottom: 0px;
    background:rgba(255,255,255,0.6);
    -webkit-background:rgba(255,255,255,0.7);
    -moz-background:rgba(255,255,255,0.7);
}
@media (min-width:320px) and (max-width:480px){
    .bottom{
        margin-top: 18px;
    }
}
.buttons{
    margin-top: 0px;
}
@media (min-width:320px) and (max-width:480px){
    .buttons{
        margin-top: 35px;
    }
}
.btnSignup{
    border-radius: 7px;
    font-family: bookFont;
    color: white;
    background-color: #1F64B0;
    width: 100%;
    height:35px;
    padding: 0px 0px 0px 0px !important;
    //padding-left: 5px;
    margin-top: 0px !important;
    /*Rounded Corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*Shadow*/
/*    -webkit-box-shadow: 0px 6px 0px #2E4A9E;
    -moz-box-shadow: 0px 6px 0px #2E4A9E;
    box-shadow: 0px 6px 0px #2E4A9E;*/

    &:hover{
        //margin-top: 2px;
/*    Shadow
    -webkit-box-shadow: 0px 4px 0px #2E4A9E;
    -moz-box-shadow: 0px 4px 0px #2E4A9E;
    box-shadow: 0px 4px 0px #2E4A9E;*/
    color:white !important;
    }
}

.google{
    text-align: right;
    margin-top: 0px;
}
.final{
    text-align: center;
}
@media (min-width:320px) and (max-width:480px){
    .final{
        margin-top: 14px;
    }
}
.endtext{
    font-family: lightFont;
    font-weight: bold;
    color: #1F64B0;
    margin-top:10px;
}
.endtext-careers{
    font-family: lightFont;
    font-weight: bold;
    color: #ffffff;
    margin-top:10px;
}

.image{
    opacity: 0.5;
}
.footerlogo{
    margin-top: 42px;
    text-align: right;
}
@media (min-width:320px) and (max-width:480px){
    .footerlogo{
        margin-top: 65px;
    }
}
.copyright{
    margin-top: 35px;
}
@media (min-width:320px) and (max-width:480px){
    .copyright{
        margin-top: 50px;
    }
}
.contact{
    background-color: #4B4D7E;
    text-align: center;
    line-height: 1.42857143;
}
.color{
    margin-top: 60px;
    height: 5px;
    color: white;
    font-family: bookFont;
    font-size: 14px;
}
@media (min-width:320px) and (max-width:480px){
    .color{
        margin-top: 25px;
    }
}    
.innercolor:link{
    color: #869FFA;
}
.innercolor:focus{
    color: #ffffff;
}
.innercolor:verified{
    color: #ffffff;
}
.innercolor:hover{
    color: #869FFA;
}

.footer-down{
    //padding-top:30px;
    font-family:mediumFont;
    margin-top: 15px;
    opacity: 0.7;
}
.footer-down:hover{
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
.footer-link{
    margin: 5px;
}

/*    togetherstyle.css      */
.background{
    background-color: white;
    height: 100%;
    width: 100%;
}
.top{
    margin-top:5px;
}
.login-together{
    vertical-align: bottom;
    padding-top: 20px;
    font-size: 9pt;
    text-align: right;    
}
.hrr {
	width: 30%;
	margin-right: 0px !important;
	text-align: right;
	line-height: 70px;
	vertical-align: middle;
	height: 1px;
	color: #ffffff;
	background-color: #148eae;
}
.hrl {
	width: 30%;
	margin-left: 0px !important;
	text-align: right;
	line-height: 70px;
	vertical-align: middle;
	height: 1px;
	color: #ffffff;
	background-color: #148eae;
}
	
.buttonview-together {			/*for signup heading in top center	*/
	margin-top: 10px;
	color: white;
	text-align: center;
	border: 2px;
	line-height: 50px;
	/*width: 325px;*/
	background-color: #148EAE;
	vertical-align: middle;
	border-radius: 40px;
	font-family: mediumFont;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 24pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.imagebox{
    margin-top: 75px;
}
.imagebox1{
    width: 280px;
    height: 180px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #008BAF;
    margin-left: 60px;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.imagebox2{
    width: 280px;
    height: 180px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #EA206B;
    margin-left: 60px;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.imagebox3{
    width: 280px;
    height: 180px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #008BAF;
    margin-left: 60px;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.textbox{
    margin-top: 50px;
}
.textbox1{
    padding-bottom:120px;
    padding-top: 5px;
    height: 180px;
    width: 280px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #008BAF;
    margin-left: 60px;
    text-align: center;
}
.textbox2{
    padding-bottom:120px;
    padding-top: 5px;
    width: 280px;
    height: 180px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #EA206B;
    margin-left: 60px;
    text-align: center;
}
.textbox3{
    padding-bottom:120px;
    padding-top: 5px;
    width: 280px;
    height: 180px;
    background-color: #E8E8E8;
    font-family: bookFont;
    font-size: 10pt;
    font-weight: bold;
    box-shadow: inset 0 0 2px #008BAF;
    margin-left: 60px;
    text-align: center;
}
@media (min-width:320px) and (max-width:480px){
    .imagebox1,.imagebox2,.imagebox3,.textbox1,.textbox2,.textbox3{
        margin-left: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.together-line{
    font-family: lightFont;
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
    line-height: 1.42;
}
.btnHomeSignup, .btnSignup1{
    background: $GREEN-SECONDARY;
    color:#ffffff !important;    
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    /*Rounded Corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    Shadow
    -webkit-box-shadow: 0px 6px 0px #00794E;
    -moz-box-shadow: 0px 6px 0px #00794E;
    box-shadow: 0px 6px 0px #00794E;*/
}
.btnHomeSignup{
    // margin-top: 70px;
    font-size: 18px !important;
    font-family:'Roboto',arial,sans-serif;
    padding: 0px 0px 0px 0px !important;
    //font-weight: bold;

    &:hover{
      color: #ffffff !important;
      background-color: darken($GREEN-SECONDARY,3%); 
    }
}
.btnCareers{
    background-color: $GREEN-SECONDARY;
    color:#ffffff !important;   
    font-size: 18px !important;
    font-family:'Roboto',arial,sans-serif;
    padding: 0px 0px 0px 0px !important;
    height: 35px;
    width: 50%;
    text-align: center;
    padding-top: 8px;
    /*Rounded Corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    &:hover{
        color:#ffffff !important;
        background-color: darken($GREEN-SECONDARY,3%);
    }
    
}
.btnSignup1{
    margin-top:60px;
    font-family: bookFont;
    font-size: 22px;

    &:hover{
        color: #ffffff !important;
        margin-top: 62px !important;
        background-color: darken($GREEN-SECONDARY,3%);
    }
}
 
.signup{
    //margin-top: 50px;
    text-align: center;
    font-weight: bold;
    margin-top:0px;
}
@media (min-width:320px) and (max-width:480px){
    .signup{
        margin-top: 15px;
    }
}
.last-together{
    background-color: #F4D73F;
}
.last{
    margin-top: 15px;
    height: 170px;
    text-align: center;
}
.footer{
    background-color: #4B4D7E;
    height: 70px;
    line-height: 1.42857143;
}
@media (min-width:320px) and (max-width:480px){
    .footer{
        height:110px;
    }
}   

/*  logincss.css       */


.background-white{
    background-color: white;
}
.margin-bottom-ten{
    margin-bottom:10px;
}
.text-align-left{
    text-align: left;
}
.backc {
    background-color: #148eae;
}

.logins {
    font-family: bFont;
    background-color: $GREEN-SECONDARY;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
    width: 100%;
    cursor:pointer;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 0px #005F3E, 0px 5px 0px 0px #005F3E, 0px 10px 5px #005F3E;
    -moz-box-shadow: inset 0px 1px 0px #005F3E, 0px 5px 0px 0px #005F3E, 0px 10px 5px #005F3E;
    box-shadow: inset 0px 0px 0px #005F3E, 0px 0px 0px 0px #005F3E, 0px 4px 2px #005F3E;
    &:hover{
        background-color: darken($GREEN-SECONDARY,3%);
    }
}
.logins-disabled{
    background-color: gray !important;
/*    opacity:0.65;*/
}

.btnLogin{
    border-radius:55px;
    border-color: white;
    border-width: 1px;
    height: 30px;
    width: 90px;
    font-family: bookFont;
    color:white;
    background: transparent;

    &:hover{
    background: transparent;
    color:white;
    }
    &:focus{
    outline: 0 !important;
    }
} 

.show-error-message{
    color:#EB616E;
}
.font-small-4{
    font-size: 10px;
}
.font-small-3{
    font-size: 11px;
}
.font-small-2{
    font-size: 12px;
}
.font-small-1{
    font-size: 13px;
}
.r {
    text-align: right;
    color: #ffffff;
    background-color: #148eae;
    padding-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    opacity: 0.5;

}
.l {
    text-align: left;
    color: #ffffff;
    background-color: #148eae;
    padding-top: 25px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    opacity: 0.5;

}

.buttonview, .buttonview-loginpage {			/*for signup heading in top center	*/
    margin-top: 10px;
    color: #148eae;
    text-align: center;
    border: 2px;
    line-height: 50px;
    /*width: 325px;*/
    background-color: #ffffff;
    vertical-align: middle;
    border-radius: 40px;
    font-family: mediumFont;
    font-weight: bold;
    letter-spacing: 2px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.buttonview{
    font-size: 24pt;
}
.buttonview-loginpage{
    font-size: 18pt;
}
.buttonview-changed{
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    border-left: 3px solid rgba(255,255,255,.37);
    border-right: 3px solid rgba(255,255,255,.37);
    border-top: 3px solid rgba(255,255,255,.37);
    line-height: 50px;
    font-size: 24pt;
    vertical-align: middle;
    padding-left: 35px !important;
    padding-right: 35px !important;
    font-family: mediumFont;
    font-weight: bold;
    letter-spacing: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.loginbox {
    background-color: #ffffff;
    margin: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 20px;
}
.fp {		/* font purpose */
    vertical-align: middle;
    font-family: mediumFont;
    text-align: center;
    color: #148eae;
    margin-top:10px !important;
    line-height: 1.42857143;

}
.be {		/* before email text */
    font-family: bookFont;
    color: black;
    opacity: 0.34;
    text-align: left;
    font-size: .75em;
    margin-top:0px !important;
}
.contact-email{
    font-family: bookFont;
    color: black;
    text-align: center;
    font-size: 14px;
}
input#email, input#password, input#fname, input#lname {
    font-family: mediumFont;
    background-color: #efefef;
    border-radius: 4px;
    border-collapse: collapse;
    border-width: thin;
    border-color: #148eae;
    opacity: 0.5;
    font-weight: bold;
}
.window {
    font-family: mediumFont;
    color: #148eae;
    background-color: #efefef;
    opacity: 0.5;
    border-color: #148eae;
    font-weight: bold;
    border-radius: 4px;
    border-collapse: collapse;
    border-width: thin;
}
.logins1{
    font-family: mediumFont;
    background-color: $GREEN-SECONDARY;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
    width: 110px;
    //height:35px;
    height: 40px;
    margin-top: 0px;
    /*Rounded Corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*Shadow*/
    //-webkit-box-shadow: 0px 6px 0px #00794E;
    //-moz-box-shadow: 0px 6px 0px #00794E;
    //box-shadow: 0px 6px 0px #00794E;

    //&:hover,
        &:active{
    color: #ffffff !important;
    margin-top: 2px !important;
    /*Shadow*/
    -webkit-box-shadow: 0px 4px 0px #00794E;
    -moz-box-shadow: 0px 4px 0px #00794E;
    box-shadow: 0px 4px 0px #00794E;
    }
    &:hover, &:focus{
        color: #ffffff!important;
        background-color: darken($GREEN-SECONDARY,3%);
    }
}
.logins2{
    font-family: mediumFont;
    background-color: $GREEN-SECONDARY;
    color: #ffffff !important;
    border-radius: 2px;
    text-align: center;
    width: 100%;
    height:40px;
    margin-top: 0px;
    /*Rounded Corners*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*Shadow*/
/*    -webkit-box-shadow: 0px 6px 0px #00794E;
    -moz-box-shadow: 0px 6px 0px #00794E;
    box-shadow: 0px 6px 0px #00794E;*/

    &:hover {
    color:white !important;
    background-color: darken($GREEN-SECONDARY,3%);
/*    margin-top: 2px;*/
    /*Shadow*/
/*    -webkit-box-shadow: 0px 4px 0px #00794E;
    -moz-box-shadow: 0px 4px 0px #00794E;
    box-shadow: 0px 4px 0px #00794E;*/
    } 
}
.hrb {
    text-align: center;
    vertical-align: bottom;
    color: #efefef;
    display: block;
    height: 1px;
    color:black;
    opacity: 11%;
}
.hrb-password {
    text-align: center;
    vertical-align: bottom;
    color: #efefef;
    display: block;
    height: 1px;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color:black;
    opacity: 11%;
}
.loginbox-password{
    margin-bottom:40px;
}
.fontbottom {
    color: #148eae;
    font-family: mediumFont;
}

input#sign {
    color:#ffffff;
    background-color: $GREEN-SECONDARY;
    border-radius: 4px;
    border-collapse: collapse;
    font-family: mediumFont;
    border-color: $GREEN-SECONDARY;
    text-align: center;
    margin-left: 230px;
    &:hover{
        background-color: darken($GREEN-SECONDARY,3%);
    }
}
.link {			/* For Login link for members */
    font-family: mediumFont;
    font-size: 8pt;
    color: #148eae;
    text-align: right;
    margin-right: 45px;
}

/*input#google {
    font-family: mediumFont;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;

}*/

.footer-light-box{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:mediumFont;
}
.footer-light-box-notfixed{
    bottom: 0;
    width: 100%;
    font-family:mediumFont;
}
.footer-light a{
    color: white;
    margin:5px;

    &:hover{
    color: white;
    }
    &:visited{
color: white;
    }
    &:active{
color: white;
    }
}


.footer-light-blue a{
    color: #148EAE;
    margin:5px;

    &:hover{
    color: #148eae;
    }
    &:visited{
color: #148eae;
    }
    &:active{
color: #148eae;
    }
}

/*  Terms of Use css    */
.imgShadow{
     box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
     margin: 50px 0px;
   
}
.terms-header{
	background-color: #148eae;
	color: #ffffff;
	font-family: mediumFont;
}
.terms-heading{
	padding-top: 40px;
	font-size: 58px;
}
.terms-sub-heading{
	font-size: 22px;
	padding-bottom: 30px;
}
.terms-content-use{
font-family: bookFont;
font-size: 14px;
}
.terms-content-manifesto{
font-family: bookFont;
font-size: 15px;
}
.terms-content-heading{
color: #148eae;
font-size: 36px;
padding-bottom: 25px;
}
.terms-autoscroll{
	margin: 34px auto;
	font-size: 16px;
	position: fixed;
	list-style-type: none;
	font-family: bookFont;
}
.terms-autoscroll-careers{
	margin: 34px auto;
	font-size: 16px;
	position: relative;
	list-style-type: none;
	font-family: bookFont;
}
.terms-hr{
width:250px;
border: none;
border-top: 1px solid #e8e8e8;
margin: 50px auto;
}
.margin-tb-fifty{
margin: 50px auto;
}
.position-relative{
    position: relative;
}

.nav>li{
	line-height: 25px;
}
.nav{
	padding-left: 40px !important;
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}
.nav-pills>li>a{
	border-radius: 5px !important;
}
.nav>li>a{
padding: 2px !important;

    &:hover{
    background-color: #148eae !important;
color: #ffffff !important;
    }
    &:active{
    background-color: #148eae !important;
    color: #ffffff !important;
    }
}

.nav-pills>li.active>a{
	background-color: #148eae !important;
	color: #ffffff !important;
}

.active{
background-color: #148eae;
line-height: 25px;
color: #ffffff;
border-radius: 5px;
}


/*	Press css	*/

.news_article_div {
  padding: 20px;
  margin: 50px 0;
}

.news_logo_img {
  width: 100%;
}

.news_article_heading {
  font-size: 2em;
  font-family: bookFont;
  font-weight: 100;
  margin: 0;
  line-height: 1.3em;
  color: #148eae;
}

.news_article_subheading {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 10px 0;
}
.news_article_date {
  color: #656565;
}
.news_article_content {
  font-size: 1.1em;
}
.careers_img{
    width:80%;
    height:80%;
}
.line-height-2{
    line-height: 2;
}
.top-250{
    top:250px;
}
.set-opacity-careers{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}
.margin-bottom-15-percent{
    margin-bottom: 15%;
}
.margin-bottom-2-percent{
    margin-bottom: 2%;
}
.margin-bottom-5-percent{
    margin-bottom: 5%;
}