/*				TYPOGRAPHY 			*/

//  PROXIMA NOVA FONT
@font-face {
    font-family: 'proxima-nova-light';
    src: url('../../../css/fonts/proxima-nova/ProximaNova-Light.otf');
}
//  PROXIMA NOVA FONT
@font-face {
    font-family: 'proxima-nova-regular';
    src: url('../../../css/fonts/proxima-nova/ProximaNova-Regular.otf');
}
// PROXIMA NOVA SEMI BOLD
@font-face {
    font-family: 'proxima-nova-semi-bold';
    src: url('../../../css/fonts/proxima-nova/ProximaNova-Semibold.otf');
}
// PROXIMA NOVA EXTRA BOLD
@font-face {
    font-family: 'proxima-nova-extra-bold';
    src: url('../../../css/fonts/proxima-nova/ProximaNova-Extrabold.otf');
}

/*
//	GOTHAM LIGHT FONT
@font-face {
	font-family: 'GothamLight';
	src: url('../../../css/fonts/GothamLight/GothamLight.eot');
	src: local('GothamLight'), 
			url('../../../css/fonts/GothamLight/GothamLight.woff') format('woff'), url('../../../css/fonts/GothamLight/GothamLight.ttf') format('truetype');
}



//ROBOTO LIGHT FONT
@font-face {
    font-family: 'robotolight';
    src: url('../../../css/fonts/roboto_light/Roboto-Light-webfont.eot');
    src: url('../../../css/fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../css/fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('../../../css/fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../../../css/fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
}

//ROBOTO LIGHT FONT
@font-face {
    font-family: 'roboto-light';
    src: url('../../../css/fonts/Roboto/Roboto-Light.eot');
    src: url('../../../css/fonts/Roboto/Roboto-Light.ttf') format('truetype');
         }

//ROBOTO THIN FONT
@font-face {
    font-family: 'roboto-thin';
    src: url('../../../css/fonts/Roboto/Roboto-Thin.eot');
    src: url('../../../css/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
         }


//UBUNTU REGULAR FONT
@font-face {
    font-family: 'ubuntu';
    src: url('../../../css/fonts/Ubuntu/Ubuntu-Regular.eot');
    src: url('../../../css/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
         }

*/

$default-font : 'GothamLight';
$default-heading : 'Roboto', sans-serif;
/*=============================================================*/


/*            BACKGROUND COLORS         */

//whites
$bg-white: #fff;
$bg-off-white: #f7f5eb;

//blacks
$bg-black : #000;
$bg-footer-out-up : #404040;

//greens
$bg-green : #a2dd9e;
$bg-darkgreen : #8cc687;

//blues
$bg-blue : #6de2e2;

//yellows
$bg-yellow : #f9ebaa;

/*=============================================================*/


/*         TEXT COLORS                 */
//whites
$white : #fff;
$offwhite : #f7f5eb;

//blacks
$black : #333;

//greys
$light-grey : #CBCABC; 
$dark-grey : #6d6d6d;
$grey-3 : #555;
$grey-2 : #444;
$grey-1 : #333;

//blues
$bs-link-blue : #428bca;
$bs-link-blue-hover : #2a6496;

//greens
$dark-green : #7db277;

//yellows
$yellow : #f9e446;

/* pallete COLORS */

//yellows

$palette-yellow-1 : #F4E551; //network tiles

//greens
$palette-green-1: #6fb54c; //network tile

//blues
$palette-blue-1: #14ccc4; //network-tile

//puple
$palette-purple-1 : #afafe3; //network tile

//reds
$palette-red-1 : #ff7070; //network tile 

//oranges

//pinks





/*==========================================================*/


/*           DIMENSIONS               */
$header-height: 50px;
/*====================================*/

