//$DARK-PURPLE : #5A3B50;
$DARK-PURPLE : #1E103A;

$BLUE-PRIMARY : #2597AF;

$BLUE-SECONDARY : #148EAE;

$YELLOW-PRIMARY : #F8DF60;

$GREEN-PRIMARY : #41A582;

$RED-PRIMARY : #EB616E;

$RED-SECONDARY : #ff686b;

$black-alpha-higher : rgba(0,0,0,0.87); 
$black-alpha-high : rgba(0,0,0,0.69);
$black-alpha : rgba(0,0,0,0.54);
$black-alpha-low : rgba(0,0,0,0.37);
$black-alpha-lower : rgba(0,0,0,0.11);