.appearChatWindow {
    
    & .modal-dialog{
        width: 75%;
        margin-top:50px;
    }
    
    & .modal-body{
        padding: 0;
    }

}

.appearChatShare{
}

.appearInviteLimit{
    margin-bottom:20px;
    border-bottom: 1px solid #ccc;
    padding-top:10px;
    padding-bottom: 25px;
}

.appearInviteBox{
    margin-bottom: 40px;
}