.pageDesk{
    overflow: hidden;

}
.task-suggestion-card{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    width: 100%;
    background-color: #8bc34a;
    color: white;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
    box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
    z-index: 1;
}
.suggestion-card{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top:1px solid rgba(255,255,255,0.3);
    border-left:1px solid rgba(255,255,255,0.3);
    border-right:1px solid rgba(255,255,255,0.3);
    padding-right: 30px;
    float: none;
    display: table-cell;

    & p{
        word-break: break-all;
    }
}
.removeShared{
    background-color: white;
    color:  #689f38;
    margin:5px;
}
.suggestion-user{
    background-color: white;
    color:  #689f38;
    margin:5px;
}
.suggestion-head{
    color:rgba(255,255,255,0.7);
    font-style:italic;
}
.suggestion-card-bottom{
    background: white;
    color: #8bc34a;
    padding: 5px;
    border : 1px solid #8bc34a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.tasks-list{
    max-height: 600px;
    overflow: auto;
    padding-bottom:100px;
}
.tasks-input-box{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.task-msg-box{
    padding-left: 10px;
    height:20px;
    overflow: hidden;
    line-height: 20px;

}
.task-msg{
    animation-fill-mode: forwards;  
    -webkit-animation : fadein 2s ease-in-out 10s forwards;  
    -moz-animation:  fadein 2s ease-in-out 10s forwards;
    animation: fadein 2s ease-in-out 10s forwards;
}

.task-input{

    position: relative;

    & textarea{
        font-size:18px;
        padding:10px 5px 5px 5px;
        display:block;
        border:none;
        border-bottom:1px solid #CDDC39;
        box-shadow:none;
        width:100%;

        height:auto;
        -webkit-transition: height 0.2s ease;
        -moz-transition: height 0.2s ease;
        -ms-transition: height 0.5s ease;
        -o-transition: height 0.2s ease;
        transition: height 0.2s ease;


        &:focus{
            box-shadow:none;
            border-left: none;
            border-right: none;
            border-top:none;
            outline:none;
        }

    }

    
    & ::-webkit-input-placeholder {
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & :-moz-placeholder { /* Firefox 18- */
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & :-ms-input-placeholder {  
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }


}
.task-date-head{
    margin-bottom: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    color: #aaa;
}
.singleTask{

    margin-bottom:20px;
    background-color: #ffffff;

    -webkit-animation : tourFadeIn 0.5s ease-in-out forwards;  
    -moz-animation:  tourFadeIn 0.5s ease-in-out forwards;
    animation: tourFadeIn 0.5s ease-in-out forwards;


    & .taskDetails{
        border-bottom:1px solid rgba(0,0,0,0.11);
        padding-top: 15px;
        padding-bottom: 5px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

    }

    & .task-title{
        /*margin-top: 5px;*/
        word-break: break-all;
    }

    & .taskShare{
        background-color: #f6f6f6;
    }
    
    & .g-img{
        background-color: lighten($BLUE-PRIMARY,50%);
        color: lighten($BLUE-PRIMARY,30%);
        font-size: 13px;
    }

    /*animation*/ 
    &.ng-leave, &.ng-move, &.ng-enter{
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    &.ng-leave{
        opacity: 1;
        -webkit-animation-name: slideOutRight;
        -moz-animation-name: slideOutRight;
        animation-name: slideOutRight;
    }

    &.ng-leave-active{
        opacity: 0;
    }

}
@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
.task-shared-with{

    & .shared-with{
        margin-right:5px;
        display: inline-block;
        float:left;

        &:hover{
            color: $BLUE-PRIMARY;
        }
    }
    /* comma */
    & .shared-with:before{
        content : " ";
    }
    & .shared-with:after{
        content : ",  ";
    }

    & .shared-with:nth-last-child(2):after{
        content : "and ";
    }
    & .shared-with:nth-last-child(1):after{
        content : " ";
    }


}
.task-settings-menu{
    /*    & li{
            text-align:center;
            font-size: 12px;
            cursor: pointer;
            line-height: 2em;
        }*/
}
.task-comments-box{
    /*border-left: 1px solid #eee;*/
    /*border-right: 1px solid #eee;*/
    border-bottom: 1px solid #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.task-comment{
    padding-top: 5px;
    padding-bottom: 5px;
}
.comment-input-box{
    border-top : 1px solid #eee;
    background-color: #f2f0e6;
}
.comment-user{
    opacity: 0.5;
}

.sidebarTasks{
    position:fixed;
    top:50px;
    width: 29%;
    padding-top: 40px;
    padding-bottom: 50px;
    max-height: 650px;
    overflow: hidden;
  
    &:hover{    
        overflow-y: auto;
    }
    &:after{
        display: none;
    }

    &.sidebarAnimation{
        right: -300px;
        /*animation*/ 
        -webkit-animation : slideLeft 0.3s ease-in forwards;  
        -moz-animation:  slideLeft 0.3s ease-in  forwards;
        animation: slideLeft 0.3s ease-in forwards;
        /*animation ends*/
    }
}

/*animation*/ 
.sidebarTasks.ng-hide-add.ng-hide-add-active
{
    /*animation*/ 
    -webkit-animation : slideRight 0.3s ease forwards;  
    -moz-animation:  slideRight 0.3s ease  forwards;
    animation: slideRight 0.3s ease forwards;
    /*animation ends*/ 
}
.sidebarTasks.ng-hide-remove.ng-hide-remove-active {

}

.sidebarTasks.ng-hide{
    /*right: -300px;*/
}

.sidebarTasksHead{
    opacity: 0;
    cursor: pointer;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);
    box-shadow: 0px 1px 3px 0px rgba(230,227,230,1);

}

.pending_head{
    color: $RED-PRIMARY;
    /*border-bottom: 2px solid darken($RED-PRIMARY,10%);*/
}

.completed_head{
    color: $GREEN-PRIMARY;
    /*border-bottom: 2px solid darken($GREEN-PRIMARY,10%);*/
}

.pending-tasks-list{

}

.completed-tasks-list{

    & .singleTask, & .taskdeadline, & .sharedWith{
        color : #ccc;
    }
}
.pending-meta-box, .completed-meta-box{
    padding:20px 15%; 
}
.pending-meta, .completed-meta{
    padding-top:10px;
    border-top:1px solid $black-alpha-lower;
    border-left:1px solid $black-alpha-lower;
    border-right:1px solid $black-alpha-lower;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mark-complete-checkbox{
    margin-top: 0; 
    margin-bottom: 0;

    & label{
        min-height: 0; 
        padding-left: 0; 
    }

    & input {
        margin-top:2px
    }
}

.filter-bar{
    margin-bottom: 10px;
    padding:5px 10px;
    border-radius: 10px;
}
.date-lines{
    background-color: #eee;
    height:1px;
    margin-top:5px;
}
.date-heading{
    color:$black-alpha;
}

.search-task-box{
    position:relative;
    border-color : rgba(0,0,0,0.11);
    & input{
        border-color: $black-alpha-lower;
    }
    & .fa{
        position: absolute;
        top:8px;
        right:8px;
    }

    & .fa-search{
        color:#ddd;
    }

    & .fa-times{
        color:#333;
    }

}

.btn-mark-complete{
    cursor: pointer;
    height:30px;
    width:30px;
    line-height: 30px;
    border-radius:30px;
    text-align: center;
    padding-top:2px;
    border : 1px solid $BLUE-PRIMARY;
    color:$BLUE-PRIMARY;
    font-size:24px;
    position:absolute;
    right:15px;
    top:-25px;
    z-index : 10;

    &:hover{
        background-color: $BLUE-PRIMARY;
        color: white;
    }
}
.btn-mark-incomplete{
    cursor: pointer;
    height:30px;
    width:30px;
    line-height: 30px;
    border-radius:30px;
    text-align: center;
    padding-top:2px;
    color:$black-alpha-low;
    font-size:20px;
    position:absolute;
    right:15px;
    top:-25px;
    z-index : 10;
    
    &:hover{
        color: $BLUE-PRIMARY;
    }
}

.task-comment{

    & .fa-trash-o{
        color:$black-alpha-lower;
        &:hover{
            color: $black-alpha-high;
        }
    }
}
.comment-jugad{
    display: table-row;
}
.comment-creator{
    width:25px;
    display: table-cell;
    vertical-align:top;
    padding-top:3px;
}
.comment-body{
    vertical-align:middle;
    padding-top:0;
    display: table-cell;
    padding-left: 15px;
}

.desk-expanded{
    overflow: hidden;
    -o-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}

.desk-content{
    overflow: hidden;
    min-height: 700px;
    -o-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.tasks-shirnk, .tasks-input-shirnk{
    padding-right:2%;
    -o-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-in 0.3s;
    /*-webkit-animation: deskCenterIn 0.3s ease-in forwards;*/ 
}
.tasks-expanded, .tasks-input-expanded{
    padding-right:29%;
    -o-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;

    /*-webkit-animation: deskCenterOut 0.3s ease-in forwards;*/
}
.tasks-expanded, .tasks-shirnk{
    overflow-x: hidden;
}
.popover-profile-name{
    color:#EB616E;
    font-size: 13px;
    font-family: 'gotham-bold';
    cursor:pointer;
    white-space:nowrap;
    line-height: 30px;
}
.popover-profile-name:hover{
    color: blue;
    text-decoration: underline;
}

/*desk center entrance animation*/ 
@-wekbit-animation deskCenterIn{
    from{
        padding-right:29%;
    }
    to{
        padding-right:2%;
    }
}
@animation deskCenterIn{
    from{
        padding-right:29%;
    }
    to{
        padding-right:2%;
    }
}
@-moz-animation deskCenterIn{
    from{
        padding-right:29%;
    }
    to{
        padding-right:2%;
    }
}
/*desk center exit animation*/ 
@-wekbit-animation deskCenterOut{
    from{
        padding-right:2%;
    }
    to{
        padding-right:29%;
    }
}
@animation deskCenterOut{
    from{
        padding-right:2%;
    }
    to{
        padding-right:29%;
    }
}
@-moz-animation deskCenterOut{
    from{
        padding-right:2%;
    }
    to{
        padding-right:29%;
    }
}
