.files-listing-head{
    //   border-top: 2px solid #eee;
}
.files-head{

}
.files-head-cell{
    font-size: 12px;
    padding: 5px;
    border: 1px solid #eee;
}
.file-name-head{
    border-left : none;
    border-top: none;
}
.file-owner-head{
    border-top:none;
}
.file-size-head{
    border-right: none;
    border-top: none;
}

.files-listing{
    padding-top: 10px;
    padding-bottom: 80px;
    overflow-y: auto;
    max-height: 480px;
}
.singleFileRow{
    cursor: pointer;
    border-bottom:1px solid #eee;
    /*margin-bottom: 5px;*/
    &:hover &.active{
        background-color: #efefef;
    }
    &.active{
        background-color: #e8f4f7;
    }
}
.file-list-cell{
    padding-top:5px;
    padding-bottom:5px;

    & .file-name{
        margin-left: 5px;
        color:$black-alpha;
        max-width: 250px;
        max-height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.file-shared-with{

    & .shared-with{
        margin-left:5px;
        display: inline-block;
        float:left;
    }
    /* comma */
    & .shared-with:before{
        content : " ";
    }
    & .shared-with:after{
        content : ",  ";
    }
    & .shared-with:first-child:after{
        content : " ";
    }
    & .shared-with:nth-last-child(2):after{
        content : "and ";
    }
    & .shared-with:nth-last-child(1):after{
        content : " ";
    }


}
.upload-area{
    margin-top:20px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.upload-section{
    border:1px solid $black-alpha-lower;
    padding-top: 15px;
    padding-bottom : 15px;
    color: $BLUE-PRIMARY;

    &:hover{
        -webikit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    & .upload-animate{
        width: 100%;
        position: relative;
    }
    & .upload-icon{
        width:100%;
        text-align: center;
        -webikit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }

    &:hover .upload-icon{
        width: 33%;
    }

    & .upload-text{
        position: absolute;
        width:100%;
        left: 33%;
        line-height: 50px;
        opacity:0;
        /*hover off*/ 
        -webikit-transition: opacity 0.1s ease;
        -moz-transition: opacity 0.1s ease;
        transition: opacity 0.1s ease;

    }
    &:hover .upload-text{
        opacity: 1;
        /*hover on*/ 
        -webikit-transition: opacity 0.3s ease 0.1s; 
        -moz-transition: opacity 0.3s ease 0.1s;
        transition: opacity 0.3s ease 0.1s;

    }
}
.upload-section-first{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    & .icon{
        padding-top:11px;
    }

}
.upload-section-last{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    & img{

    }

}
.sidebarDocs{
    position:fixed;
    right: -300px;
    top:50px;
    width: 28%;
    max-height: 650px;
    padding-bottom: 50px;
  
    /*animation*/ 
    -webkit-animation : slideLeft 0.3s ease-in forwards;  
    -moz-animation:  slideLeft 0.3s ease-in  forwards;
    animation: slideLeft 0.3s ease-in forwards;
    /*animation ends*/ 

        overflow-x: hidden; 
        overflow-y: auto;
    
    &:hover{
    }
    &:after{
        display: none;
    }
}
.sidebarDocs.ng-hide-add.ng-hide-add-active
{
    /*animation*/ 
    -webkit-animation : slideRight 0.3s ease forwards;  
    -moz-animation:  slideRight 0.3s ease  forwards;
    animation: slideRight 0.3s ease forwards;
    /*animation ends*/ 
}

.file-options{
    & .icon:hover{
        color: $BLUE-PRIMARY;
    }
}
.file_no_preview{
    height: 200px; 
    line-height: 200px;
}

.uploader-status{
    padding :20px;
    position: fixed;
    bottom: 20px;
    right:15px;
    background-color:$BLUE-PRIMARY;
    color: white;
    border-radius:100px;

    & .uploading-icon{

    }

    & .uploading-msg{

    }
}

@-moz-keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes timer-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.timer-loader:not(:required) {
    border: 6px solid white;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}
.timer-loader:not(:required)::before {
    -moz-animation: timer-loader 1250ms infinite linear;
    -webkit-animation: timer-loader 1250ms infinite linear;
    animation: timer-loader 1250ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 19.2px;
    left: 15px;
    top: 15px;
}
.timer-loader:not(:required)::after {
    -moz-animation: timer-loader 15000ms infinite linear;
    -webkit-animation: timer-loader 15000ms infinite linear;
    animation: timer-loader 15000ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 16px;
    left: 15px;
    top: 15px;
}
.file-comment-list{
    padding-bottom: 30px;
}
.g-doc-owner-img{
   font-size: 10px;
   line-height: 20px;
   text-align: center;
   width: 20px;
   height: 20px;
}