.g-feed-wrap {
    padding: 0px 10px 20px;
    min-height:500px;
    background:url('/img/patterns/halftone.png');
    /*background-repeat: repeat-x;;*/
    /*background-attachment: fixed;*/
}
@media screen and (min-width:768px){
        .feed-area{
            padding-left:4%;
            padding-right:4%;
        }     
}
.feed-form-box{
    margin-top:15%;
}
.feed-add-form {
    padding: 5px;
    border-radius:4px;
}
.feed-form-textarea{
    resize:vertical;
}
.feed-form-submit{
    padding:5px; 
}
#preview{
    margin-top:5px;
}
.link-preview-area{
    padding:5px;
    border-radius:4px;
}
.feed-list{
}
.feed-post{
    border-radius:4px;
    margin:10px 0;
    padding:20px 15px 0;
}
.feed-post-user-name{
    line-height:25px;
}
.feed-comment-count{
    padding:5px 0;
}
.fg-margin-0 {
    margin-bottom: 0px !important; 
}

.input-circular-settings-focused{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}