.ws-back-link{
    color: $DARK-PURPLE;
}
.ws-manage-area{
    display: table;
    float: none;
    min-height: 500px;
}
.ws-manage-content{
    display:table-cell;
    float:none;
    vertical-align: top;
}

.ws-manage-menu{
    float:none;
    display:table-cell;
    border:1px solid #eee;
    border-top:none;
    border-right:none;
    vertical-align: top;

    & .menu-tile{
        cursor: pointer;
        padding: 20px 5px;
        text-align: center;
        border-bottom: 1px solid #eee;
        font-size:13px;

        &:hover{
            background-color: #e8f4f7;
        }

        &.active{
            background-color: $BLUE-PRIMARY;
            color: white;
        }
    }
}
.ws-manage-content{
    border:1px solid #eee;
    border-top: none;

}

.ws-invite-area{
}
.ws-people-list{
    padding: 5px;
}
.ws-people-tile{

    /*padding:5px;*/
    
    & .ws-people-box{
        height: 144px;
        padding: 5px 10px;
        background-color:#f7f5eb;
        border : 1px solid $black-alpha-lower;
        border-radius:2px;    
    }

    & .ws-tile-img{
        padding: 0 15px; 
    }
    & .ws-tile-name{
        height: 40px;
        line-height: 20px;
        overflow: hidden;
    }

    & img{
        border-radius: 2px;
    }
}
.workspace-user-img{
    width: 60px;
    height: 60px;
    line-height: 60px;
    
}
.ws-tile-setting{
    /*background: white;*/
    /*color: $black-alpha-low;*/
    /*padding:3px 3px 0 3px;*/
    /*    position : absolute;
        top: 0px;
        right: 15px;*/
    font-size:12px;
    /*border: 1px solid #eee;*/
    color:$black-alpha-low;
    &:hover{
        /*        background: $BLUE-PRIMARY;
                color:white;*/
        cursor: pointer;
    }
}