.workspaces-container{

}
.workspaces-head{
    border:1px solid #eee; 
}
.workspace-tile{
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;

    &:hover{
        background-color: $DARK-PURPLE;
        cursor: pointer;
        border-radius: 4px;
    }

    & img{
        margin-bottom:10px;
    }

    .network-name{
        color:$black-alpha;
    }

    &:hover .network-name{
        color: white;

    }

    & a:hover{
        text-decoration: none;
    }

}
.workspace-new-tile{

    &:hover .workspace-new-icon{
        color:white;
    }

    .workspace-new-icon{

        color:$DARK-PURPLE;
    }
}


.workspaces-body{
    border:1px solid #eee;
}
