<?php
$this->layout = 'gridle_in';
$this->set('title_for_layout', 'Set Password | Gridle');
?>

<div class="container-fluid">
    <div class="row">
        <!--this is header-->
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!--some content-->
        </div>
        <div class="col-sm-6">
            <!--here textbox-->
            <input type="text" ng-model="data.User.password">
            <input type="button" value="Submit">
        </div>
    </div>
</div>