<div class="modal-header">
    <div class="row">
        <p class="text-center text-bold text-dim col-sm-11">
            My Profile
        </p>
        <p ng-click="cancel()" class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer pull-right col-sm-1"></p>
    </div>
</div>
<div class="modal-body modal-body-top-0">
    <div class="div-relative container-fluid padding-lr-0">
        <div ng-class="{'opacity-half':savingData}" >
            <div class="row userProfileImg padding-tb-20">
                <div class="col-sm-12" ngf-select ngf-multiple="false" accept="image/*" ng-model="profile_pic">
                    <p class="text-center">
                        <img ng-src="{{user_networks.UserInfo.xvga}}" height="150" ng-hide="profile_pic.name" />
                        <img ngf-src="profile_pic" height="150" width="150" ng-if="profile_pic.name"/>
                    </p>
                    <p class="text-center color-white cursor-pointer padding-tb-10">
                        <span ng-show="user_networks.UserInfo.vga">Change profile picture</span>
                        <span class="btn-link" ng-hide="user_networks.UserInfo.vga">Upload profile picture</span>    
                    </p>

                </div>
                <!--                <div class="col-sm-12">
                                    <p class="text-bold text-center color-white font-big-2 margin-top-10" ng-bind="loggeduser_name"></p>
                                </div>-->
            </div>
            <!--    edit profile form   -->
<!--            <form name="editProfileForm">-->
            <div class="row margin-top-30" ng-form="editProfileForm">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="form-group row">
                        <!--    first name  -->
                        <div class="col-sm-6">
                            <p class="text-muted font-small-2 padding-left-10">First Name</p>
                            <input name="first_name" id="first_name" class="form-control input-sm gridle-input" placeholder="First Name" ng-model="data.UserInfo.first_name" ng-pattern="/^[a-z. ]*$/i" maxlength="30" minlength="2" required/>
                                                    <!-- errors messages here -->
                        <div class="form-error" ng-show="editProfileForm.first_name.$dirty">
                            <p ng-show="editProfileForm.first_name.$error.required">First name please</p>
                            <p ng-show="editProfileForm.first_name.$error.minlength" >Min. 2 characters</p>
                            <p ng-show="editProfileForm.first_name.$error.maxlength">First name too long.</p>
                            <p ng-show="editProfileForm.first_name.$error.pattern">Alphabets only</p>
                        </div>
                        </div>

                        <!-- last name  -->
                        <div class="col-sm-6">
                            <p class="text-muted font-small-2 padding-left-10">Last name</p>
                            <input name="last_name" id="last_name" class="form-control input-sm gridle-input" placeholder="Last Name" ng-model="data.UserInfo.last_name" ng-pattern="/^[a-z. ]*$/i" maxlength="30" minlength="2" required/>
                           <!--    error messages here -->
                        <div class="form-error" ng-show="editProfileForm.last_name.$dirty">
                            <p ng-show="editProfileForm.last_name.$error.required">Last name please</p>
                            <p ng-show="editProfileForm.last_name.$error.minlength" >Min. 2 characters</p>
                            <p ng-show="editProfileForm.last_name.$error.maxlength">Last name too long.</p>
                            <p ng-show="editProfileForm.last_name.$error.pattern">Alphabets only</p>
                        </div>
                        </div>

                    </div>
                    <!--    Job Profile     -->
                    <div class="form-group">
                        <p class="text-muted font-small-2 padding-left-10">Job profile</p>
                        <input name="jobProfile" id="jobProfile" class="form-control input-sm gridle-input" placeholder="Job profile" ng-model="data.UserInfo.designation"  ng-pattern="/^[a-z0-9 _-]*$/i" maxlength="200" />
                                            <!-- error messages here -->
                        <div ng-show="editProfileForm.jobProfile.$dirty" class="form-error">
                        <p ng-show="editProfileForm.jobProfile.$error.maxlength">Name is too long.</p>
                        <p ng-show="editProfileForm.jobProfile.$error.pattern">Alphabets, numbers, spaces, hyphens (-) and underscores(_)only</p>  
                        </div>
                    </div>

                    <!--    Location    -->
                    <div class="form-group">
                        <p class="text-muted font-small-2 padding-left-10">Lives in <i ng-show="loadingLocations" class="fa fa-spinner"></i></p>
                        <input name="location" id="location" class="form-control input-sm gridle-input" placeholder="Location" ng-model="data.UserInfo.location" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" ng-pattern="/^[a-z]*$/i" maxlength="30" minlength="2"/>
                                            <!-- error messages here -->
                        <div ng-show="editProfileForm.location.$dirty" class="form-error">
                            <p ng-show="editProfileForm.location.$error.minlength">Minimum 2 characters are required</p>
                        <p ng-show="editProfileForm.location.$error.maxlength">Name is too long.</p>
                        <p ng-show="editProfileForm.location.$error.pattern">Alphabets only</p>  
                        </div>
                    </div>

                </div>
            </div>
            <!--BUTTON--> 
            <div class="row margin-top-30">
                <div class="col-sm-4 col-sm-offset-8">
                    <button class="btn btn-primary btn-block" ng-click="updateUserInfo(data, profile_pic)">Save my info</button>
                </div>
            </div>
        </div>
        <!--LOADING ANIMATION-->
        <div class="col-sm-12 modal-loading" ng-show="savingData">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
</div>
