<div class="container-fluid">
<div class="row padding-tb-10">
	<div class="col-sm-2 padding-lr-0">
		<g-profile-img type="{{tag.type}}" myclass='g-img-30 pull-right' path="tag.vga" name="tag.name" ng-if="tag"></g-profile-img>

	</div>
	<div class="col-sm-10">
		<p ng-click="showProfileofUser(tag)" class="popover-profile-name text-bold">{{tag.name}}</p>
	</div>
</div>
</div>
