<div class="modal-header">
    <p class="text-center text-bold">
        <span class="fa fa-user text-muted text-primary"></span> User Profile
    </p>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row userProfileImg padding-tb-20">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="text-center">
                    <g-profile-img type="user" myclass='g-desk-user-img' path="ProfileofUser.vga" name="ProfileofUser.name"></g-profile-img>
                </p>
            </div>
            <div class="col-sm-12">
                <p class="text-bold text-center color-white font-big-2 margin-top-10"><span ng-bind="ProfileofUser.name"></span></p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-sm-offset-4 col-sm-6">
                <div class="form-group">
                    <p class="text-muted">Email</p>
                    <p class=""><span ng-bind="ProfileofUser.email"></span></p>
                </div>
                <div class="form-group" ng-show="ProfileofUser.designation">
                    <p class="text-muted">Profile</p>
                    <p class=""><span ng-bind="ProfileofUser.designation"></span></p>
                </div>
                <div class="form-group" ng-show="ProfileofUser.location">
                    <p class="text-muted">Lives in</p>
                    <p class=""><span ng-bind="ProfileofUser.location"></span></p>
                </div>
                <div class="form-group" ng-show="ProfileofUser.skype">
                    <p><a class="btn btn-default" href="skype:{{ProfileofUser.skype}}?call"><i class=" text-muted fa fa-skype"></i> {{ProfileofUser.skype}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
