<?php $this->layout = 'gridle_out'; ?>
<div class="g-page-wrap container-fluid">
    <div class="pagename-wrap row ">
        <div class="col-lg-4 col-lg-offset-1 pagename-main-img">
            <p>
                <object data="/img/homepage/login_gridle.svg" type="image/svg+xml" width="100%">
                    <img src="/img/homepage/login_gridle.svg" />
                </object>
            </p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 form-pagename-area">
            <h2 class="form-heading">Login</h2>
            <h5 class="form-subheading">Tagline</h5>

        </div>
    </div>
</div>
