<?php
$this->layout = 'gridle_in';
$this->set('title_for_layout', 'Upgrade your network');
?>
<div class="container-fluid">
    <div class="row">
        <div class="text-center"><h1>Upgrade your network</h1></div>
        <div class="text-center">
            <img src="/img/inside/upgrade.jpg" style="width:50%;">
            <p></p>
        </div>
    </div>
</div>