<!--MODAL HEADER--> 
<div class="modal-header">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-dim">
            <!--NOTIFICATION DESCRIPTION-->
            <div class="row notificationInfo">
                <div class="col-xs-1 notificationIcon" ng-switch on="selectedNotification.type">
                    <!--file icon--> 
                    <p class="font-big-3" ng-switch-when="file">
                        <span class="icon" 
                              ng-class="{
                                          edit:'icon-basic-sheet-pencil',
                                          addmember:'icon2-arrows-square-plus',
                                          addcomment:'icon-basic-message'
                                          }[selectedNotification.activity]"
                              ></span>
                    </p>
                </div>
                <div class="col-xs-10 notificationDesc font-small-1">
                    <p ng-bind-html="selectedNotification.message"></p>
                </div>

            </div>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="singleFileRow col-sm-12 padding-lr-0" >
                <div class="col-sm-9 file-list-cell">
                    <!--file icon--> 
                    <p class="pull-left padding-top-5">
                        <img src="/img/icons/file_icon.png" height="20" />
                        <!--<span class="fa fa-file-o color-black-alpha-lower  fa-2x"></span>-->
                    </p>
                    <!--file name--> 
                    <p class="pull-left text-left file-name text-bold line-height-30 font-small-1 " title="{{selectedFile.Doc.name}}">
                        <span ng-bind="selectedFile.Doc.name"></span>.<span ng-bind="selectedFile.Doc.file_extension"></span>,
                    </p>
                    <p class="pull-left line-height-30 margin-left-5">
                        <span class="text-muted font-small-3" ng-bind="dateFormat(selectedFile.Doc.created, 'longDate')"></span>
                    </p>
                    <!--file size--> 
                    <!--<span class="fa fa-trash-o" ng-click="fileDeleteModal(file.Doc.id)" ng-show="checkforAdmin(file.Doc.user_id)"></span>-->
                </div>
                <div class="col-sm-1 padding-lr-0 file-list-cell">
                    <p class="text-muted">
                    <g-profile-img type="user" myclass="g-doc-owner-img" path="selectedFile.Doc.UserInfo.vga" name="selectedFile.Doc.UserInfo.name" width="20px" height="20px" popover="{{selectedFile.Doc.UserInfo.name}}" popover-trigger="mouseenter" popover-placement="left" data-placement="top" tooltip ></g-profile-img>
                    </p>
                </div>
                <div class="col-sm-2 padding-lr-0 file-list-cell">
                    <p class="text-muted font-small-1 line-height-30"><span ng-bind="selectedFile.Doc.file_size | bytesConvert"></span></p>
                </div>

            </div>
            <!--single task end-->
            <!--file information--> 
            <div class="container-fluid">
                <!--                FILE NAME 
                                <div class="text-center font-small-1">
                                    <p class="" style="padding:0 20px;word-wrap: break-word;" >
                                        <span  ng-bind="selectedFile.Doc.name"></span>.<span ng-bind="selectedFile.Doc.file_extension" ></span>
                                    </p>
                                </div>-->
                <div class="doc-preview-area">
                    <!--preview--> 
                    <p class="text-center" ng-hide="selectedFile.Doc.thumbnailLink == null">
                        <img ng-src="{{selectedFile.Doc.thumbnailLink}}"  alt="{{selectedFile.Doc.name}}" height="100"/>
                    </p>
                    <!--no preview--> 
                    <p class="file_no_preview text-dimmer text-center font-big-2" ng-show="selectedFile.Doc.thumbnailLink == null" style="line-height: 100px; height: 100px;" >       
                        No preview available

                    </p>
                </div>

            </div>
            <!--OPTIONS--> 
            <div class="col-sm-12 padding-tb-10 file-options">
                <!--VIEW OPTION--> 
                <div class="col-sm-4 text-center font-big-5 padding-top-5" tooltip-placement="top" tooltip="Preview file">
                    <div class="cursor-pointer" 
                         >
                        <!--ng-show="matchingfileMime(selectedFile.Doc.file_mime) || selectedFile.Doc.provider == 'dropbox'"-->

                        <p class="icon icon2-arrows-expand color-black-alpha " ng-click="framebenchPreview(selectedFile.Doc.id, selectedFile.Doc.preview_url, selectedFile.Doc.provider)" ></p>
                    </div>
                </div>
                <!--download-->
                <div class="col-sm-4 text-center font-big-6" tooltip-placement="top" tooltip="Download file">
                    <a class="" href="/Docs/download/{{selectedFile.Doc.id}}"><div class="icon icon-basic-server-download cursor-pointer color-black-alpha"></div></a>
                </div>
                <!--reshare--> 
                <div class="col-sm-4 text-center font-big-6 " tooltip-placement="top" tooltip="Share file">
                    <div class="icon icon-basic-share cursor-pointer color-black-alpha" ng-click="openModalShareDoc()"></div>
                </div>
            </div>
            <!--SHARED WITH-->
            <div class="col-sm-12 padding-lr-0 padding-tb-10 margin-bottom-10">
                <div class="col-sm-4 padding-right-0 ">
                    <p class="text-muted font-small-2 text-center" ng-show="selectedFile.DocAssignment.length > 1">Shared with</p>
                </div>
                <div class="col-sm-6 file-shared-with padding-left-0">
                    <p ng-repeat="user in selectedFile.DocAssignment" class="font-small-2 btn-link cursor-pointer shared-with pull-left" ng-hide="selectedFile.Doc.user_id == user.Info.user_id">
                        <span class="" ng-bind="user.Info.name" popover-trigger="mouseenter" popover="{{user.Info.name}}"></span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 file-comment-list">
                <!--COMMENTS AREA--> 
                <comment-form id="{{selectedFile.Doc.id}}" add="addComment(id,body)" delete="deleteCommentModal(id,commentId)" comments="selectedFile.Comment" loadmore="{{selectedFile.moreComments}}" load="docsService.getComment(id,lastId)" commentcount=selectedFile.Doc.comment_count limitcount="3" ></comment-form>
            </div>
        </div>


        <div class="row ">


        </div>
    </div>
</div>
<div ng-include src="'/scripts/View/Notification/notification_footer.html'"></div>
