<!--MODAL HEADER--> 
<div class="modal-header">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-dim">
            <!--NOTIFICATION DESCRIPTION-->
            <div class="row notificationInfo">
                <div class="col-xs-1 notificationIcon" ng-switch on="selectedNotification.type">
                    <!--team icon--> 
                    <p class="font-big-3" ng-switch-when="group">
                        <span class="icon" 
                              ng-class="{
                                          edit:'icon-basic-gear',
                                          addmember:'icon2-arrows-square-plus',
                                          }[selectedNotification.activity]"
                              ></span>
                    </p>
                </div>
                <div class="col-xs-11 notificationDesc font-small-1">
                    <p ng-bind-html="selectedNotification.message"></p>
                </div>

            </div>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body padding-right-0">
    <div class="container-fluid">
        <div class="row notificationDetail">
            <!--TEAM NAME--> 
            <div class="col-sm-12 padding-tb-15 padding-lr-0">
                <p class="team-img round-30 pull-left">G</p>
                <p class="margin-left-5 pull-left line-height-16">
                    <span ng-bind="selectedGroup.Group.name"></span><br/>
                    <span class="text-muted font-small-2">{{selectedGroup.Group.users_group_count}} members</span>
                </p>
            </div>
            <div class="col-sm-12 padding-tb-15">
                <div class="row">
                    <!--user tile--> 
                    <div class="col-sm-3 padding-tb-10 padding-lr-0" ng-repeat="users in selectedGroup.UsersGroup">
                        <div class="text-center col-sm-10 col-sm-offset-1 padding-lr-0">
                            <p class="text-center" style="line-height: 64px; width:64px; height:64px;">
                            <g-profile-img type="user" path="users.UserInfo.vga" name="users.UserInfo.name" myclass="text-center group-img-notif font-big-3"></g-profile-img>
                            </p>    
                        </div>
                        <div class="col-sm-12 font-small-2 text-dim">
                            <p class="padding-tb-10"><span ng-bind="users.UserInfo.name"></span></p>
                        </div>
                    </div>
                    <!--user tile end--> 
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer margin-top-30 border-top-2px-grey" ng-include src="'/scripts/View/Notification/notification_footer.html'">
</div>
<style>
    .group-img-notif{
        width:64px;
        height:64px;
        text-align:center;
    }
</style>