<div class="modal-footer">
<!--    <div class="col-xs-3">
        <button class="btn btn-default btn-block" ng-click="ok()">Cancel</button>
    </div>-->
    <div class="col-xs-4">   
        <button class="btn pull-left btn-primary" ng-click="previousNotification(selectedNotification.notification_id,selectedNotification.type)" ng-hide="checknotification(selectedNotification.notification_id) == 'first'">Previous</button>
    </div>
    <div class="col-xs-3 col-xs-offset-5">
        <button class="btn btn-primary" ng-click="nextNotification(selectedNotification.notification_id,selectedNotification.type)" ng-hide="checknotification(selectedNotification.notification_id) == 'last'">Next</button>
    </div>
</div>