<!--MODAL HEADER--> 
<div class="modal-header">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-dim">
            <!--NOTIFICATION DESCRIPTION-->
            <div class="row notificationInfo">
                <div class="col-xs-1 notificationIcon" ng-switch on="selectedNotification.type">
                    <!--task icon--> 
                    <p class="font-big-3" ng-switch-when="task">
                        <span class="icon" 
                              ng-class="{
                                    taskcomplete:'icon2-arrows-square-check',
                                    taskincomplete:'icon2-arrows-check',
                                    edit:'icon2-arrows-hamburger1',
                                    addmember:'icon2-arrows-square-plus',
                                    addcomment:'icon-basic-message'
                                    }[selectedNotification.activity]"
                              ></span>
                    </p>
                </div>
                <div class="col-xs-10 notificationDesc font-small-1">
                    <p ng-bind-html="selectedNotification.message"></p>
                </div>

            </div>
        </div>
        <div class="col-sm-1 pull-right" ng-click="cancel()" >
            <p class="font-big-1 text-dim icon icon2-arrows-remove text-right cursor-pointer"></p>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <!--TASK INFORMATION--> 
        <div class="row notificationDetail padding-tb-10">
            <div class="col-sm-12">
                <div class="taskDetails row">
                    <!--creator--> 
                    <div class="col-sm-2 text-center padding-right-0">
                        <g-profile-img type="user" myclass='g-img-30' path="selectedTask.user_info.vga" name="selectedTask.user_info.name" ng-if="selectedTask.user_info"></g-profile-img>
                    </div>
                    <div class="col-sm-8 padding-lr-0">
                        <p class=" line-height-16 color-black-alpha">
                            <!--name--> 
                            <span ng-bind="selectedTask.user_info.name" ng-click="showProfileofUser(selectedTask.user_info)" style="cursor:pointer" class="text-bold"></span>, 

                            <span class="text-dim font-small-2 text-italic" >    
                                <span class="" ng-bind="momentDate(selectedTask.Task.end_date)" ></span>,
                                <span class="" ng-bind="dateFormat(selectedTask.Task.end_date, 'shortTime')"></span>
                            </span>

                        </p>
                        <p class="task-title" ng-bind="selectedTask.Task.title" style=""></p>
                    </div>
                    <div class="col-sm-offset-1 col-sm-1 padding-lr-0 ">
                        <p class="pull-right icon font-big-5 color-red icon-basic-bookmark" ng-show="selectedTask.Task.priority" style="margin-top: -15px" ></p>
                    </div>
                    <span class="clearfix"></span>
                    <div class="col-sm-offset-2 col-sm-8 margin-top-5">
                    </div>
                    <div class="col-sm-2" style="position: relative;">
                        <div ng-click="markTaskComplete(selectedTask.Task.id, selectedTask.Task.is_completed)" class="btn-mark-complete pull-right icon icon2-arrows-check" >

                        </div>
                    </div>
                    <span class="clearfix"></span>

                    <div class='col-sm-12 padding-left-0 taskBottomBox'>
                        <!--task shared with-->
                        <div class="col-sm-8 col-sm-offset-2 padding-left-0">
                            <div class="task-shared-with " >
                                <p class="font-small-2 text-dim cursor-pointer shared-with text-dim" ng-repeat="tag in selectedTask.Tags" ng-hide="tag.user_id == selectedTask.Task.created_by">
                                    <span ng-bind="tag.name"  popover="{{tag.name}}" popover-trigger="mouseenter"></span> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--task comments--> 
                <div class="row">
                    <comment-form id="{{selectedTask.Task.id}}" add="addComment(id,body)" delete="deleteCommentModal(id,commentId)" comments="selectedTask.Comment" loadmore="{{selectedTask.moreComments}}" load="deskService.getComment(id,lastId)" commentcount=selectedTask.Task.comment_count limitcount="2"></comment-form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'/scripts/View/Notification/notification_footer.html'">    
</div>