<?php

/**
 * Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
echo __d('users', 'Hello %s', $data['name']);
echo "<br/>";
echo "<br/>";

echo __d('networks', 'You have been assigned role \'%s\' by %s for network <strong>%s</strong>.', $data['role'],$data['assignBy'], $data['Network']['name']);



