<?php

/**
 * Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright 2010 - 2013, Cake Development Corporation (http://cakedc.com)
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
echo __d('users', 'Hello %s', $data['name']);
echo "<br/>";
echo "<br/>";

echo __d('networks', 'Your network  <strong>%s</strong> about to expire. Please Activate before expiration', $data['Network']['name']);



