//  GOTHAM BOOK
@font-face {
    font-family: 'gotham-book';
    src: url('../../../css/fonts/Gotham/Gotham/Gotham-Book.otf');
}

//  GOTHAM BOOK
@font-face {
    font-family: 'gotham-bold';
    src: url('../../../css/fonts/Gotham/Gotham/Gotham-Bold.otf');
}

body{
    font-family: 'gotham-book', sans-serif;
}

/*for cursor pointer*/ 
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dropdown{
    list-style: none;
}

p{
    margin-bottom: 0;
}

/*PADDING*/ 
.padding-lr-0{
    padding-left:0 !important;
    padding-right:0 !important;
}

.padding-top-5{
    padding-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-left-10{
    padding-left:10px;
}
.padding-left-30{
    padding-left:30px;
}

/*COLORS*/ 
.color-white{
    color: white;
}

.color-black{
    color: #333;
}

.color-blue{
    color: $BLUE-PRIMARY;
}

.color-yellow{
    color: $YELLOW-PRIMARY;
}
.color-green{
    color : $GREEN-PRIMARY;
}
.color-red{
    color: $RED-PRIMARY;
}
.color-red-secondary{
    color: $RED-SECONDARY;
}
.color-black-alpha-higher{
    color : $black-alpha-higher;
}
.color-black-alpha-high{
    color : $black-alpha-high;
}
.color-black-alpha{
    color : $black-alpha;
}
.color-black-alpha-low{
    color : $black-alpha-low;
}
.color-black-alpha-lower{
    color : $black-alpha-lower;
}

/** BACKGROUNDS **/
.bg-green{
    background-color : $GREEN-PRIMARY;
}
.bg-blue{
    background-color: $BLUE-PRIMARY;
}

.bg-yellow{
    background-color: $YELLOW-PRIMARY;
}

.bg-purple{
    background-color: $DARK-PURPLE;
}
.bg-grey{
    background-color: #eee;
}
.bg-red{
    background-color: $RED-PRIMARY;
}



/*  TEXT  */ 
.font-small-1{
    font-size: 13px;
}

.font-small-2{
    font-size: 12px;
}

.font-small-3{
    font-size: 11px;
}

.font-small-4{
    font-size: 10px;
}

.font-big-1{
    font-size: 16px !important;
}

.font-big-2 {
    font-size: 18px !important;
}

.font-big-3{
    font-size: 20px !important;
}

.font-big-4{
    font-size: 22px !important;
}

.font-big-5{
    font-size: 24px !important;
}
.font-big-6{
    font-size: 30px !important;
}
.font-big-7{
    font-size: 36px !important;
}

.text-bold{
    font-family: 'gotham-bold';
}
.line-height-50{
    line-height: 50px;
}
.line-height-40{
    line-height: 40px;
}
.line-height-30{
    line-height: 30px;
}
.line-height-20{
    line-height: 20px;
}
.line-height-16{
    line-height: 16px;
}
.line-height-25{
    line-height: 25px;
}

/*IMAGES*/ 
.round-25{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 25px;
}
.round-30{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
}

.round-50{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
}
.g-img{
    background-color: lighten($BLUE-PRIMARY,50%);
    color: lighten($BLUE-PRIMARY,30%);
    font-size: 13px;
    text-align: center;
    border-radius: 4px;
    float:left;
}
.g-img-20{
    width:20px;
    height:20px;
    line-height: 20px;
}
.g-img-25{
    width:25px;
    height:25px;
    line-height: 25px;
}
.g-img-30{
    width:30px;
    height:30px;
    line-height: 30px;
}

/*HTML*/ 
textarea{
    resize:vertical;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

/**BOOTSTRAP OVER RIDES **/
.btn-link{
    cursor:pointer;
}

.btn-primary{
    background-color:white;
    border-color: $BLUE-PRIMARY;
    border-width: 1px;
    color: $BLUE-PRIMARY;
    &:hover,&:active{
        border-color: $BLUE-PRIMARY;
        background-color: $BLUE-PRIMARY;
        color:white;
    }
}
.modal.in .modal-dialog {
    /*    -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;*/
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 450px;
        //        margin: 30px auto;
    }
}
.modal-backdrop{
    background-color: white;
    &.in{
        opacity:0.9;   
    }
}
.modal-footer{
    padding:10px;
    border-top: none;
}
.dropdown-animation{
    opacity:.3; 
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
    -webkit-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    -moz-transform: scale(1,0);
    display: block; 
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}
.open > .dropdown-animation {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1, 1);  
    opacity:1;
}

.dropdown-menu{
    width:100%;
}

.dropdown-menu > li > a{
    padding:5px 20px;
    line-height:24px;
    font-size:13px;

    &:hover{
        background-color: $BLUE-PRIMARY;
        color:white;
    }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: $BLUE-PRIMARY;
    color:white;
}

/** BUTTONS **/
.btn-green{
    position:relative;
    color: white;
    background: $GREEN-PRIMARY;
    box-shadow: 0px 6px 0px darken($GREEN-PRIMARY,10%);
    -webkit-box-shadow: 0px 6px 0px darken($GREEN-PRIMARY,10%);
    -moz-box-shadow: 0px 6px 0px darken($GREEN-PRIMARY,10%);
    -o-box-shadow: 0px 6px 0px darken($GREEN-PRIMARY,10%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    &:hover, &:active, &:focus{
        color: white;
        top:1px;
    }
    &:hover{
        box-shadow: 0px 5px 0px darken($GREEN-PRIMARY,10%);
        -webkit-box-shadow: 0px 5px 0px darken($GREEN-PRIMARY,10%);
        -moz-box-shadow: 0px 5px 0px darken($GREEN-PRIMARY,10%);
        -o-shadow: 0px 5px 0px darken($GREEN-PRIMARY,10%);
    }
    &:active{
        box-shadow: 0px 3px 0px darken($GREEN-PRIMARY,10%);
        -webkit-box-shadow: 0px 3px 0px darken($GREEN-PRIMARY,10%);
        -moz-box-shadow: 0px 3px 0px darken($GREEN-PRIMARY,10%);
        -o-box-shadow: 0px 3px 0px darken($GREEN-PRIMARY,10%);
    }


}

.btn-blue{
    position:relative;
    color: white;
    background: $BLUE-PRIMARY;
    box-shadow: 0px 6px 0px darken($BLUE-PRIMARY,20%);
    -webkit-box-shadow: 0px 6px 0px darken($BLUE-PRIMARY,20%);
    -moz-box-shadow: 0px 6px 0px darken($BLUE-PRIMARY,20%);
    -o-box-shadow: 0px 6px 0px darken($BLUE-PRIMARY,20%);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;

    &:hover, &:active, &:focus{
        color: white;
        top:1px;
    }
    &:hover{
        box-shadow: 0px 5px 0px darken($BLUE-PRIMARY,20%);
        -webkit-box-shadow: 0px 5px 0px darken($BLUE-PRIMARY,20%);
        -moz-box-shadow: 0px 5px 0px darken($BLUE-PRIMARY,20%);
        -o-box-shadow: 0px 5px 0px darken($BLUE-PRIMARY,20%);

    }
    &:active{
        box-shadow: 0px 3px 0px darken($BLUE-PRIMARY,20%);
        -webkit-box-shadow: 0px 3px 0px darken($BLUE-PRIMARY,20%);
        -moz-box-shadow: 0px 3px 0px darken($BLUE-PRIMARY,20%);
        -o-box-shadow: 0px 3px 0px darken($BLUE-PRIMARY,20%);
    }


}

.btn-previous, .btn-next{
    color:white;
    background-color: $BLUE-PRIMARY;
    font-family: 'gotham-bold';


    &:hover, &:active, &:focus{
        color: white;
        background-color: darken($BLUE-PRIMARY,5%);
    }
}
.btn-previous{
    border-left: 10px solid darken($BLUE-PRIMARY,10%);
}
.btn-next{
    border-right: 10px solid darken($BLUE-PRIMARY,10%);
}

/* DIVISIONS */ 
.padding-tb-20{
    padding-bottom: 20px;
    padding-top: 20px;
}
.padding-tb-5{
    padding-bottom: 5px;
    padding-top: 5px;
}
.padding-tb-10{
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-tb-15{
    padding-bottom: 15px;
    padding-top: 15px;
}
.padding-left-0{
    padding-left:0;
}
.padding-right-0{
    padding-right:0;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-tb-0{
    margin-top: 0;
    margin-bottom: 0;
}
/*BORDERS*/ 
.border-radius-4{
    border-radius: 4px;
}

.border-radius-5{
    border-radius:5px;
}

.border-radius-10{
    border-radius:10px;
}

/*miscellaneous*/ 
.cursor-pointer{
    cursor: pointer;
}
.full-width{
    width: 100%;
}
.border-top-2px-grey{
    border-top: 2px solid #eee; 
}

/*GRIDLE*/ 

.team-img{
    background:$BLUE-PRIMARY;
    color:white;
    text-align: center;
}

.text-dim{
    color: rgba(0,0,0,0.37);
}

.text-dimmer{
    color: rgba(0,0,0,0.11);
}
.text-italic{
    font-style : italic;
}
.text-underline{
    text-decoration: underline;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.g-input{
    background: transparent;
    font-size:18px;
    padding:10px 10px 5px 5px;
    display:block;
    border:none;
    border-bottom:1px solid rgba(37,151,175,0.3);
    box-shadow:none;
    width:100%;
    &:focus{
        box-shadow:none;
        border-left: none;
        border-right: none;
        border-top:none;
        outline:none;
    }

    & ::-webkit-input-placeholder {
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & :-moz-placeholder { /* Firefox 18- */
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & ::-moz-placeholder {  /* Firefox 19+ */
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

    & :-ms-input-placeholder {  
        color: #689f38;
        opacity:0.7;
        font-style: italic;
        font-size:16px;
    }

}
.g-input-sm{
    padding: 5px;
    font-size: 12px;
}

#loader-wrapper {
    position: fixed;
    top: 0px;
    left: 16.67%;
    width: 83.33%;
    height: 100%;
    z-index: 1000;
    background-color: white;

    /*    &.ng-hide-add{
            -webkit-animation : tourFadeOut 1s ease-in-out forwards;  
            -moz-animation:  tourFadeOut 1s ease-in-out forwards;
            animation: tourFadeOut 1s ease-in-out forwards;
        }*/
}
.loading-text{
    position: relative;
    left: 46%;
    top: 42%; 
}
#loader {
    display: block;
    position: relative;
    left: 44%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.opacity-1{
    opacity: 1 !important;
}

.opacity-half{
    opacity:0.5;
}

/*animations*/ 

/*spinning*/ 

.spinAround{
    -webkit-animation: spinAround 1s linear infinite;
    -moz-animation: spinAround 1s linear infinite;
    animation: spinAround 1s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/*toRightFromLeft*/ 
@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }


}
@-moz-keyframes toRightFromLeft {
    49% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        opacity: 0;
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}


/*AUTO HIDE*/ 
@keyframes autoHide {
    to {
        -webkit-transform: scale(0.85);
        width:0;
        height:0;
        opacity: 0;
        visibility:hidden;
    }
}
@-webkit-keyframes autoHide {

    to{
        -webkit-transform: scale(0.85);
        opacity: 0;
        visibility:hidden;
    }

}
/*FADE IN*/ 
@-webkit-keyframes fadein {

    to{
        width:0;
        height:0;
        opacity:0;
        visibility: hidden;
    }
}
@keyframes fadein {

    to{
        width:0;
        height:0;
        opacity:0;
        visibility: hidden;
    }
}
@-moz-keyframes fadein {

    to{
        width:0;
        height:0;
        opacity:0;
        visibility: hidden;
    }
}
/*FADE OUT*/ 
@-webkit-keyframes fadein {

    to{
        opacity:1;
    }
}
@keyframes fadein {

    to{
        opacity:1;
    }
}
@-moz-keyframes fadein {

    to{
        opacity:1;
    }
}

/*SLIDE LEFT*/ 
@-webkit-keyframes slideLeft {

    to{
        right:0;
    }
}
@-moz-keyframes slideLeft {

    to{
        right:0;
    }
}
@keyframes slideLeft {

    to{
        right:0;
    }
}

/*SLIDE RIGHT*/ 
@-webkit-keyframes slideRight {

    to{
        right:-350px;
        opacity:0;
    }
}
@-moz-keyframes slideRight {

    to{
        opacity:0;
        right:-350px;;
    }
}
@keyframes slideRight {

    to{
        opacity:0;
        right:-350px;;
    }
}

.margin-auto{
    margin: 0 auto;
    float:none;
}
.display-inline-block{
    display: inline-block;
}

/*email verification strip*/
.email-verify-strip{
    position: fixed;
    width:100%;
    bottom:0;
    background: #e8f4f7;
    color: $black-alpha;
    padding:10px 15px;
    z-index: 100;
}

.gridle-input{
    border:none;
    outline:none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #cbe3eb;
    font-size:14px;

    &:focus,&:active{
        outline:none;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid $BLUE-PRIMARY;
    }
}

/*SCROLL BAR*/ 
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: rgba(90,59,80,0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(90,59,80,0.3);
    /*outline: 1px solid slategrey;*/
}


.div-relative{
    position: relative;
}

.dotted-border{
    border-style: dotted !important;
}
.no-border{
    border:none;
}

.g-removeShared{
    background-color: $BLUE-PRIMARY;
    color: white;
    margin:5px;
}
.g-suggestion-user{
    background-color: white;
    color:  $BLUE-PRIMARY;
    border: 1px solid $BLUE-PRIMARY;
    margin:5px;
}

.search-box{
    position: relative;

    & .search-icon{
        position: absolute;
        right: 7px;
        top:7px;
    }
}

#authMessage{
    font-size:10px;
    color : $RED-PRIMARY;
}
.form-error{
    font-size: 10px;
    color: #EB616E;
    font-family: 'gotham-bold';
}
