@import 'variables/_variables.scss';

a#g-logo-gridle:after{
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0;
    }
.g-logo-gridle-cover{
	position:absolute;
	width:100%;
	text-align:center;
	//z-index:-1;		
}
    
p{
    word-wrap : normal;
    overflow-wrap:break-word;
}
.font-big-6{
    font-size : 30px;
}
.font-big-5{
    font-size : 28px;
}
h1, .font-big-4{
    font-size : 24px;
}
h2,.font-big-3{
    font-size : 22px;
}
h3,.font-big-2{
    font-size : 18px;
}
h4,.font-big-1{
    font-size : 16px;
}
h5, .font-normal{
    font-size : 13px;
}
h6, .font-small-1{
    font-size : 11px;
}
.font-small-3{
    font-size:8px;
}


.btn{
    font-size : 13px;
}
.btn-sm, .btn-group-sm > .btn {
   // padding:7px 20px;
}

.badge-oxiimary{
    background : $brand-primary;
}
.badge-danger{
    background : $brand-danger;
}
.badge-info{
    background : $brand-info;
}
.badge-success{
    background : $brand-success;
}
.badge-warning{
    background : $brand-warning;
}
.badge-default{
    background : $white;
    border : 1px solid $offwhite;
    color:$dark-grey;
}

.p-margin-0 {
    margin-bottom:0;
}

.form-label, .g-form-label{
    font-weight: normal;
}

.network-name-c{
    text-transform:uppercase;
}

.g-search-box{
    border-radius : 50px;
}

.input-group-addon-round{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}

.input-group .g-search-box{
   border-radius : 50px; 
}

.input-group .input-group-addon-round{
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    
}

.padding-lr-0{
    padding-left:0px;
    padding-right:0px;
}

.text-emphasize{
    font-family: 'proxima-nova-semi-bold',sans-serif;
}
.text-semi-bold{
    font-family: 'proxima-nova-semi-bold',sans-serif;
}
.text-regular{
    font-family: 'proxima-nova-regular', sans-serif;
}
.text-extra-bold{
    font-family: 'proxima-nova-extra-bold',sans-serif;
    }


/*
Anupama Css on 22nd june
*/
/*  color properties    */
.g-background-offwhite{
    background:#f7f5eb !important;
}
.g-background-white{
    background: #fff !important;
}
.g-background-green{
    background: #a2dd9e !important;
}
.g-background-darkgreen{
    background: #8cc687 !important;
}
.g-background-blue{
    background:#6de2e2 !important;
}
.g-background-yellow{
    background:#f9ebaa !important;
}
.g-background-nutral-green{
    background-color:#BBE1EF !important;
}
.g-color-black{
    color: #333 !important;
}
.g-color-white{
    color:white;
}
.g-color-offwhite{
    color: #f7f5eb;
}
.g-color-txt-lightgrey{
    color:#CBCABC;
}
.g-color-darkgrey{
    color: #6d6d6d;    
}
.g-color-yellow{
    color:#f9e446;
}
.g-color-darkgreen{
    color:#7db277;
}
.g-fill-darkgrey{
    fill:#6d6d6d;
}
.g-stroke-lightgrey{
    stroke:#f7f5eb;
}
.g-stroke-darkgrey{
    stroke:#6d6d6d;
}
.g-stroke-blue{
    stroke:#6de2e2;
}
.g-stroke-nutral-green{
    stroke:#BBE1EF;
}

/* gridle scroll bar */
.g-scrollbar::-webkit-scrollbar{
    width:5px;
    background: none;
}
.g-scrollbar::-webkit-scrollbar-thumb{
    background-color:#6de2e2;
    border-radius: 10px;
}
.g-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #67A7EF;
}
.g-scrollbar::-webkit-scrollbar-thumb:active{
    background: #67A7EF;
}
.g-scrollbar::-webkit-scrollbar-track{
    border-radius: 20px;
}
.g-scrollbar::-webkit-scrollbar-thumb:window-inactive{
    background:none;   
}
.g-scrollbar::-webkit-scrollbar-button{

}
.g-scrollbar::-webkit-scrollbar-track-piece{

}
.g-scrollbar::-webkit-scrollbar-corner{

}
.g-scrollbar::-webkit-resizer{

}

::-webkit-scrollbar{
    width:5px;
    background: none;
}
::-webkit-scrollbar-thumb{
    background-color:#6de2e2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #67A7EF;
}
::-webkit-scrollbar-thumb:active{
    background: #67A7EF;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background:none;   
}

/*  special text css        */
.g-text-capitalcase{
    text-transform: capitalize;
}
.g-text-uppercase{
    text-transform: uppercase;
}
.g-text-comma-trail
{
    padding-right: 2px;
    white-space:nowrap;
}
.g-text-comma-trail:after
{
    content: ',';
}
.g-text-comma-trail:last-of-type:after
{
    content:'';
}

.g-user-initial-image{
    @include border-radius(200px);
    display:inline-block;
    margin-right:5px;
   }
.g-user-initial-img{
    @include border-radius(200px);
    display:inline-block;
    background : $bg-green;
    color : $white;
    text-align:center;
    width:25px;
    height:25px;
    line-height:25px;
    text-align:center;
    margin-right:5px;
 }
.g-group-initial-img{
    @include border-radius(200px);
    display:inline-block;
    background : $dark-green;
    color : $white;
    text-align:center;
    margin-right:5px;
 }

 .add-border-up{
    border-top : 1px solid $offwhite;
    border-top : 1px solid rgba(255,255,255,0.5);
}
.add-border-down{
    border-bottom : 1px solid $offwhite;
    border-bottom : 1px solid rgba(255,255,255,0.5);
}


/*Bootstrap fixes   */
.navbar-nav .open .dropdown-menu{
    background-color:white;
    border : 1px solid rgba(0, 0, 0, 0.15);
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
}

#authMessage{
    color : $brand-danger;
}
.message{
    color : $brand-danger;   
}
.error-message{
    color : $brand-danger;
}
