@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

$default-font : 'Ubuntu', sans-serif;
$default-heading : 'Roboto', sans-serif;